## 所有函數擺放在這!!

In [4]:
import pandas as pd
import numpy as np
import datetime
import _beowSet as bs

#import beow.beow_stocks as beow
from finlab.data import Data
from datetime import date,timedelta
import math
from talib import abstract


data = Data()
price = pd.read_pickle("history/tables/bargin_report.pkl")
pp = price.tail(1)
pp = pp.index.levels[0]
df = data.get("收盤價")

#最後可用的是9962

def getAllStockIds(isAll):
    i=0
    stkIds=[]  #初始化清除歸零
    
    for p in pp:
        arr = p.split(" ")
        stockId = arr[0]
        if (len(stockId)==4):
            #print (i, stockId)
            stkIds.append(stockId)
            i+=1

    #a = np.array(stkIds)
    #b = np.array(failed_stocks)
    #return np.delete(a, b)
    
    res = stkIds if isAll else [i for i in stkIds if i not in bs.remove_stocks] 
    res2 = set(res)
    print(len(stkIds), len(bs.remove_stocks), "去重複之前:",len(res), "去除重複之後:", len(res2) )  
    return sorted(res2)

def getStockName(n):
    for p in pp:
        if n in p:
            arr = p.split(" ")
            return arr[1]


### 描述均線函數 ############################################################

def DisplayNameMA(v):
    return { 5: "週", 20: "月", 60: "季", 240: "年",}.get(v,'error')

#判斷是否禮拜天? 如果是自動跳到上周五....但有國定假日就不行了。
def whatIsToday(diff_days, iYesterday):
    #參數 day: 距離今天多少天起
    today = date.today() - timedelta(days= diff_days)
    yesterday = date.today() - timedelta(days= diff_days + iYesterday)
    
    #如果是周日，再往前推兩天...未來如果有國定家日 可以另外再寫出來。
    if(yesterday.weekday()==6):
        yesterday = yesterday-timedelta(days=2)
        
    if(str(yesterday)=="2020-01-01"):
        yesterday = yesterday-timedelta(days=1)
    return str(today), str(yesterday), date.today().weekday()

        
def getMA_infor(today, yesterday, maRoll, days):
    fore = 0                        #前半段
    back = 0                        #後半段
    ratio = 0                       #曲率
    dscr =""                        #均線描述
    sep = 3
    i=1
    
    for c in reversed(maRoll):
        if(i<=sep):
            fore += c
        elif (i <= sep*2 and i >= sep):
            back += c
        i+=1
        
    td1= 1 if (math.isnan(maRoll[today])) else maRoll[today]
    td2= maRoll[yesterday]
    td_diff = td1 - td2
    td_slope=round((td1 - td2)/td2*100 ,2)
        
    diff = round(fore - back, 2)
    ratio = round(diff / back * 100, 2)
    
    dscr += DisplayNameMA(days)
    
    if(abs(ratio) <= 0.04):                 #長均區間
        dscr += "－," + str(ratio)
    else:
        if(td_diff>0):
            dscr += "↗," + str(td_slope)+""
        if(td_diff<0):
            dscr += "↘," + str(td_slope)+""
        
    if(dscr=="季"):
        dscr="季?,"
    if(dscr=="年"):
        dscr="年?,"
        
    #print(days,today,yesterday,round(fore,4),round(back,4),ratio) #,td1,td2,td_diff)        
    
    return round(td1,2), dscr , td_diff



def diffRatio(w1,m1,q1,y1 ,wd,md,qd,yd, wr,mr,qr,yr):    
    #精準描述均線的排列---------
    wmqy_dscr = wd+","+md+","+qd+","+yd          #不按照大小排列
    wmqy_dscr2 = ""                              #有按照大小排列
    dic = { wd : w1, md : m1, qd : q1, yd: y1 }  #以dict作為排列的工具
    dic2 = { k: v for k, v in sorted( dic.items(), key=lambda item: item[1], reverse = True )}
    for k in dic2.keys():
        wmqy_dscr2 += k + ","
    
    return wmqy_dscr, wmqy_dscr2 #, ma_tangle, predict


def isFlatMA(today, yesterday, stockId, close):
#     close = data.get("收盤價")[stockId]

    ma1 = close[-700 :]                   #ma1  收盤價
    #ma05r  = ma1.rolling(5).mean()     #ma5   週均線
    #ma20r  = ma1.rolling(20).mean()     #ma20  月均線
    #ma60r  = ma1.rolling(60).mean()     #ma60  季均線
    #ma240r = ma1.rolling(240).mean()   #ma240 年均線
    
    #自2021-02-16開始全面使用EMA指數均線
    ma05r = ma1.ewm(span=5, adjust=False).mean()
    ma20r = ma1.ewm(span=20, adjust=False).mean()
    ma60r = ma1.ewm(span=60, adjust=False).mean()
    ma240r = ma1.ewm(span=240, adjust=False).mean()
    
    
    wv, wd, wr = getMA_infor(today, yesterday, ma05r,5)
    mv, md, mr = getMA_infor(today, yesterday, ma20r,20)
    qv, qd, qr = getMA_infor(today, yesterday, ma60r,60)
    yv, yd, yr = getMA_infor(today, yesterday, ma240r,240)
    
    if(math.isnan(mv)):
        dscr, dscr2 = "序列不連續無法計算","?","?","?"
    else:
        dscr, dscr2 = diffRatio(wv,mv,qv,yv,    wd,md,qd,yd,    wr,mr,qr,yr)
    
    return wv, mv, qv, yv, dscr, dscr2 # , ma_tangle, predict, 

#僅丟入收盤價(close)、成交量(volumns) 就能夠計算次箱位置
def getCriticalBox(today, yesterday, datediff, stockId, day, closes, volumns):
    #volumns = data.get("成交股數")[stockId]
    #closes = data.get("收盤價")[stockId]
    _day=0
    ori_today, yesterday, whatDay = whatIsToday(datediff , 1)   # 這邊如果沒有回溯 ，要改為跟datediff相同!!
    mmd1 = volumns.index.get_loc(today)
    mmd2 = volumns.index.get_loc(ori_today)
    _datediff = mmd1 - mmd2                              # 因為周休沒有交易 所以要計算實際交易的天數。
        
    if(day == -20):
        _datediff = -1 if (_datediff == 0) else _datediff
        _day = _datediff + day
        m_prd_stocks = volumns[ _day : _datediff]
        
    if(day == -60):
        _day = _datediff + day
        m_prd_stocks = volumns[ _day : _datediff - 40]
        
    if(day == -240):
        _day = _datediff + day - 60
        m_prd_stocks = volumns[ _day : _datediff - 180]
    
    vmax = m_prd_stocks[volumns == m_prd_stocks.max()]   #關鍵在哪一天? 量最大!!?
    vmin = m_prd_stocks[volumns == m_prd_stocks.min()]   #關鍵在哪一天? 量最大!!?
    
#     print(stockId, day, vmax, vmin)
    
    if (vmax.empty == True):
        vmax_str = "error date"
        boxV = 1
    else:
        vmax_str = vmax.index[0].strftime("%Y-%m-%d")
        boxV = closes[vmax.index][0]    
        
    if (vmin.empty == True):
        vmin_str = "error date"
        boxV2 = 1
    else:
        vmin_str = vmin.index[0].strftime("%Y-%m-%d")
        boxV2 = closes[vmin.index][0]
    
    
    #次箱關鍵
#     if(day==-240):
#         print(vmax.index[0].strftime("%Y-%m-%d") , boxV[0], vmin.index[0].strftime("%Y-%m-%d"), boxV2[0])
    
    return  vmax_str, boxV, vmin_str, boxV2

## 抓出真正一個月內的最高點、一季內的最高點、一年內的最高點。
def getTopBoxByClose(today, yesterday, datediff, stockId, day, closes, volumns):
    #volumns = data.get("成交股數")[stockId]
    #closes = data.get("收盤價")[stockId]
    _day=0
    ori_today, yesterday, whatDay = whatIsToday(datediff , 1)   # 這邊如果沒有回溯 ，要改為跟datediff相同!!
    mmd1 = closes.index.get_loc(today)
    mmd2 = closes.index.get_loc(ori_today)
    _datediff = mmd1 - mmd2                              # 因為周休沒有交易 所以要計算實際交易的天數。
    _datediff = -1 if (_datediff == 0) else _datediff
    
    
    if(day == -20):
        _day = _datediff + day
        m_prd_stocks = closes[ _day : _datediff]
        
    if(day == -60):
        _day = _datediff + day -20
        m_prd_stocks = closes[ _day : _datediff - 40]
        
    if(day == -240):
        _day = _datediff + day - 60
        m_prd_stocks = closes[ _day : _datediff - 180]      
    
    vmax = m_prd_stocks[closes == m_prd_stocks.max()]   #關鍵在哪一天? 量最大!!?
    vmin = m_prd_stocks[closes == m_prd_stocks.min()]   #關鍵在哪一天? 量最大!!?
    
    
    
    if (vmax.empty == True):
        vmax_str = "error date"
        boxV = 1
    else:
        vmax_str = vmax.index[0].strftime("%Y-%m-%d")
        boxV = closes[vmax.index][0]    
        
    if (vmin.empty == True):
        vmin_str = "error date"
        boxV2 = 1
    else:
        vmin_str = vmin.index[0].strftime("%Y-%m-%d")
        boxV2 = closes[vmin.index][0]
    
#     print(vmax_str, vmax)
    
    return  vmax_str, boxV, vmin_str, boxV2


#確認是否共振?
def checkBoxResonance(today,yesterday,datediff,stockId,closes,volumns):    
    m, q, y = -20, -60, -240 #分別為月、季、年級數
    
#     md, mv, md2, mv2 = getCriticalBox(today,yesterday,datediff,stockId,m,closes,volumns)
#     qd, qv, qd2, qv2 = getCriticalBox(today,yesterday,datediff,stockId,q,closes,volumns)
#     yd, yv, yd2, yv2 = getCriticalBox(today,yesterday,datediff,stockId,y,closes,volumns)
    md, mv, md2, mv2 = getTopBoxByClose(today,yesterday,datediff,stockId,m,closes,volumns)
    qd, qv, qd2, qv2 = getTopBoxByClose(today,yesterday,datediff,stockId,q,closes,volumns)
    yd, yv, yd2, yv2 = getTopBoxByClose(today,yesterday,datediff,stockId,y,closes,volumns)
    
    
    #print(yd,yv,yd2, yv2)
    mq_r = round((mv-qv)/qv ,4)
    qy_r = round((qv-yv)/yv ,4)
    my_r = round((mv-yv)/yv ,4)
    
    msg = ""
    sens = 0.02  #形容均線之間緊密度，這可隨狀況調整。
    
    if(abs(mq_r) < sens):
        msg+="、月季"
        i+=1
    if(abs(qy_r) < sens):
        msg+="、季年"
        i+=1
    if(abs(my_r) < sens):
        msg+="、月年"
        i+=1
        
    if(i==1 or i==2):
        msg+="關鍵點位共振"
    
    if(i==3):
        msg="月、季、年關鍵點位共振"
    
#     print("月關鍵:", md, mv, md2, mv2, "季關鍵:", qd, qv, qd2, qv2, "年關鍵:", yd, yv, yd2, yv2, msg[1:])  #檢查所有明細
    #print(abs(mq_r), abs(qy_r), abs(my_r), msg)  #檢查是否有級數共振!?
    return md, mv, md2, mv2,    qd, qv, qd2, qv2,    yd, yv, yd2, yv2,  msg[1:]


###### K棒是否壓過目標?     ##############
def isCover(active,k_begin,k_end,target):
    dscr = active
    return dscr if ((k_begin >= target and target >= k_end) or (k_end >= target and target >= k_begin) ) else "" 


def checkSimpleInfo(today,yesterday,datediff,stockId):
    o = data.get("開盤價")[stockId][today]    #open
    c = data.get("收盤價")[stockId][today]    #close
    yc = data.get("收盤價")[stockId][yesterday]    #close
    v = data.get("成交股數")[stockId][today]  #volumn
    #print(data.get("收盤價")[stockId])
    h = data.get("最高價")[stockId][today]    #high
    l = data.get("最低價")[stockId][today]    #low
    v = 1 if( math.isnan(v) == True ) else int(v/1000)  #張數  
    kbar = "紅K" if(c>o) else "綠K"
    
    return kbar, o, yc, c, h, l, v
            
def talib2df(talib_output, ma1):
    if type(talib_output) == list:
        ret = pd.DataFrame(talib_output).transpose()
    else:
        ret = pd.Series(talib_output)
    ret.index = ma1.index
    return ret;

def isCoverMA(today, yesterday,datediff, stockId):
    
    
    volumn = data.get("成交股數")[stockId]
    close = data.get("收盤價")[stockId]
    high = data.get("最高價")[stockId]
    low = data.get("最低價")[stockId]
    tailNum = 30
    ma1 = close.tail(tailNum)
    kd = talib2df(abstract.STOCH(high.tail(tailNum), low.tail(tailNum), ma1, fastk_period=9), ma1) #計算KD  
    
    c = close[today]                       #今天收盤價
    o= data.get("開盤價")[stockId][today]   #今日開盤價
    h = high[today]                        #今日最高價
    l = low[today]                         #今日最低價
    k = round(kd.tail(1)[0][today], 2)
    d = round(kd.tail(1)[1][today], 2)
    k =  0 if (math.isnan(k)) else k
    d =  0 if (math.isnan(d)) else d
    print("日KD", k, d, kd)
    yc = close[yesterday]                  #昨天收盤價
    yh = high[yesterday]                  #昨天最高價
    yl = low[yesterday]                  #昨天最低價

    v = int(volumn[today]/1000)            #張數
    
#     k = round(o-c ,2)
    
    #ma1 = close.tail(1000)                    #ma1  收盤價
    #ma1 =round(ma1[today],3)
    ma5, ma20, ma60, ma240, ma_dscr, ma_dscr2 = isFlatMA(today, yesterday, stockId, close)
      
    
    fd = ma_dscr.split(",")
    # mma, imma,     qma, iqma,    yma, iyma = fd[0],fd[1],    fd[2],fd[3],  fd[4],fd[5]
    # wma, mma, qma, yma= fd[0], fd[1], fd[2], fd[3]
    
    bar = "紅K" if(c>o) else "綠K"
    
    #取得六個關鍵點位! 這個有很大的問題!!!@2021-4-9移除
#     md,mv,md2,mv2,  qd,qv,qd2,qv2,  yd, yv,yd2,yv2,  box_msg = checkBoxResonance(today, yesterday, datediff, stockId, close, volumn)
    iGap, gap = 0,""
    amplitude = round((h-l)/c * 100,2)
    
    #描述跳空缺口
    if(l > yh):
        gap = "向上跳空" 
        iGap = round(l - yh ,2)
    elif(h < yl):
        gap = "向下跳空"
        iGap = round(yl - h ,2)
    
    #indication += str(amplitude)+"%"
    
    #乾淨度，明日可能維持原方向 
    isClean = ("明天續漲" if(c == h) else "") if(bar=="紅K") else ("明天續跌" if(c == l) else "")
    
    #計算扣抵值
    ddu5 = close[-5 :].head(1).values[0]
    ddu10= close[-10 :].head(1).values[0]
    ddu20= close[-20 :].head(1).values[0]
    ddu60= close[-60 :].head(1).values[0]
    ddu240 = close[-240 :].head(1).values[0]
    
    ddu5 =  0 if (math.isnan(ddu5)) else ddu5
    ddu10 = 0 if (math.isnan(ddu10)) else ddu10
    ddu20 = 0 if (math.isnan(ddu20)) else ddu20
    ddu60 = 0 if (math.isnan(ddu60)) else ddu60
    ddu240 = 0 if (math.isnan(ddu240)) else ddu240
#     ddu_result = "大於所有扣抵值" if (c >= ddu5 and c>=ddu10 and c >= ddu20 and c >=ddu60 and c>=ddu240) else "" 
    
    
#     print(today, c , ddu5,ddu10,ddu20,ddu60,ddu240)
#     print("分析均線:", today, o , c , h, k) 
#     print("月季年均線:",ma20,ma60,ma240)    
    return bar, ma5, ma20, ma60, ma240, gap, iGap, amplitude, isClean, ma_dscr, ma_dscr2 , ddu5, ddu10, ddu20, ddu60, ddu240,k,d


#寫入到資料庫中.....
def InsertIntoMSSQL2017(sql):
    server = 'SQL5059.site4now.net'
    database = 'DB_9AB840_Vague'
    username = 'DB_9AB840_Vague_admin'
    password = 'Apple005'
    driver= '{ODBC Driver 13 for SQL Server}'
    cnxn = pyodbc.connect('DRIVER='+driver+';PORT=1433;SERVER='+server+';PORT=1443;DATABASE='+database+';UID='+username+';PWD='+ password)
    cursor = cnxn.cursor()
    
    cursor.execute(sql)
    cursor.commit()
        
price = pd.read_pickle("history/tables/bargin_report.pkl")

def getStockVolumns(stockId, i):
    #變數i代表倒退幾天?
    nn = stockId+" "+ getStockName(stockId)
    i = i * -1    
    j = i - 1
    sql = ""
    
    try:
        pp = price.loc[nn][-1:] if (i==0) else price.loc[nn][j:i]
        #print(price.log[nn])
        
        dealer = int(int( pp["自營商買賣超股數(自行買賣)"] )/1000)
        dealer2 = int(int( "0" if (math.isnan( pp["自營商買賣超股數(避險)"])) else pp["自營商買賣超股數(避險)"]  )/1000)
        ic     = int(int( pp["投信買賣超股數"])/1000)
        fc     = int(int( pp["外陸資買賣超股數(不含外資自營商)"])/1000)
        
        dt     = pp.index[0].strftime("%Y-%m-%d")
        sql = "insert into volumn(stockId,closeDate,fc,ic,dealer) values ('{0}','{1}',{2},{3},{4}); "
        sql = sql.format(stockId, dt, fc, ic, dealer + dealer2)
#         print("/*", nn, "外資:",fc,",投信:", ic, ",自營商:",dealer,"*/", sql)
        return sql
#         InsertIntoMSSQL2017(sql)
        
     
    except Exception as e:
        error_class = e.__class__.__name__            #取得錯誤類型
        detail = e.args[0]                            #取得詳細內容
        cl, exc, tb = sys.exc_info()                  #取得Call Stack
        lastCallStack = traceback.extract_tb(tb)[-1]  #取得Call Stack的最後一筆資料
        fileName , lineNum, funcName = lastCallStack[0], lastCallStack[1], lastCallStack[2]  #取得發生的檔案名稱、取得發生的行號、取得發生的函數名稱
        errMsg = "/* File \"{}\", line {}, in {}: [{}] {}  */".format(fileName, lineNum, funcName, error_class, detail)
        print(stockId, errMsg, sql) 
        return "/* Error "+ stockId + "-" + getStockName(stockId) +"*/"
    except:
        print("/* 三大法人非預期的錯誤", sys.exc_info()[0], "*/")


dateDiff = 1

today, yesterday, whatDay = whatIsToday(dateDiff,1)
print(today, yesterday, whatDay)
# print(isCoverMA(today, yesterday, dateDiff, "2211"))
print(checkSimpleInfo(today, yesterday,0,"3426"))             #檢查今天有無最新三大法人?
#o = #data.get("開盤價").tail()
#print(o)                                      #檢查今天有無最新股價?

2021-11-12 2021-11-11 5
('綠K', nan, 38.9, nan, nan, nan, 0)

## 真正執行全部

In [ ]:
import os
from colorama import Fore,Style
import sys
import traceback
import csv
import pyodbc
import time


def findTrendStock(today, yesterday, datediff):
    i=1
    #csvFileName = "out_csv/股票預測分析_"+datetime.datetime.now().strftime("%Y%m%d-%H%M%S")+".csv"
    #f= open(csvFileName,"w", encoding="utf-16")
    #writer = csv.writer(f, delimiter=",")
    #stockIds2 =["3563","4966","6186","6452","6732","8112"]
    
    for stockId in stockIds:

#         vsql = getStockVolumns(stockId,0)  #儲存三大法人資料
#         InsertIntoMSSQL2017(vsql)
        
        if(stockId >= "6680" and stockId <="9980"):
            stockPrice = df[stockId][today]

            try:
                #初步先過濾簡單目標--------------------------------------------------
                kbar, o, yc, close, high, low, volumn = checkSimpleInfo(today, yesterday, datediff, stockId)
                 
                if(close > 12 and volumn > 200):                    
                    kbar, ma5, ma20, ma60, ma240, mbv, qbv, ybv, mbdt, qbdt, ybdt, gap, iGap, amplitude, isClean, box_msg, ma_dscr, ma_dscr2, ma_tangle, predict = isCoverMA(today, yesterday, datediff, stockId)
                    
                    i+=1
                    stockName = getStockName(stockId)
                    print (i, stockId, stockName, Fore.RED if(kbar=="紅K") else Fore.GREEN , close, "數量", volumn, gap, Fore.YELLOW, isClean, box_msg, ma_dscr2, "", ma_tangle, predict,  Style.RESET_ALL)                        
                    sql = """insert into StockParas (
                                             stockId, closeDate, v, o, c, high, low, yc,
                                             ma5, ma20, ma60, ma240,
                                             mbv, qbv, ybv, mbdt, qbdt, ybdt,
                                             gap, amplitude, isClean, box_msg, 
                                             ma_dscr, ma_alignment, ma_tangle, predict, iGap) values (
                                             '{0}', '{1}', {2}, {3}, {4}, {5}, {6}, {7},
                                             {8}, {9}, {10}, {11},
                                             {12}, {13}, {14}, '{15}', '{16}', '{17}',
                                             N'{18}',  N'{19}',  N'{20}',  N'{21}',  
                                             N'{22}',  N'{23}',  N'{24}',  N'{25}', {26});"""; 
                    sql = sql.format(stockId, today, volumn, o, close, high, low, yc, ma5, ma20, ma60, ma240, mbv, qbv, ybv, mbdt, qbdt, ybdt, gap, amplitude, isClean, box_msg, ma_dscr2, "", ma_tangle, predict, iGap )    
                    InsertIntoMSSQL2017(sql)      #同時寫入兩個指令

            except Exception as e:
                error_class = e.__class__.__name__ #取得錯誤類型
                detail = e.args[0] #取得詳細內容
                cl, exc, tb = sys.exc_info() #取得Call Stack
                lastCallStack = traceback.extract_tb(tb)[-1] #取得Call Stack的最後一筆資料
                fileName , lineNum, funcName = lastCallStack[0], lastCallStack[1], lastCallStack[2]  #取得發生的檔案名稱、取得發生的行號、取得發生的函數名稱
                errMsg = "File \"{}\", line {}, in {}: [{}] {}".format(fileName, lineNum, funcName, error_class, detail)
                print(stockName, errMsg, sql)


_start = time.strftime("%Y-%m-%d %H:%M:%S", time.localtime())

datediff, iYesterday, stockIds, vsql, i = 0  , 1, [], "", 0
stockIds = getAllStockIds(False)
today, yesterday, whatDay = whatIsToday(datediff, iYesterday)   #今天是什麼日期? 前天交易日?
print(today, yesterday, whatDay, "開始", _start)

# findTrendStock(today, yesterday, datediff)
getStockVolumns("5425", 0)

j=0
for stockId in stockIds:
    if(stockId >="4939" and stockId <="5430"):
        stockName = getStockName(stockId)
        i+=1
        if(j < 20):
            vsql += getStockVolumns(stockId, 0)
            j += 1
        else:
            print(i, vsql)
            #InsertIntoMSSQL2017(vsql)                #一次輸入給SQL新增。更快!! 但是送到遠端SQL會有遺漏?
            j = 0
            vsql = ""
    
# print("結束", time.strftime("%Y-%m-%d %H:%M:%S", time.localtime()))

### YesWin上的註記　寫入到ＤＢ內

In [ ]:
import pyodbc
import os.path
from os import path

def readYesWinComment(stockId):
    i=0
    ss=""
    csvFileName = "C:/case/yeswinconfig/memo/" + stockId + ".TXT"
    ss, tag, dscr = "", "notastr",""
    
    if(path.exists(csvFileName)):
        fp = open(csvFileName,"r", encoding="utf-8")
        line = fp.readline()

        ## 用 while 逐行讀取檔案內容，直至檔案結尾
        while line:
            line = fp.readline()
            iBegin = line.find("[") + 1
            iEnd = line.find("]")
            iDiff = iEnd - iBegin
            i+=1
            if(iEnd > 0):
                tag = line[iBegin : iEnd]
#                 print(i, iBegin, iEnd, tag)
                ss += line.replace("["+tag+"]","")
            else:
                ss+= line
    #     print(tag, ss)
        fp.close()
    return tag, dscr
    #writer = csv.writer(f, delimiter=",")
    
    
#for row in cursor.fetchall():
#     print (str(row[0]), str(row[1]),  str(row[2]) )
#     rows = cursor.fetchone()

i=0
for stockId in stockIds:
    stockName = getStockName(stockId)
    i += 1
    tag, dscr = readYesWinComment(stockId)
    if(tag != "notastr"):
        sql = "insert into Tag (id,stockId,tag,dscr,createdDate) values (substring(replace(newid(),'-',''),1,16),{0},'{1}','{2}',getdate())"
        sql = sql.format(stockId, tag, dscr)
        InsertIntoMSSQL2017(sql)
        print(i , stockId, stockName, tag)
    
# readYesWinComment("1316")

### 找出月營收創新高

In [2]:
import os
import sys
import traceback
import csv
import pyodbc
from colorama import Fore,Style
from finlab.data import Data


stockIds = getAllStockIds(False)
data = Data()

def findMonthInCome(stockId):
    df = data.get("當月營收")[stockId]
    dd = data.get("本益比")[stockId].tail(30)
    d2 = data.get("股本合計")[stockId].tail(1)
    print(d2)
    df = df[df.notna()]         #找出不是nan的資料
    
    thisMM = df.tail(1)[0]
    lastMaxV = df[:-1].max()    #過去最高營收
    q = (df == lastMaxV)
    lastMaxDt = df[q].index[0].strftime("%Y-%m-%d")
    nowDate = df.tail(1).index[0].strftime("%Y-%m-%d")
    
    #print(df)
    return  lastMaxDt, round(lastMaxV/10000,2), nowDate, round(thisMM/10000 ,2), thisMM >= lastMaxV

print(getStockName("4721"),findMonthInCome("4721"))

NameError: name 'getAllStockIds' is not defined

In [ ]:
i=0
for stockId in stockIds:
    if(stockId >= "1000" and stockId <="9990" ):
        try:
            lastMaxDt, lastMaxV, nowDate, nowRvn, isHistMax = findMonthInCome(stockId)
            stockName = getStockName(stockId)
            
            if(isHistMax== True ):
                i += 1
                print(i, stockId, stockName, lastMaxDt, lastMaxV, nowDate, nowRvn, isHistMax)
                
                sql = """
                declare @isExist as int;
                select @isExist = count(*) from maxMMRevenue where stockId={0} and nowDate='{2}';
                
                if @isExist = 0
                begin
                    insert into maxMMRevenue (stockId,stockName,nowDate,nowRvn,lastMaxDate,lastMaxRvn,createdDate) 
                                            values ('{0}',N'{1}','{2}',{3},'{4}',{5},getdate());  
                end
                """
                sql = sql.format(stockId, stockName, nowDate, nowRvn, lastMaxDt, lastMaxV )
                InsertIntoMSSQL2017(sql)                
        except Exception as e:
                error_class = e.__class__.__name__ #取得錯誤類型
                detail = e.args[0] #取得詳細內容
                cl, exc, tb = sys.exc_info() #取得Call Stack
                lastCallStack = traceback.extract_tb(tb)[-1] #取得Call Stack的最後一筆資料
                fileName , lineNum, funcName = lastCallStack[0], lastCallStack[1], lastCallStack[2]  #取得發生的檔案名稱、取得發生的行號、取得發生的函數名稱
                errMsg = "File \"{}\", line {}, in {}: [{}] {}".format(fileName, lineNum, funcName, error_class, detail)
                print(stockName, errMsg)

### 找出季箱頂轉浪成功股票

In [ ]:
# import pandas as pd
import numpy as np
import datetime
from finlab.data import Data
from datetime import date,timedelta
import math
import os
from colorama import Fore,Style
import sys
import traceback
import csv
import pyodbc
import time


def isCover(active,k_begin,k_end,target):
    dscr = active
    return dscr if ((k_begin >= target and target >= k_end) or (k_end >= target and target >= k_begin) ) else "" 

def FindWeekTopBoxByOne(stockId,typ):
    
    try:
        data = Data()
        df = data.get("收盤價")[stockId]
        do = data.get("開盤價")[stockId]
        dl = data.get("最低價")[stockId]
        dh = data.get("最高價")[stockId]
        volumns = (data.get("成交股數")[stockId])/1000

        

        df = df[-1400:]
        dfw = df.resample("W").last() 
        dfw["close"] = df.resample("W").last()  #進行轉換，只取一周中最後一個交易日。
        dfw["open"] = do.resample("W").first()  #進行轉換，只取一周中最後一個交易日。
        dfw["low"] = dl.resample("W").min()  #進行轉換，只取一周中最後一個交易日。
        dfw["high"] = dh.resample("W").max()  #進行轉換，只取一周中最後一個交易日。
        dfw["volumn"] = volumns.resample("W").sum() #這一周的成交股數
        dfw["close"] = dfw["close"].dropna()
        
        yc = round(dfw["close"].iloc[-2].max(),3)
        c = round(dfw["close"].tail(1).max(),3)
        o = round(dfw["open"].tail(1).max(),3)
        l = round(dfw["low"].tail(1).max(),3)
        h = round(dfw["high"].tail(1).max(),3)
        v = round(dfw["volumn"].tail(1).max(),3)
        
#         print(dfw["close"].iloc[-3].max() )
#         print(dfw["close"].iloc[-2].max() )
        ma4  = round( dfw["close"].rolling(4).mean().tail(1).max(), 3)
        ma13 = round( dfw["close"].rolling(13).mean().tail(1).max(), 3)
        ma52 = round( dfw["close"].rolling(52).mean().tail(1).max(), 3)

        ma13box_week = dfw["volumn"][dfw["volumn"]==dfw["volumn"][-13:].max()]
        ma52box_week = dfw["volumn"][dfw["volumn"]==dfw["volumn"][-52:].max()]

        ix_ma13 = ma13box_week.index[0].strftime("%Y-%m-%d")
        ix_ma52 = ma52box_week.index[0].strftime("%Y-%m-%d")
        ma13bt =dfw["close"][ix_ma13]
        ma52bt =dfw["close"][ix_ma52]

#         print(stockId, "最佳轉浪走C段的買點", "(季)時間/價位:", ix_ma13, ma13bt,  "(年)時間/價位:", ix_ma52, ma52bt)
        return "",yc, o, h, l, c,v, ix_ma13, ma13bt, ix_ma52, ma52bt, ma4, ma13, ma52
    
    except Exception as e:
        error_class = e.__class__.__name__            #取得錯誤類型
        detail = e.args[0]                            #取得詳細內容
        cl, exc, tb = sys.exc_info()                  #取得Call Stack
        lastCallStack = traceback.extract_tb(tb)[-1]  #取得Call Stack的最後一筆資料
        fileName , lineNum, funcName = lastCallStack[0], lastCallStack[1], lastCallStack[2]  #取得發生的檔案名稱、取得發生的行號、取得發生的函數名稱
        errMsg = "File \"{}\", line {}, in {}: [{}] {}".format(fileName, lineNum, funcName, error_class, detail)
        stockName = getStockName(stockId)
        print(stockId, stockName, errMsg) 
    


def CrossWeekTopBox(_start, _end, today, yesterday, datediff):
    errsql, wsql, i = "", "", 0
    sql_init ="""insert into WKBT (id,stockId,closeDate,kbar    ,v,o,c,h,l            ,ma4,ma13,ma52,ma13bt, ma52bt   ,ma13dt,ma52dt,dscr,createDate)
                           values (newid(),{0},'{1}','{2}'     ,{3},{4},{5},{6},{7}   ,{8},{9},{10},{11},{12}         ,'{13}','{14}','{15}',getdate()); \n"""
    j=0
    for stockId in stockIds:
        if(stockId >= _start and stockId <= _end):
            
            try:
                errmsg, yc, o, h, l, c,v, ix_ma13, ma13bt, ix_ma52, ma52bt, ma4, ma13, ma52 = FindWeekTopBoxByOne(stockId)
                kbar = "紅K" if (c>o) else "綠K"
                
                ss1, ss2, ss3 = "","",""
                
                ss1 = isCover(",壓過", c, o, ma13bt) + isCover(",跨過", c, yc, ma13bt)
                ss1 = "," if (ss1 == "") else "," + kbar + ss1+"季箱頂(" + str(ma13bt) +")"

                ss2 = isCover(",壓過", c, o, ma52bt) + isCover(",跨過", c, yc, ma52bt)
                ss2 = "," if (ss2 == "") else "," + kbar + ss2+"年箱頂(" + str(ma52bt) +")"

                #計算下針碰到ma4均線
                b1 = o if (kbar=="紅K") else c
                ss3 = isCover(","+kbar+"下針壓過ma4均", b1, l, ma4) + isCover(","+kbar +"下針壓過ma13均", b1, l, ma13) 

                ss = ss1[1:] + ss2[1:] + ss3[1:]

                
                sql = sql_init
                ma4= "null" if (math.isnan(ma4)) else ma4
                ma13= "null" if (math.isnan(ma13)) else ma13
                ma52= "null" if (math.isnan(ma52)) else ma52
                ma13bt= "null" if (math.isnan(ma13bt)) else ma13bt
                ma52bt= "null" if (math.isnan(ma52bt)) else ma52bt
                
                if(math.isnan(c) or math.isnan(h) or math.isnan(l) or math.isnan(v) or math.isnan(o)):
                    errsql = sql
                else:
                    if (j < 50):
                        sql = sql.format(stockId ,today, kbar, v, o, c, h, l, ma4, ma13, ma52, ma13bt, ma52bt, ix_ma13, ix_ma52, ss)
                        wsql += sql
                        j += 1
                    else:
                        print(i, wsql)
                        InsertIntoMSSQL2017(wsql)
                        j = 0
                        wsql = ""
                i += 1
                
#                 stockName = getStockName(stockId)
#                 print("/*", i, stockId, stockName, sql , "*/")
                    
            except Exception as e:
                error_class = e.__class__.__name__            #取得錯誤類型
                detail = e.args[0]                            #取得詳細內容
                cl, exc, tb = sys.exc_info()                  #取得Call Stack
                lastCallStack = traceback.extract_tb(tb)[-1]  #取得Call Stack的最後一筆資料
                fileName , lineNum, funcName = lastCallStack[0], lastCallStack[1], lastCallStack[2]  #取得發生的檔案名稱、取得發生的行號、取得發生的函數名稱
                errMsg = "File \"{}\", line {}, in {}: [{}] {}".format(fileName, lineNum, funcName, error_class, detail)
                stockName = getStockName(stockId)
#                 print(stockId, stockName, errMsg, errsql) 
                wsql += "/*" + errMsg + "*/ \n"
            except:
#                 print("/*無法預期的錯誤 */", sys.exc_info()[0])
                wsql += "/*無法預期的錯誤 " + sys.exc_info()[0] +"*/ \n"
#     return wsql

            
#-------------------------------------------------
from datetime import datetime
datediff, iYesterday, stockIds = 0 , 4, []
stockIds = getAllStockIds(False) #取得所有有效能夠計算的股票代號
today, yesterday, whatDay = whatIsToday(datediff, iYesterday)          #今天是什麼日期? 倒退幾天?
print(today, yesterday)

# FindWeekTopBoxByOne("3680")

start =time.strftime("%Y-%m-%d %H:%M:%S", time.localtime())
print("開始", start)
CrossWeekTopBox("1000","9980",today, yesterday, datediff)    
print("開始", start)
print("結束", time.strftime("%Y-%m-%d %H:%M:%S", time.localtime()))

## 計算月K資料+KD

In [2]:
ss="@qwerqwerqwer"
#print(a[1:])

from datetime import datetime
a = datetime.now()
b = datetime.now()
#b = datetime.now()
c = (b-a).microseconds
print(a, b, c)

### 計算月K資料

import pyodbc
import sqlalchemy
import pyodbc
from sqlalchemy.engine import URL
from sqlalchemy import create_engine, event
from talib import abstract

#engine = sqlalchemy.create_engine("mssql+pyodbc://DB_9AB840_Vague_admin:Apple005@SQL5059.site4now.net?driver=ODBC+Driver+17+for+SQL+Server")

#connection_string = "DRIVER={SQL Server Native Client 10.0};SERVER=SQL5059.site4now.net;DATABASE=DB_9AB840_Vague;UID=DB_9AB840_Vague_admin;PWD=Apple005"
#connection_url = URL.create("mssql+pyodbc", query={"odbc_connect": connection_string})
#engine = create_engine(connection_url)

engine = create_engine(
    "mssql+pyodbc://DB_9AB840_Vague_admin:Apple005@SQL5059.site4now.net/DB_9AB840_Vague"
    "?driver=ODBC+Driver+17+for+SQL+Server"
)

stockIds = getAllStockIds(False)
#print(pd.__version__)

def talib2df(talib_output, ma1):
    if type(talib_output) == list:
        ret = pd.DataFrame(talib_output).transpose()
    else:
        ret = pd.Series(talib_output)
    ret.index = ma1.index
    return ret;

for stockId in stockIds:
    #print(i,stockId)
    if stockId >= "1000":
        
#         print(stockId)
        df = data.get("收盤價")[stockId]
        do = data.get("開盤價")[stockId]
        dl = data.get("最低價")[stockId]
        dh = data.get("最高價")[stockId]
        volumns = round(data.get("成交股數")[stockId] /1000)
        
        ttp="M"
        dfw = df.resample(ttp).last() 
        dfw["stockId"] = stockId
        dfw["close"] = df.resample(ttp).last()  #進行轉換，只取一周中最後一個交易日。
        dfw["open"] = do.resample(ttp).first()  #進行轉換，只取一周中最後一個交易日。
        dfw["low"] = dl.resample(ttp).min()  #進行轉換，只取一周中最後一個交易日。
        dfw["high"] = dh.resample(ttp).max()  #進行轉換，只取一周中最後一個交易日。
        dfw["volumn"] = volumns.resample(ttp).sum() #這一周的成交股數
        dfw["close"] = dfw["close"].dropna()
        dfw["high"] = dfw["high"].dropna()
        dfw["low"] = dfw["low"].dropna()
        
        ma1 = dfw["close"]
        ma04r = round(ma1.ewm(span=4, adjust=False).mean(), 2)
        ma12r = round(ma1.ewm(span=12, adjust=False).mean(), 2)
        ma48r = round(ma1.ewm(span=48, adjust=False).mean(), 2)
        ma120r = round(ma1.ewm(span=120, adjust=False).mean(), 2)
        
#         kdDf = [dfw["high"], dfw["low"], dfw["close"]]
#         kdDf = kdDf.dropna()
#         display(kdDf)
        
        kd = talib2df(abstract.STOCH(dfw["high"], dfw["low"], dfw["close"], fastk_period=9), ma1)
#         j = 3*kd[0]- 2*kd[1]
#         print(abstract.STOCH)
        
        frames = [ dfw["open"], dfw["high"], dfw["low"], dfw["close"], dfw["volumn"], ma04r, ma12r, ma48r, ma120r, round(kd[0],2), round(kd[1],2)]
        
        monthBars = pd.concat(frames, axis=1, keys=["o", "h", "l","c","v","ma4","ma12","ma48","ma120","K","D"])
        idx = monthBars.index
        #monthBars = monthBars.reset_index().drop('index', axis=1)
        monthBars = monthBars.reset_index(drop=True)
        monthBars["stockId"] = stockId
        monthBars["date"] = idx
        monthBars = monthBars.dropna().tail(1)
        display(monthBars)
        
        # write the DataFrame to a table in the sql database
        monthBars.to_sql("monthBarsTmp", engine , if_exists='append')

2021-08-02 21:46:13.559651 2021-08-02 21:46:13.559651 0
1821 231 去重複之前: 1583 去除重複之後: 1571

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,52.7,52.8,52.5,52.8,14023.0,51.65,48.03,42.73,39.62,64.6,62.96,1101,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,51.5,52.2,51.5,51.8,21512.0,50.97,47.76,41.71,38.12,79.95,78.68,1102,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,22.45,22.55,22.2,22.5,645.0,22.34,20.71,17.2,15.73,53.56,57.09,1103,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,22.9,23.0,22.75,23.0,486.0,23.09,22.23,21.08,20.58,33.24,39.59,1104,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,12.95,13.0,12.8,12.95,291.0,13.27,12.59,10.12,9.49,27.84,35.83,1108,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,25.3,25.4,25.0,25.25,1459.0,25.32,23.21,18.34,15.09,55.8,60.85,1109,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,18.4,18.45,17.9,18.3,552.0,17.5,17.05,16.29,15.2,49.15,39.27,1110,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,21.5,21.6,21.3,21.6,1002.0,21.66,21.73,22.79,25.36,29.32,36.94,1201,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,33.8,34.25,33.8,34.2,44.0,34.59,34.33,29.75,25.92,14.03,30.99,1203,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,60.3,60.9,60.1,60.8,2466.0,59.45,54.27,43.29,36.42,86.36,83.79,1210,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,78.7,79.6,78.7,79.5,757.0,78.98,75.44,64.09,48.11,60.47,69.7,1215,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,73.7,74.9,73.4,74.7,11851.0,73.63,71.66,69.43,61.63,79.0,79.68,1216,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,10.85,11.1,10.75,11.1,2756.0,11.08,10.08,8.47,8.54,50.8,58.75,1217,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,29.25,29.4,29.05,29.4,347.0,29.38,27.81,22.56,18.29,57.94,62.89,1218,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,22.65,22.7,22.35,22.6,394.0,22.97,22.04,19.47,17.13,38.68,45.77,1219,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,17.05,17.15,17.0,17.05,267.0,16.74,14.94,12.35,11.29,62.5,65.01,1220,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,44.8,45.95,44.65,45.65,50.0,45.95,43.75,46.54,39.39,39.08,46.06,1225,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,52.8,52.9,52.2,52.8,700.0,53.62,56.53,62.14,63.93,16.4,19.16,1227,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,52.5,52.7,51.9,52.3,1262.0,50.86,46.92,38.69,30.84,87.5,79.84,1229,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,73.5,73.5,71.2,72.0,1058.0,68.24,58.1,45.53,37.51,91.2,88.05,1231,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,167.0,170.0,167.0,169.0,68.0,165.12,150.33,121.21,94.18,76.63,76.05,1232,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,35.0,35.0,34.25,34.5,15.0,34.79,35.38,37.0,38.35,27.63,36.31,1233,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,36.0,36.1,35.85,36.0,177.0,35.71,34.55,32.88,30.95,54.11,54.25,1234,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,34.6,34.6,34.6,34.6,2.0,33.71,30.76,28.9,28.13,84.3,83.7,1235,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,15.1,15.1,15.0,15.05,36.0,15.17,14.59,15.06,17.21,44.77,51.78,1236,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,53.9,54.5,53.9,54.3,32.0,54.42,54.48,51.05,48.74,36.13,38.59,1240,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,510.0,510.0,495.0,499.0,98.0,477.59,400.15,264.72,196.14,90.01,90.1,1256,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,69.8,70.0,69.8,69.9,20.0,69.13,68.82,71.98,86.54,53.5,41.06,1259,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,342.0,347.5,338.0,338.0,42.0,322.88,286.59,241.69,228.59,92.13,92.96,1264,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,135.5,135.5,133.5,134.0,6.0,133.09,131.79,137.04,149.47,76.98,68.68,1268,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,101.0,102.0,100.5,102.0,6379.0,101.43,97.29,94.17,88.38,64.09,69.55,1301,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,88.3,88.8,87.3,88.8,8619.0,85.92,78.67,73.12,69.89,82.45,80.5,1303,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,32.8,33.85,32.6,33.75,6530.0,33.74,28.25,19.27,17.59,64.16,73.62,1304,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,40.1,40.65,39.7,40.55,9170.0,38.9,33.14,25.87,21.22,69.32,68.33,1305,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,23.75,23.75,23.35,23.65,154.0,23.23,22.51,25.05,27.85,58.54,60.81,1307,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,35.95,37.2,35.8,37.0,6665.0,34.67,28.47,21.16,20.84,80.05,82.39,1308,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,43.3,43.75,42.85,43.55,2353.0,43.06,37.25,22.44,15.97,57.2,61.08,1309,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,19.65,19.8,19.45,19.75,1989.0,19.95,19.24,19.42,18.01,50.82,56.61,1310,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,29.35,29.95,28.9,29.75,7288.0,29.17,26.13,22.47,20.03,62.67,66.22,1312,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,26.9,27.7,26.5,27.45,14701.0,26.49,22.07,16.05,15.02,74.97,78.43,1313,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,13.15,13.45,13.05,13.45,25846.0,13.31,11.99,11.14,12.28,56.43,60.31,1314,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,69.4,69.4,69.0,69.0,53.0,70.96,68.2,49.32,37.41,35.75,55.48,1315,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,12.3,12.3,12.1,12.2,410.0,12.24,12.17,13.78,13.98,54.79,52.36,1316,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,36.6,37.05,36.05,36.5,1333.0,36.24,36.8,41.01,41.32,57.29,50.07,1319,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,36.3,36.5,36.05,36.35,108.0,36.55,35.69,32.2,29.54,45.47,48.29,1321,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,34.25,34.35,33.9,34.35,79.0,34.39,33.99,33.6,30.51,58.4,60.68,1323,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,61.7,63.5,60.4,63.5,1443.0,72.84,85.54,62.61,40.7,9.02,12.53,1325,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,82.9,83.5,82.5,83.3,3956.0,83.85,82.69,86.9,84.85,48.59,59.65,1326,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,24.1,24.35,24.1,24.15,213.0,24.06,22.6,18.16,18.66,52.32,56.53,1336,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,7.97,8.11,7.87,8.03,698.0,8.04,7.81,10.86,29.04,30.15,34.05,1337,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,66.7,67.1,66.4,67.1,395.0,66.48,64.45,72.9,82.1,66.24,65.55,1338,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,38.1,38.2,38.1,38.1,29.0,38.46,39.97,42.36,42.86,23.79,23.0,1339,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,11.35,11.35,11.15,11.3,167.0,11.4,11.68,24.92,57.69,47.35,45.95,1340,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,74.2,75.0,74.2,74.4,8.0,75.28,70.3,60.92,56.53,68.09,77.56,1341,2021-08-31

Empty DataFrame
Columns: [o, h, l, c, v, ma4, ma12, ma48, ma120, K, D, stockId, date]
Index: []

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,29.8,30.1,29.7,30.1,7618.0,30.44,29.63,28.83,29.77,49.13,58.18,1402,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,20.5,20.6,20.1,20.55,4899.0,20.71,18.01,13.67,11.86,65.6,71.17,1409,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,33.65,34.0,33.65,33.95,6.0,34.22,33.78,29.83,25.37,19.0,27.81,1410,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,10.85,10.85,10.6,10.75,189.0,10.89,10.08,9.45,8.04,49.62,57.88,1413,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,15.65,15.65,15.15,15.35,512.0,16.05,14.37,10.12,8.76,41.14,54.27,1414,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,10.2,10.2,9.99,10.1,561.0,10.56,11.33,13.97,14.9,15.93,22.7,1416,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,41.95,41.95,40.7,41.2,23.0,41.18,41.37,41.65,39.7,61.1,49.43,1419,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,21.4,21.55,21.3,21.45,79.0,21.43,19.18,13.64,10.7,64.52,67.08,1423,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,13.55,13.55,13.4,13.5,112.0,13.89,13.65,12.19,12.89,19.5,24.86,1432,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,32.5,32.75,32.3,32.4,3283.0,32.23,31.94,32.52,31.64,65.2,60.85,1434,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,21.15,21.45,21.15,21.45,24.0,21.56,20.12,12.51,8.93,41.4,45.94,1435,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,39.0,39.95,39.0,39.9,84.0,40.04,39.35,38.99,35.93,71.3,74.81,1436,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,25.05,25.1,24.95,25.0,172.0,24.99,24.35,21.71,19.96,51.11,55.63,1437,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,23.25,23.6,23.0,23.5,51.0,24.03,26.12,27.44,24.12,38.89,36.14,1439,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,24.4,24.8,24.0,24.8,5305.0,25.13,20.99,15.44,14.68,60.6,68.5,1440,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,10.2,10.55,10.1,10.5,253.0,10.71,9.9,9.68,9.37,43.23,53.09,1441,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,18.7,20.0,18.7,19.0,1021.0,18.63,18.23,18.38,20.48,61.07,50.66,1442,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,15.0,15.3,15.0,15.15,83.0,14.81,12.86,9.55,7.48,71.16,76.74,1443,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,11.8,11.95,11.65,11.9,2206.0,12.37,12.01,10.6,10.16,37.82,50.04,1444,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,12.0,12.2,11.9,11.9,96.0,12.14,11.63,9.66,8.78,38.76,46.92,1445,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,31.0,31.4,30.95,31.35,115.0,30.8,30.41,28.33,24.14,49.27,41.68,1446,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,11.4,11.6,11.3,11.45,3966.0,11.76,10.45,8.73,9.24,54.73,63.58,1447,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,16.4,16.55,16.4,16.5,52.0,17.1,18.21,12.73,8.31,15.03,17.55,1449,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,23.2,23.45,22.55,23.2,732.0,22.19,20.06,21.16,22.2,76.74,74.6,1451,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,26.1,26.4,25.0,25.7,2883.0,25.03,21.8,19.61,17.72,74.4,77.48,1452,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,8.73,8.9,8.7,8.82,67.0,8.92,8.79,8.64,8.57,19.44,27.84,1453,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,21.4,21.7,20.6,21.65,7350.0,21.05,16.48,11.51,10.52,68.49,75.14,1455,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,27.45,29.05,27.0,29.05,2690.0,24.54,19.13,12.81,9.39,94.6,84.81,1456,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,18.0,18.15,17.8,18.05,791.0,18.17,16.87,14.29,11.87,52.96,56.07,1457,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,13.1,13.3,12.9,13.3,627.0,13.1,11.15,9.19,9.31,56.62,62.73,1459,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,11.75,12.0,11.7,11.95,692.0,11.37,10.37,10.94,11.15,56.21,61.45,1460,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,14.65,14.65,14.4,14.55,158.0,14.49,13.78,14.87,14.77,40.33,49.26,1463,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,17.85,17.85,17.65,17.75,321.0,17.83,18.35,20.92,19.4,59.67,55.67,1464,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,13.2,13.2,13.0,13.05,22.0,13.06,13.32,14.05,14.09,68.15,56.54,1465,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,18.75,19.25,18.5,19.1,1029.0,18.77,17.65,14.31,14.15,47.88,40.07,1466,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,15.05,15.05,14.7,14.8,272.0,16.05,17.06,14.27,12.98,8.6,19.36,1467,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,9.13,9.15,9.0,9.05,699.0,9.42,8.07,6.16,9.49,43.79,52.47,1471,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,18.15,18.2,18.0,18.1,104.0,18.21,18.67,21.82,27.01,44.89,49.31,1473,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,14.7,14.7,14.4,14.6,618.0,15.05,14.19,12.03,10.76,37.71,49.2,1474,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,614.0,615.0,586.0,615.0,883.0,604.52,522.51,415.71,326.42,81.81,86.05,1476,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,234.5,237.0,229.5,236.5,1670.0,244.72,225.56,186.2,158.62,62.29,75.6,1477,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,53.9,54.0,53.3,53.9,55.0,52.95,50.65,45.87,41.97,78.41,73.6,1503,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,31.45,31.7,31.1,31.7,1172.0,31.93,30.87,27.69,25.66,52.89,60.2,1504,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,10.0,10.0,9.92,9.97,129.0,10.1,10.66,14.42,16.56,27.36,30.06,1506,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,60.8,61.0,60.2,60.9,86.0,61.12,60.64,58.89,54.17,40.23,48.22,1507,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,4.31,4.59,4.31,4.54,78.0,4.52,4.61,5.82,6.99,31.45,37.36,1512,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,51.0,51.0,50.0,50.1,3525.0,50.63,47.8,33.79,26.35,32.89,40.47,1513,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,26.85,26.85,26.4,26.6,524.0,26.06,25.23,19.83,15.07,64.81,51.8,1514,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,77.3,78.2,77.1,77.8,482.0,79.12,80.07,67.14,45.16,33.04,36.25,1515,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,21.75,21.85,21.6,21.85,20.0,22.05,21.4,18.67,16.29,38.66,46.62,1516,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,32.05,32.6,29.9,30.1,15638.0,28.91,22.53,14.67,13.32,77.6,73.82,1517,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,43.45,43.9,43.0,43.1,715.0,43.91,43.1,32.58,26.56,29.57,35.87,1519,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,45.75,45.75,45.55,45.7,26.0,46.67,50.62,60.29,61.23,24.97,21.95,1521,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,21.9,21.9,21.55,21.75,385.0,22.04,22.71,25.0,24.25,40.98,44.16,1522,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,10.55,10.55,10.35,10.4,232.0,10.52,10.45,10.07,10.09,43.05,44.44,1524,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,59.1,60.4,57.0,57.3,2558.0,55.4,49.23,37.64,27.23,73.64,63.39,1526,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,49.3,49.7,48.95,49.55,307.0,49.16,46.92,50.84,50.35,56.54,56.5,1527,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,11.95,12.05,11.7,12.0,1405.0,11.65,10.51,10.2,11.61,80.85,73.4,1528,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,16.05,16.05,15.9,15.9,175.0,16.3,16.23,12.76,9.32,36.53,48.01,1529,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,38.05,38.2,38.0,38.2,30.0,37.86,35.5,32.87,36.03,67.51,69.26,1530,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,15.35,15.4,15.15,15.2,150.0,15.02,14.25,15.42,18.2,58.73,60.1,1531,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,33.15,33.7,33.15,33.4,378.0,33.57,32.77,31.67,33.3,39.09,48.3,1532,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,56.5,57.0,56.0,56.8,191.0,57.8,53.06,42.88,39.25,56.59,58.52,1533,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,41.0,41.0,39.7,40.5,256.0,39.73,37.55,38.29,44.16,62.0,60.76,1535,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,99.0,99.0,96.3,98.2,736.0,100.32,102.67,107.9,93.57,41.77,40.44,1536,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,155.0,157.0,155.0,157.0,233.0,153.38,148.33,144.58,122.84,83.31,73.18,1537,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,18.05,18.05,17.85,17.85,8.0,18.1,18.78,20.44,19.51,29.08,26.71,1539,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,16.25,16.25,16.1,16.2,57.0,16.3,16.16,16.74,19.15,50.73,55.0,1540,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,49.2,49.65,49.0,49.15,13.0,50.23,50.03,43.38,35.96,23.43,26.24,1541,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,163.0,163.5,162.0,162.5,59.0,163.35,155.81,144.09,130.71,55.65,61.16,1558,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,65.2,69.0,65.2,68.5,1262.0,67.3,66.26,64.74,66.02,40.17,40.15,1560,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,384.0,390.0,376.0,382.0,528.0,359.84,338.16,444.33,472.47,79.27,68.9,1565,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,27.45,27.45,26.65,26.9,238.0,27.35,25.52,23.96,26.02,45.96,49.23,1568,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,28.95,28.95,28.2,28.45,422.0,28.18,28.01,26.06,27.42,41.09,40.9,1569,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,16.0,16.15,16.0,16.15,30.0,16.17,15.23,14.19,14.6,34.29,36.52,1570,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,110.0,111.0,109.0,110.0,118.0,108.47,101.9,111.15,113.84,85.21,82.74,1580,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,82.1,82.3,81.7,81.9,437.0,83.0,83.59,76.99,75.42,24.12,28.36,1582,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,66.3,67.4,66.3,67.2,6.0,66.41,63.97,60.8,58.53,51.81,59.49,1583,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,14.9,14.9,14.5,14.8,194.0,14.53,12.86,11.12,14.57,69.89,68.15,1584,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,43.45,43.45,42.5,42.8,199.0,43.14,42.67,38.45,33.37,24.0,28.98,1586,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,28.8,29.45,28.8,29.0,196.0,29.04,26.93,22.02,20.77,52.58,54.8,1587,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,71.5,71.7,71.2,71.6,223.0,73.18,76.22,79.63,85.04,11.75,13.78,1589,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,905.0,935.0,900.0,921.0,754.0,960.4,904.87,616.17,426.79,44.23,58.52,1590,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,16.45,16.45,16.05,16.1,11.0,16.83,18.33,24.42,28.88,4.33,18.64,1591,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
170,3.03,3.03,2.57,2.57,7154.0,3.82,7.22,18.42,26.18,15.0,13.9,1592,2021-06-30

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,106.0,113.0,104.0,112.0,286.0,107.91,96.94,67.41,51.98,52.71,50.04,1593,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,33.95,33.95,32.8,33.0,11.0,32.41,32.44,40.72,52.46,57.41,55.34,1595,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,101.0,103.5,100.0,102.0,186.0,105.57,102.73,90.98,74.54,43.52,48.46,1597,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,82.4,83.0,81.5,82.0,364.0,88.72,93.43,68.82,55.99,11.95,17.09,1598,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,41.6,41.6,41.2,41.55,73.0,41.73,39.59,39.41,44.32,42.56,46.12,1599,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,30.75,31.25,30.55,30.7,1381.0,30.21,27.87,21.3,16.36,74.89,75.88,1604,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,28.2,28.35,27.15,27.8,32351.0,27.48,23.52,18.01,15.28,76.36,76.42,1605,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,25.6,25.85,25.35,25.75,3002.0,26.06,20.9,13.67,11.42,67.31,73.22,1608,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,27.7,28.1,27.2,27.9,4755.0,27.91,24.02,15.81,12.01,57.98,65.02,1609,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,11.2,11.3,11.1,11.15,564.0,11.54,11.93,11.21,12.17,26.45,31.26,1611,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,23.75,23.85,23.35,23.7,1136.0,24.58,21.86,15.0,13.5,52.85,61.22,1612,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,34.25,34.25,34.0,34.05,43.0,34.36,34.5,30.88,29.19,27.21,27.77,1614,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,37.25,37.5,36.25,36.75,267.0,36.91,32.2,22.5,17.44,50.23,57.38,1615,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,10.0,10.0,9.89,10.0,561.0,10.09,8.42,6.23,6.34,72.82,79.55,1616,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,20.15,20.25,19.8,20.0,335.0,19.86,17.64,13.93,11.93,55.82,59.56,1617,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,15.6,15.65,15.3,15.6,480.0,16.13,14.68,11.14,10.47,46.47,55.3,1618,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,25.7,26.0,25.5,26.0,80.0,26.04,25.83,26.72,36.57,60.09,57.89,1626,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,23.55,23.95,23.5,23.9,730.0,23.77,23.25,21.3,20.16,58.72,57.87,1701,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,50.9,50.9,50.3,50.8,187.0,51.32,49.76,51.1,47.96,45.86,59.63,1702,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,166.5,168.5,166.0,168.5,307.0,170.67,175.5,185.84,159.17,29.7,30.48,1707,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,34.0,34.7,33.65,34.65,1143.0,33.48,29.2,27.26,28.27,66.07,64.63,1708,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,20.95,21.35,20.8,21.2,1156.0,20.31,17.85,15.99,15.71,73.16,77.81,1709,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,22.45,22.85,22.25,22.75,1977.0,22.24,20.87,22.27,24.75,56.57,62.27,1710,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,19.55,19.7,19.3,19.7,2392.0,19.32,18.03,17.6,19.27,70.72,71.57,1711,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,23.0,23.1,22.95,23.0,433.0,22.69,21.74,19.33,17.07,74.36,67.54,1712,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,22.65,23.2,22.65,23.05,81.0,22.93,21.4,18.94,17.18,67.18,70.36,1713,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,11.3,11.4,11.2,11.35,3347.0,11.36,10.55,9.1,9.8,58.52,61.63,1714,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,39.25,39.25,38.4,38.95,2265.0,39.34,37.27,32.12,32.11,47.06,55.51,1717,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,10.95,11.1,10.8,11.0,9159.0,10.89,10.07,9.2,9.3,48.47,52.48,1718,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,38.25,38.25,37.9,38.1,215.0,38.55,38.35,36.2,33.86,60.27,62.21,1720,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,10.0,10.05,9.98,10.0,135.0,10.14,10.28,10.55,10.67,22.8,27.76,1721,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,59.9,60.3,59.5,60.2,1246.0,59.07,56.12,50.67,54.47,75.51,69.14,1722,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,113.0,113.0,111.0,112.5,113.0,111.68,108.99,116.74,119.01,65.51,67.76,1723,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,15.8,15.85,15.8,15.85,21.0,15.6,14.51,13.97,14.88,95.18,94.88,1724,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,19.95,21.2,19.9,20.45,377.0,20.34,18.69,16.18,16.83,43.88,45.54,1725,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,14.75,15.1,14.75,15.0,158.0,14.49,12.97,12.82,14.24,79.64,80.81,1727,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,69.6,69.8,69.5,69.7,80.0,69.66,70.41,64.02,48.34,13.71,15.47,1730,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,19.95,20.0,19.8,19.9,783.0,19.84,18.61,15.79,14.89,42.69,48.86,1731,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,30.05,30.05,29.1,29.3,464.0,30.66,28.65,20.92,16.95,35.16,42.83,1732,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,23.95,24.1,23.95,24.0,86.0,24.08,24.41,29.36,40.18,46.03,46.44,1733,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,30.8,32.3,30.8,32.3,12655.0,30.85,30.46,27.29,27.56,40.29,29.2,1734,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,18.0,18.1,18.0,18.1,10.0,18.04,17.61,16.33,14.95,46.82,50.31,1735,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,77.3,77.4,75.9,76.4,224.0,78.73,79.06,67.13,71.6,36.43,42.37,1736,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,32.1,32.45,32.1,32.25,282.0,32.4,32.4,31.25,28.83,31.39,37.05,1737,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,21.15,22.0,21.15,21.35,167.0,19.52,19.22,18.99,21.58,43.24,24.37,1742,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,38.15,38.2,38.05,38.05,98.0,38.57,39.32,38.63,36.94,28.81,32.49,1752,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,83.0,83.9,81.8,82.7,486.0,86.19,90.91,88.23,75.17,29.63,31.59,1760,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,61.0,61.5,60.5,61.2,251.0,62.15,59.85,45.88,43.54,49.02,50.23,1762,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,145.5,150.0,145.5,150.0,913.0,137.16,120.8,96.59,73.33,91.11,80.53,1773,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,18.3,18.35,18.15,18.25,7.0,18.12,17.49,18.11,20.48,53.6,53.0,1776,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,73.2,73.2,72.6,73.1,34.0,76.9,80.07,79.9,72.72,5.2,15.19,1777,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,17.6,18.15,17.6,18.15,69.0,19.56,21.2,18.88,21.07,9.66,14.58,1781,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,57.2,60.2,55.1,57.5,4103.0,48.76,37.14,29.58,33.78,91.45,86.93,1783,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,46.35,46.9,45.6,46.15,649.0,44.12,41.49,37.77,45.47,69.65,59.11,1784,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,47.4,47.95,46.7,47.9,3649.0,47.69,44.82,33.01,46.03,34.41,39.55,1785,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,58.5,59.0,58.5,58.9,71.0,57.59,58.88,62.15,66.49,55.25,40.64,1786,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,135.5,136.5,135.0,136.0,134.0,135.89,128.2,111.9,102.22,82.97,86.76,1788,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,25.95,26.3,25.8,26.2,809.0,26.33,27.17,30.82,38.37,29.73,29.67,1789,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,145.5,149.0,141.5,147.5,3729.0,126.92,102.43,86.07,73.03,91.47,87.62,1795,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,33.0,33.25,33.0,33.25,14.0,33.77,31.86,35.55,41.33,61.58,64.92,1796,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,38.35,39.4,37.8,39.3,20023.0,36.29,27.56,18.76,20.09,78.14,80.56,1802,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,14.3,14.5,14.05,14.15,167.0,14.08,13.04,11.19,10.9,50.19,52.03,1805,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,12.05,12.2,11.85,12.15,893.0,12.11,10.34,8.25,9.55,55.31,59.24,1806,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,14.05,14.35,13.85,14.3,743.0,14.52,13.49,12.33,13.02,44.23,48.2,1809,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,11.65,11.65,11.45,11.65,566.0,11.81,10.89,9.38,9.49,49.92,52.68,1810,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,19.2,19.35,19.15,19.35,40.0,19.19,19.53,22.08,26.72,64.52,55.66,1813,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,19.95,20.2,19.75,19.9,7425.0,19.1,16.61,14.83,15.75,73.23,71.48,1815,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,37.95,38.05,37.85,38.0,70.0,37.69,35.88,35.68,35.78,65.82,67.02,1817,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,57.7,58.3,57.0,58.3,324.0,58.94,56.81,45.68,42.76,46.97,43.25,1903,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,42.15,42.2,41.15,42.0,3486.0,42.31,37.41,26.28,19.83,70.6,74.98,1904,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,25.5,26.0,24.9,25.9,6758.0,25.0,19.35,12.94,11.87,74.92,79.75,1905,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,20.15,20.3,19.8,20.25,208.0,20.31,18.49,16.79,14.58,60.85,64.64,1906,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,39.75,40.0,38.5,39.6,5146.0,39.38,32.46,20.27,15.85,67.48,78.1,1907,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,28.1,28.25,27.15,28.1,12038.0,27.53,24.18,20.71,18.52,74.16,73.75,1909,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,36.8,37.25,36.7,37.25,87512.0,36.46,31.33,26.0,26.46,64.73,68.48,2002,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,46.7,47.7,46.6,47.65,5095.0,48.01,42.19,30.5,28.17,54.8,60.68,2006,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,32.3,34.8,31.65,34.8,72513.0,27.33,17.53,9.1,7.26,96.08,90.0,2007,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,57.5,58.2,56.2,56.9,9267.0,56.77,42.57,21.57,15.24,73.6,81.04,2009,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,29.0,30.2,28.65,30.0,8760.0,27.96,21.28,14.26,12.76,79.31,79.98,2010,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,43.6,44.25,43.55,44.1,534.0,44.06,39.07,30.31,27.03,67.82,69.33,2013,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,49.5,49.8,48.25,49.25,25670.0,48.28,34.63,18.44,14.04,78.64,84.26,2014,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,82.3,82.3,79.8,81.9,775.0,80.34,73.0,60.93,54.47,65.14,64.22,2015,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,28.8,29.6,28.5,29.35,4324.0,27.37,20.03,12.08,9.82,81.47,84.55,2017,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,36.1,36.6,35.3,36.5,2224.0,35.05,28.12,19.67,18.35,76.03,81.21,2020,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,20.2,20.95,20.1,20.7,9730.0,19.57,13.97,8.44,7.02,78.55,81.57,2022,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,35.65,36.55,35.0,36.45,39987.0,31.92,22.61,14.04,12.04,87.47,87.54,2023,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,27.0,28.55,25.15,28.0,1543.0,25.54,20.61,14.3,11.15,78.11,76.58,2024,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,6.75,6.75,6.67,6.67,611.0,5.8,4.27,3.15,4.09,82.62,86.37,2025,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,52.5,54.3,52.1,54.1,34316.0,51.45,41.97,33.43,29.4,79.7,81.22,2027,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,47.8,51.7,47.1,50.0,3692.0,46.98,34.38,17.77,11.57,72.54,79.52,2028,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,47.1,47.3,45.4,47.3,3410.0,43.51,33.62,25.51,24.71,79.53,78.73,2029,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,43.75,44.45,43.0,44.2,19074.0,37.24,25.26,16.38,15.93,85.71,85.21,2030,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,76.0,77.7,75.1,77.5,8456.0,73.35,57.71,38.65,30.89,77.14,78.34,2031,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,35.05,35.9,34.6,35.9,2556.0,31.02,22.14,13.82,13.74,79.23,81.84,2032,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,23.9,25.7,23.6,25.15,2725.0,23.4,18.28,12.84,11.99,78.32,75.15,2033,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,43.6,44.3,43.1,44.2,17304.0,40.71,33.69,27.76,27.35,86.18,81.04,2034,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,45.3,47.8,45.0,46.85,5603.0,44.97,32.13,16.7,13.48,69.16,79.56,2038,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,326.0,333.0,322.5,333.0,2148.0,350.6,351.63,302.9,247.8,38.55,52.44,2049,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,373.0,374.0,361.5,365.5,112.0,368.51,348.43,348.0,324.81,69.41,77.25,2059,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,31.15,32.1,31.0,31.9,476.0,30.92,28.8,31.1,36.61,51.12,48.75,2062,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,37.15,37.15,36.7,37.1,72.0,36.52,34.99,34.58,37.64,76.72,68.72,2063,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,52.7,54.2,52.7,54.2,453.0,52.54,50.19,44.23,42.11,52.15,46.25,2065,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,41.9,42.35,40.7,41.6,4877.0,36.48,27.26,22.11,20.83,85.06,84.12,2069,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,27.25,27.7,27.25,27.7,21.0,28.15,28.42,31.1,33.49,40.0,46.57,2070,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,39.8,39.8,39.15,39.6,1109.0,39.67,40.62,37.9,37.27,42.15,37.3,2101,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,29.0,29.3,27.7,28.9,4006.0,27.69,23.82,17.96,17.26,64.1,66.38,2102,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,30.35,30.85,29.6,30.85,4628.0,31.32,28.16,27.31,32.64,62.1,67.83,2103,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,43.25,44.2,43.2,44.2,3270.0,45.03,43.91,45.78,52.11,34.23,44.88,2105,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,38.2,39.0,38.0,38.8,700.0,39.32,37.51,36.12,38.14,40.53,48.43,2106,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,24.15,24.15,23.85,24.0,308.0,24.27,23.39,20.21,20.3,41.4,49.97,2107,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,123.0,126.5,122.5,126.0,1862.0,125.25,100.66,57.14,38.99,62.82,67.24,2108,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,18.2,18.5,18.15,18.35,211.0,18.47,16.53,13.95,12.95,52.69,55.85,2109,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,148.0,150.0,147.0,149.5,69.0,141.43,120.08,95.89,83.31,86.12,80.58,2114,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,49.7,49.9,49.15,49.8,48.0,49.2,46.95,44.05,45.05,58.22,57.18,2115,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,39.9,40.35,39.75,40.3,2636.0,40.84,38.23,30.33,32.57,41.17,52.55,2201,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,66.5,66.7,65.8,66.4,1533.0,67.47,59.48,41.56,33.36,76.6,84.61,2204,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,29.0,29.05,28.8,29.0,5949.0,29.37,28.82,24.89,23.45,34.71,38.31,2206,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,597.0,605.0,592.0,605.0,174.0,598.89,596.78,507.86,393.09,49.82,41.71,2207,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,24.1,24.3,23.8,24.2,4579.0,24.5,24.48,23.38,21.61,46.11,43.14,2208,2021-08-31

Empty DataFrame
Columns: [o, h, l, c, v, ma4, ma12, ma48, ma120, K, D, stockId, date]
Index: []

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,30.3,30.8,30.3,30.8,87.0,29.45,27.41,26.96,25.39,71.3,64.44,2221,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,279.0,279.5,277.0,278.5,140.0,275.43,268.58,259.32,236.82,76.95,72.52,2227,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,73.3,74.2,72.8,74.2,134.0,74.14,78.01,96.24,108.1,35.53,35.15,2228,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,179.0,179.5,175.5,179.0,335.0,189.42,194.97,228.42,218.38,23.84,38.41,2231,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,130.0,133.0,130.0,130.5,475.0,125.52,106.71,89.35,86.84,84.34,81.86,2233,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,43.3,43.3,43.3,43.3,4.0,43.18,44.24,59.53,74.09,38.83,37.81,2235,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,26.1,27.2,26.05,27.2,23.0,26.06,23.33,28.78,36.06,70.67,69.85,2236,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,87.6,87.6,86.0,86.8,43.0,89.71,91.89,108.28,127.77,23.37,32.91,2239,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,59.5,60.1,58.7,59.6,542.0,58.6,58.61,61.51,63.04,41.14,41.66,2241,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,10.25,10.25,10.1,10.1,4.0,10.5,11.27,19.69,31.65,24.62,25.23,2243,2021-08-31

Empty DataFrame
Columns: [o, h, l, c, v, ma4, ma12, ma48, ma120, K, D, stockId, date]
Index: []

Empty DataFrame
Columns: [o, h, l, c, v, ma4, ma12, ma48, ma120, K, D, stockId, date]
Index: []

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,64.0,64.4,63.2,63.9,9918.0,62.76,58.31,49.77,45.47,72.38,76.29,2301,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,59.3,59.7,56.8,57.5,340902.0,55.81,47.57,28.35,20.63,77.95,78.11,2303,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,8.28,8.45,8.23,8.36,1151.0,8.59,8.44,7.53,6.76,20.59,32.86,2305,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,287.5,288.0,284.0,287.0,5697.0,289.72,264.61,196.63,164.03,69.92,76.97,2308,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,12.95,13.0,12.8,12.95,3649.0,13.19,12.9,11.79,11.22,27.32,37.57,2312,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,42.8,43.2,42.35,42.7,8996.0,42.35,42.29,35.94,27.56,61.53,51.09,2313,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,56.3,57.7,54.0,56.0,17209.0,51.47,40.86,29.24,23.58,76.39,71.0,2314,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,30.4,30.4,29.8,30.15,181.0,30.27,30.6,27.21,22.43,38.45,39.46,2316,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,111.0,113.0,110.0,113.0,24500.0,112.16,105.03,91.95,99.86,59.07,61.8,2317,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,6.93,7.0,6.93,7.0,22.0,7.08,6.5,4.26,4.82,25.99,33.78,2321,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,9.78,9.82,9.7,9.76,2410.0,9.93,9.49,7.8,6.9,43.57,52.85,2323,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,21.6,21.7,21.5,21.6,8420.0,22.18,21.83,20.49,22.26,33.69,43.22,2324,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,558.0,559.0,548.0,557.0,2903.0,551.01,510.56,392.45,256.33,68.86,66.77,2327,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,42.75,42.8,41.6,42.05,8963.0,41.12,35.87,27.19,28.92,71.78,70.47,2328,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,26.85,28.25,25.85,27.5,162683.0,24.2,19.28,14.48,12.03,93.85,90.77,2329,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,583.0,590.0,580.0,590.0,24948.0,587.75,541.84,375.08,255.42,60.52,64.8,2330,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,21.6,21.9,21.35,21.6,1942.0,22.69,22.11,18.04,17.03,28.98,39.46,2331,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,19.35,19.65,19.3,19.4,1856.0,19.95,20.4,16.8,19.58,17.03,20.91,2332,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,42.3,44.15,42.2,44.1,86606.0,43.54,41.22,32.77,24.37,65.28,68.51,2337,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,100.0,101.5,97.4,97.8,11853.0,90.61,69.18,39.75,26.45,82.26,84.19,2338,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,32.55,34.0,32.4,33.95,22675.0,30.71,27.46,23.04,20.39,58.94,54.74,2340,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,44.35,45.8,43.65,45.7,4352.0,41.92,37.12,26.89,20.83,63.38,57.52,2342,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,34.3,35.4,33.75,35.3,146119.0,34.29,29.25,20.67,15.78,81.68,82.71,2344,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,313.0,325.0,310.0,323.0,2591.0,318.99,287.29,191.6,117.02,82.1,86.54,2345,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,53.1,54.0,52.8,54.0,6893.0,53.58,50.49,43.84,44.73,52.33,65.93,2347,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,92.9,93.6,92.1,92.8,500.0,94.49,90.92,65.97,46.59,30.96,35.19,2348,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,9.59,9.6,9.44,9.46,2513.0,9.71,9.5,8.22,7.21,18.49,32.58,2349,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,148.0,152.5,146.0,151.5,3288.0,132.56,103.31,74.81,59.83,84.19,82.53,2351,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,29.85,29.95,29.6,29.9,4999.0,30.37,28.38,22.43,18.39,52.6,60.69,2352,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,27.3,27.8,27.3,27.75,16796.0,28.55,27.2,22.78,27.18,42.11,55.48,2353,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,62.0,62.2,61.5,62.2,2053.0,63.63,63.17,66.92,91.6,43.37,49.17,2354,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,32.65,32.7,32.25,32.5,538.0,32.34,31.72,36.05,38.9,51.71,49.62,2355,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,23.5,23.6,23.35,23.55,7098.0,24.43,24.59,23.73,22.44,37.45,55.57,2356,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,315.0,323.0,312.0,319.5,11589.0,343.76,319.44,271.74,249.34,56.66,69.36,2357,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,24.25,25.0,23.5,24.4,11109.0,21.26,17.79,16.19,14.82,74.99,55.24,2358,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,18.25,18.8,18.25,18.45,656.0,18.16,18.37,18.96,17.64,54.46,49.82,2359,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,197.5,197.5,192.5,194.0,630.0,193.1,181.97,150.43,117.83,59.94,60.22,2360,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,29.8,29.95,29.65,29.7,235.0,29.99,30.32,31.48,35.35,41.67,47.3,2362,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,26.4,26.6,25.2,25.5,55144.0,23.91,19.77,13.22,11.65,81.18,76.22,2363,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,11.65,11.85,11.65,11.8,504.0,12.04,11.6,10.36,13.71,29.4,39.37,2365,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,21.0,21.1,20.7,21.05,1620.0,21.18,21.77,20.97,18.53,50.36,48.96,2367,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,72.6,73.2,69.5,72.6,8675.0,67.6,56.81,33.4,22.54,77.77,75.31,2368,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,27.2,28.25,26.9,27.2,28451.0,23.73,18.49,13.66,13.36,85.72,83.59,2369,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,26.4,27.4,26.2,27.25,47210.0,26.28,24.82,21.6,17.23,62.09,63.21,2371,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,89.3,89.6,88.3,89.4,222.0,91.17,90.21,85.52,71.03,70.09,75.24,2373,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,15.75,15.75,15.55,15.6,706.0,15.74,15.26,15.82,20.64,39.73,45.31,2374,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,103.5,106.0,101.5,106.0,1434.0,108.42,96.05,60.5,38.51,61.02,66.61,2375,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,100.0,101.0,99.1,99.5,3491.0,102.06,93.66,68.47,51.85,48.88,59.38,2376,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,149.5,151.5,148.5,151.0,2584.0,154.25,146.38,109.63,77.19,41.04,52.99,2377,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,594.0,598.0,581.0,590.0,1898.0,555.79,477.17,302.33,196.0,84.97,82.89,2379,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,11.05,11.8,11.05,11.8,1631.0,11.46,9.75,7.08,8.61,51.06,57.2,2380,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,77.3,78.4,77.3,78.0,8741.0,82.04,82.0,70.98,65.78,27.35,46.62,2382,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,225.0,229.5,218.5,220.5,3165.0,209.7,183.04,135.92,95.82,77.9,72.44,2383,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,80.5,80.6,79.7,80.4,1830.0,81.48,84.17,81.29,75.82,14.58,11.94,2385,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,56.5,57.4,55.6,56.4,1339.0,56.67,57.22,40.92,31.3,30.34,30.15,2387,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,53.9,54.6,53.3,53.7,2554.0,53.58,49.55,36.64,28.61,62.91,63.14,2388,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,27.4,28.2,26.75,28.0,13639.0,25.88,21.07,16.23,15.74,67.52,68.52,2390,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,40.75,40.75,40.2,40.45,1193.0,41.44,42.24,40.71,47.33,31.14,34.12,2392,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,62.9,65.0,62.8,64.1,9920.0,57.99,48.63,41.79,51.6,87.37,79.62,2393,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,357.0,370.0,354.5,362.0,1387.0,355.78,339.41,287.08,231.45,63.48,59.01,2395,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,64.7,65.3,64.7,65.3,15.0,65.11,66.77,67.0,60.2,44.89,42.22,2397,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,26.7,27.6,26.15,26.55,7117.0,26.02,22.27,15.77,14.77,46.06,48.61,2399,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,45.1,45.4,42.6,42.85,40398.0,38.48,29.57,19.08,19.94,85.35,84.35,2401,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,19.1,19.15,18.85,19.0,992.0,18.86,18.09,17.2,18.65,54.92,52.41,2402,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,195.0,195.0,190.5,192.0,1287.0,205.27,212.34,159.56,104.05,8.52,25.57,2404,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,11.9,11.9,11.75,11.8,436.0,12.12,11.89,11.72,12.02,45.53,55.71,2405,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,26.3,26.45,25.7,25.75,9052.0,24.24,20.9,16.64,18.08,73.89,65.09,2406,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,73.2,75.1,72.7,74.5,17995.0,77.23,77.57,68.86,53.72,33.14,46.52,2408,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,20.65,21.35,20.1,21.3,142833.0,22.07,19.5,14.26,16.86,42.71,53.4,2409,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,115.5,116.5,115.5,116.5,10789.0,114.88,112.49,109.25,101.18,90.52,87.15,2412,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,20.5,20.5,20.1,20.25,165.0,21.56,21.8,19.3,17.56,18.65,31.32,2413,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,29.6,29.8,29.5,29.75,83.0,29.4,27.73,23.5,20.29,81.02,81.09,2414,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,49.5,50.3,48.25,49.1,1217.0,46.07,37.26,26.58,22.25,73.73,73.6,2415,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,35.45,35.75,35.0,35.2,927.0,38.35,41.04,27.93,23.97,5.32,9.9,2417,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,20.25,20.65,20.25,20.6,472.0,21.04,21.79,21.16,19.51,21.97,29.07,2419,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,41.05,41.8,41.05,41.7,454.0,40.12,37.48,35.76,34.84,86.65,82.77,2420,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,43.55,43.8,43.35,43.75,298.0,45.21,48.52,44.13,35.91,27.39,24.2,2421,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,24.85,25.4,24.7,25.35,613.0,24.81,24.34,23.84,23.4,69.51,64.03,2423,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,27.2,28.05,27.05,28.05,411.0,28.98,29.42,28.35,26.39,16.66,28.74,2425,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,26.5,27.0,26.15,26.85,3942.0,26.29,23.27,18.15,17.14,61.79,65.15,2426,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,11.05,11.05,10.95,11.0,70.0,11.25,11.28,10.54,9.88,19.58,29.1,2427,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,222.0,228.5,220.0,228.0,557.0,210.25,176.97,118.11,83.79,77.92,72.88,2428,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,15.35,16.2,15.35,16.15,8.0,16.25,17.6,17.75,15.11,9.52,11.02,2429,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,37.4,37.4,35.85,36.95,533.0,34.0,27.59,23.64,28.23,88.38,83.72,2430,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,12.6,13.2,12.35,13.05,1306.0,13.24,12.46,12.06,12.83,46.66,58.1,2431,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,54.5,54.6,54.4,54.5,172.0,53.98,52.69,48.95,42.62,87.84,82.32,2433,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,42.95,43.3,42.8,43.3,18.0,40.88,32.39,18.1,15.06,69.59,75.69,2434,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,78.5,79.0,76.7,77.2,4937.0,74.34,60.06,38.73,30.8,72.59,72.77,2436,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,11.9,12.15,11.65,11.85,129.0,11.47,10.23,8.59,8.07,50.43,50.79,2438,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,112.0,114.0,110.0,112.5,1647.0,113.32,124.86,137.96,124.39,24.53,20.37,2439,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,20.2,20.25,19.35,19.9,739.0,20.35,17.47,12.43,10.45,52.21,57.14,2440,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,96.4,97.4,90.5,91.7,10905.0,86.05,72.57,54.99,46.4,84.96,83.77,2441,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,11.05,11.1,10.75,10.8,723.0,10.7,10.49,10.1,9.75,38.27,38.51,2442,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,3.06,3.07,3.06,3.06,25.0,3.02,3.12,4.17,5.27,44.09,34.03,2443,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,11.6,11.6,11.35,11.5,204.0,12.17,13.8,16.82,16.37,5.14,11.88,2444,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
164,38.2,45.15,37.5,41.4,775139.0,38.68,36.27,35.05,47.2,59.11,54.58,2448,2020-12-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,46.8,47.65,46.7,46.95,9124.0,45.68,41.55,33.89,28.49,71.81,70.79,2449,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,32.0,32.1,31.8,31.9,58.0,32.2,32.01,36.9,47.14,25.33,31.06,2450,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,70.3,71.2,70.1,70.7,1316.0,71.05,69.74,73.7,82.07,33.22,37.19,2451,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,25.3,25.4,25.1,25.35,457.0,25.1,22.46,17.52,14.9,65.02,69.22,2453,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,924.0,934.0,920.0,934.0,4123.0,946.19,863.55,567.9,446.04,53.07,63.35,2454,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,137.0,138.5,132.0,134.0,2510.0,129.99,115.89,93.7,74.44,75.99,76.1,2455,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,108.0,108.5,107.0,108.0,1255.0,106.26,105.62,96.22,74.27,37.65,34.41,2456,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,38.2,38.5,37.3,38.0,5079.0,36.81,28.37,17.26,17.58,70.76,72.11,2457,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,183.5,183.5,177.5,179.5,5094.0,185.93,171.58,114.68,80.04,56.52,67.45,2458,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,55.0,55.5,54.8,55.5,93.0,54.61,50.68,43.44,38.7,72.42,72.82,2459,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,32.5,32.6,31.4,32.3,1063.0,32.62,27.68,17.57,17.08,59.41,65.72,2460,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,22.35,22.65,22.1,22.6,847.0,21.85,20.09,17.64,17.76,67.29,69.85,2461,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,29.2,29.3,28.9,29.25,240.0,30.07,29.46,27.76,26.92,43.92,54.57,2462,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,44.6,45.7,44.6,45.55,1638.0,45.33,44.42,41.82,38.11,39.43,43.97,2464,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,61.5,63.8,61.5,61.6,855.0,60.07,43.88,23.37,16.57,62.09,70.89,2465,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,42.6,43.1,42.3,42.7,107.0,39.83,35.87,33.72,33.61,95.28,85.02,2466,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,58.5,59.3,58.2,58.8,1404.0,56.74,48.19,34.25,27.57,80.1,79.76,2467,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,13.3,13.45,13.3,13.45,33.0,13.51,13.48,12.74,12.45,16.37,23.1,2468,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,25.9,26.25,25.85,26.2,106.0,26.42,25.67,20.98,18.34,43.19,50.79,2471,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,72.0,74.4,71.4,74.2,2013.0,72.16,66.41,52.66,41.7,61.75,57.43,2472,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,186.5,188.5,185.5,188.0,1516.0,187.63,194.81,230.15,235.35,31.96,31.32,2474,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,33.4,34.15,33.25,33.3,796.0,33.83,31.88,25.9,22.03,37.95,49.0,2477,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,68.8,69.0,68.3,69.0,514.0,71.11,72.71,59.55,50.08,34.43,37.67,2478,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,69.5,70.5,69.5,70.0,484.0,69.45,67.63,54.99,41.98,55.45,60.76,2480,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,104.0,112.0,103.5,111.5,25646.0,93.08,67.86,41.74,31.4,86.56,80.59,2481,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,13.0,13.75,12.9,13.65,631.0,12.92,12.05,12.03,15.54,56.16,49.24,2482,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,25.6,25.9,25.4,25.55,435.0,24.03,21.89,20.36,19.48,66.8,64.2,2483,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,37.6,38.1,37.15,37.55,5624.0,34.9,29.32,23.07,20.68,82.23,78.37,2484,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,20.35,20.55,20.2,20.45,1028.0,20.54,19.99,22.57,31.19,38.35,41.75,2485,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,56.4,59.3,55.0,58.5,13510.0,48.87,33.54,18.39,18.7,89.5,85.31,2486,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,30.8,30.8,30.7,30.7,38.0,30.87,30.93,31.93,29.47,35.44,38.45,2488,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,17.15,17.35,16.85,17.2,4773.0,17.18,15.17,13.84,17.02,55.84,60.93,2489,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,32.0,32.75,29.9,32.45,3476.0,29.19,21.63,12.56,9.35,69.95,73.47,2491,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,202.0,209.0,200.5,209.0,2943.0,213.38,212.67,176.75,117.9,36.89,44.99,2492,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,39.0,39.4,38.95,39.1,293.0,38.81,36.76,31.43,27.29,67.23,67.6,2493,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,18.4,19.2,18.4,19.1,1651.0,18.59,16.44,14.69,19.73,38.3,45.21,2495,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,52.6,52.6,51.6,52.2,4.0,54.09,57.27,72.93,61.49,32.6,48.49,2496,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,38.5,39.5,38.3,38.75,747.0,36.4,31.9,27.6,30.37,65.07,61.19,2497,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,39.4,40.4,39.25,39.95,13225.0,38.75,35.67,51.34,147.85,65.56,63.48,2498,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,21.0,21.1,20.9,21.05,1245.0,20.63,20.24,19.66,18.36,49.6,44.44,2501,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,22.7,22.7,22.3,22.5,3528.0,23.72,23.26,16.59,13.86,28.16,41.87,2504,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,29.55,29.7,29.2,29.7,439.0,30.28,29.52,21.84,18.74,31.96,37.56,2505,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,9.88,9.96,9.82,9.92,397.0,10.1,10.16,10.65,10.23,26.29,32.04,2506,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,21.4,21.8,21.1,21.55,1059.0,20.81,20.35,22.28,23.11,43.3,39.87,2509,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,12.05,12.25,11.95,12.2,2071.0,12.01,11.58,11.36,13.02,47.2,50.92,2511,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,18.65,18.85,18.5,18.75,123.0,18.3,16.8,15.97,16.6,71.99,75.22,2514,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,8.73,8.81,8.68,8.78,4043.0,8.92,8.77,8.01,7.74,29.17,38.32,2515,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,5.98,6.0,5.9,6.0,179.0,6.01,5.73,5.95,6.59,56.79,61.31,2516,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,43.0,43.95,43.0,43.95,3833.0,41.89,38.52,30.48,25.85,80.28,69.85,2520,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,36.2,36.2,35.55,35.65,39.0,35.77,35.84,31.15,28.3,30.97,30.83,2524,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,26.25,26.95,25.95,26.75,797.0,25.76,23.27,21.98,20.2,79.72,78.19,2527,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,21.65,21.9,21.6,21.9,20.0,22.17,22.43,19.18,15.03,34.27,34.77,2528,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,14.2,14.2,14.0,14.05,406.0,14.03,14.45,15.13,14.24,32.22,30.16,2530,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,20.85,20.95,20.8,20.9,975.0,20.52,19.9,21.18,21.25,51.13,51.84,2534,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,30.0,30.35,30.0,30.25,584.0,31.28,29.54,24.28,21.44,55.73,67.32,2535,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,21.7,21.95,21.7,21.85,319.0,21.94,22.34,22.61,25.1,38.45,38.58,2536,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,9.98,10.1,9.97,9.99,856.0,9.89,9.77,9.33,10.07,63.41,53.65,2537,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,10.75,10.75,10.45,10.65,1544.0,10.44,10.36,11.33,14.29,44.98,36.23,2538,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,32.65,32.65,32.5,32.6,107.0,32.32,31.88,30.43,27.38,65.33,55.14,2539,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,72.0,72.5,72.0,72.1,17.0,72.25,65.88,44.21,32.0,50.69,63.06,2540,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,49.15,49.8,49.1,49.45,4690.0,47.24,45.48,46.37,48.29,80.49,61.3,2542,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,43.15,43.7,43.05,43.6,776.0,42.92,40.64,36.69,42.15,86.05,81.6,2545,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,48.5,48.55,48.4,48.5,147.0,48.41,47.28,37.31,27.95,41.16,42.15,2546,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,11.2,11.55,11.15,11.4,2907.0,11.34,11.33,12.21,16.48,26.3,29.84,2547,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,85.0,85.2,84.6,85.1,279.0,86.67,87.87,81.34,75.56,5.44,30.94,2548,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,23.2,23.8,23.2,23.7,79.0,22.94,21.97,20.77,20.24,92.25,83.95,2596,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,142.5,146.0,142.0,146.0,190.0,141.61,114.69,74.72,60.01,75.71,81.05,2597,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,16.9,17.25,16.15,16.9,44318.0,17.26,14.44,12.36,18.31,62.81,67.36,2601,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,133.0,144.5,123.5,141.5,654102.0,132.21,87.83,39.23,26.21,69.71,82.35,2603,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,38.4,39.7,37.6,38.9,18490.0,38.04,29.62,21.6,24.32,68.63,72.27,2605,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,62.9,65.4,61.4,64.5,19281.0,65.29,53.43,39.91,41.53,66.44,74.33,2606,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,32.25,33.75,31.55,33.1,14708.0,32.63,25.61,18.02,17.11,65.17,73.51,2607,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,55.2,57.8,55.0,57.6,2031.0,57.74,51.45,43.12,38.48,51.56,69.41,2608,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,114.5,125.0,110.0,120.0,38357.0,117.6,77.94,32.67,21.18,65.24,79.91,2609,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,17.25,17.45,17.0,17.4,35623.0,17.49,15.08,11.7,11.69,65.07,69.34,2610,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,59.5,61.9,57.5,60.6,5727.0,60.15,48.0,35.58,37.72,66.37,73.25,2612,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,33.8,34.95,32.7,34.3,1907.0,34.05,27.02,18.49,16.63,64.52,71.25,2613,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,46.8,48.25,41.7,41.7,86736.0,37.69,27.0,16.83,12.52,68.01,73.85,2614,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,223.5,241.5,210.5,232.0,183600.0,213.86,136.85,58.23,35.76,73.81,83.74,2615,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,34.9,35.2,34.85,35.1,381.0,35.75,34.17,31.11,27.42,63.79,71.9,2616,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,44.6,46.05,42.6,45.6,10900.0,45.48,35.19,23.57,23.7,64.01,72.87,2617,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,18.2,18.6,18.0,18.5,25715.0,18.26,16.21,14.83,15.48,61.76,65.75,2618,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,18.7,18.95,18.25,18.75,445.0,19.07,18.32,21.2,25.71,44.07,42.22,2630,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,30.2,30.35,30.05,30.35,2991.0,30.3,31.01,30.6,26.96,60.92,53.93,2633,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,29.95,30.95,29.95,30.9,13861.0,29.92,29.48,31.47,33.74,67.67,56.21,2634,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,185.0,197.5,176.5,190.0,35420.0,173.72,113.61,54.69,37.12,68.48,83.84,2636,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,78.6,80.6,75.4,79.0,22564.0,78.01,57.78,38.32,36.28,71.0,80.35,2637,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,81.6,81.6,80.2,81.3,90.0,81.41,80.86,76.13,76.74,50.38,49.76,2640,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,30.95,31.8,29.7,30.5,12081.0,28.48,20.34,12.07,10.72,70.79,73.15,2641,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,87.5,90.5,85.3,90.5,2427.0,89.09,65.5,41.58,42.89,63.18,77.84,2642,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,88.5,91.5,87.4,90.6,354.0,88.23,73.96,50.97,41.64,60.86,63.11,2643,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,12.4,12.4,12.35,12.4,61.0,12.4,12.32,12.74,13.66,58.18,58.16,2701,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,24.65,25.0,24.5,24.75,197.0,23.35,20.28,18.51,19.85,61.47,65.58,2702,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,28.55,28.7,28.2,28.65,111.0,28.53,28.65,26.81,28.02,40.68,35.99,2704,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,18.0,18.1,17.7,18.1,437.0,18.32,18.35,14.0,13.38,42.78,42.28,2705,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,14.55,14.55,14.15,14.35,485.0,14.41,14.22,14.92,18.09,45.05,52.89,2706,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,153.0,153.0,148.5,151.0,210.0,148.88,145.7,159.31,218.66,66.22,59.1,2707,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
171,12.1,14.35,12.0,13.0,203.0,12.3,11.39,10.98,19.53,61.31,57.72,2719,2021-07-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,150.0,150.0,145.5,148.0,579.0,154.89,149.16,177.71,220.9,54.42,67.86,2723,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,66.8,66.8,63.2,64.8,200.0,67.84,68.69,66.99,60.87,31.25,38.03,2726,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,161.5,163.5,157.0,162.0,1247.0,157.85,140.15,127.4,209.58,57.47,59.5,2727,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,247.5,249.0,247.5,249.0,6.0,245.83,243.0,243.92,241.69,73.91,68.31,2729,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,90.4,90.4,88.3,89.0,115.0,88.28,83.88,85.42,90.29,59.41,55.68,2731,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,112.5,112.5,108.5,110.0,199.0,115.05,123.28,119.49,113.01,30.87,34.43,2732,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,17.55,18.0,17.1,18.0,286.0,17.3,16.0,17.51,25.13,58.41,54.0,2736,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,24.1,24.2,24.0,24.1,74.0,24.22,24.57,28.37,34.64,47.04,43.14,2739,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,22.9,23.15,22.4,22.7,92.0,22.45,20.15,15.56,13.64,66.83,62.58,2743,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,24.0,24.2,23.7,24.0,39.0,23.86,22.03,22.16,24.7,56.4,54.23,2745,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,43.4,43.75,43.25,43.65,117.0,42.85,43.34,49.99,51.91,62.71,55.09,2748,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,155.0,155.0,154.0,154.5,14.0,154.77,156.18,134.93,122.44,31.64,29.6,2752,2021-08-31

Empty DataFrame
Columns: [o, h, l, c, v, ma4, ma12, ma48, ma120, K, D, stockId, date]
Index: []

Empty DataFrame
Columns: [o, h, l, c, v, ma4, ma12, ma48, ma120, K, D, stockId, date]
Index: []

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,16.6,16.75,16.55,16.75,8816.0,16.73,17.34,18.26,18.16,22.7,23.67,2801,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,40.55,40.85,40.5,40.7,1108.0,40.53,39.26,34.84,29.19,43.19,51.52,2809,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,11.9,11.95,11.9,11.95,2463.0,11.77,11.51,11.1,10.74,80.46,72.53,2812,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,20.8,21.0,20.75,20.85,140.0,20.71,20.36,19.44,17.88,51.55,55.22,2816,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,17.0,17.0,16.85,17.0,3758.0,16.61,15.86,14.76,13.21,87.32,80.2,2820,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,26.35,26.7,26.35,26.6,4147.0,26.1,24.61,25.2,25.52,78.25,80.53,2823,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,19.8,19.8,19.55,19.6,349.0,20.13,20.48,20.44,21.01,6.74,22.17,2832,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,9.49,9.5,9.46,9.5,14892.0,9.55,9.8,10.18,9.83,31.67,40.28,2834,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,11.4,11.4,11.25,11.3,427.0,11.13,10.68,9.99,10.28,56.7,55.71,2836,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,12.15,12.2,12.05,12.2,1608.0,11.93,11.37,10.64,10.01,79.58,76.34,2838,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,6.39,6.39,6.25,6.35,394.0,6.51,6.9,8.17,9.93,39.18,44.46,2841,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,10.7,10.8,10.7,10.8,1854.0,10.74,10.75,10.75,10.97,51.67,49.97,2845,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,16.5,16.8,16.45,16.8,869.0,16.18,15.45,14.69,13.85,86.84,68.53,2849,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,41.6,42.1,41.6,41.8,154.0,41.09,39.53,35.75,30.16,73.99,75.55,2850,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,28.45,29.25,28.4,29.0,1408.0,28.28,25.12,20.45,17.72,59.01,71.13,2851,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,13.05,13.1,13.05,13.05,40.0,13.09,13.21,13.71,14.3,34.38,40.51,2852,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,27.2,27.35,26.9,27.3,2704.0,26.9,23.4,17.54,16.25,76.42,80.99,2855,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,9.24,9.25,9.11,9.19,8499.0,9.25,9.28,11.4,14.05,44.1,49.7,2867,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,19.4,19.5,19.3,19.5,9274.0,19.07,18.79,18.73,18.71,72.96,59.69,2880,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,75.0,76.5,74.5,76.5,21287.0,72.77,61.7,50.92,46.06,80.44,83.33,2881,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,54.5,55.8,54.1,55.8,32340.0,54.06,49.02,45.54,46.81,73.2,77.12,2882,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,14.15,14.2,14.0,14.2,40087.0,13.46,11.66,10.1,9.93,89.24,87.5,2883,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,26.6,26.9,26.6,26.9,24601.0,26.49,26.11,24.31,21.56,80.18,71.82,2884,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,25.45,25.65,25.3,25.65,13222.0,25.42,23.13,18.85,16.99,83.19,87.66,2885,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,33.1,33.1,32.9,33.0,14944.0,32.77,31.52,29.02,26.3,96.08,96.51,2886,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,17.2,17.2,16.9,17.0,18632.0,16.09,14.7,13.83,13.61,91.83,91.78,2887,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,9.18,9.25,9.15,9.25,31974.0,9.34,9.13,9.17,10.8,52.88,64.56,2888,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,16.45,16.45,16.25,16.35,3142.0,16.39,15.04,12.13,10.8,72.64,78.41,2889,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,14.1,14.2,14.05,14.2,23911.0,13.82,12.86,11.8,11.73,90.71,89.97,2890,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,22.95,23.1,22.85,23.1,27268.0,22.76,21.64,20.63,20.52,79.8,81.83,2891,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,22.75,22.95,22.75,22.95,9062.0,22.66,22.15,21.24,20.47,90.11,83.1,2892,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,7.07,7.07,6.97,7.02,959.0,7.05,7.03,7.57,8.12,49.75,55.64,2897,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,27.45,27.45,25.35,25.8,652.0,27.59,27.17,25.84,26.87,32.6,42.13,2901,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,22.9,22.95,22.75,22.9,604.0,22.96,23.26,22.02,23.0,46.52,44.62,2903,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,29.0,29.1,28.75,28.95,89.0,29.1,27.84,24.82,22.21,65.45,70.88,2904,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,23.3,23.6,23.15,23.55,613.0,23.0,22.41,21.83,21.19,74.82,61.92,2905,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,14.6,14.75,14.55,14.7,39.0,15.05,14.85,12.91,12.18,40.3,48.13,2906,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,25.15,25.5,25.0,25.5,84.0,25.68,25.09,23.01,21.81,41.26,58.97,2908,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,8.04,8.04,7.87,7.96,968.0,8.0,7.61,9.0,13.89,47.29,53.65,2911,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,280.5,286.0,280.5,282.5,2379.0,275.89,273.56,277.76,242.46,67.24,55.31,2912,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,20.7,21.15,20.6,21.05,4322.0,20.82,19.35,17.18,16.26,54.04,54.69,2913,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,98.0,98.3,97.2,98.0,3844.0,92.75,82.76,71.61,63.63,81.77,81.75,2915,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,19.6,19.6,19.45,19.45,20.0,20.04,19.35,18.05,18.51,43.09,57.08,2916,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,27.3,28.1,27.3,28.05,117.0,28.62,28.68,25.34,24.29,20.98,28.48,2923,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,61.8,62.0,61.6,62.0,20.0,63.6,71.63,104.1,137.76,8.92,12.8,2926,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,31.55,31.6,31.55,31.6,183.0,29.01,29.07,38.68,45.11,79.84,52.12,2928,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,15.4,15.4,14.75,15.05,322.0,14.88,22.18,64.01,112.43,33.75,27.1,2929,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,34.4,35.3,34.4,35.3,77.0,35.29,49.42,102.95,147.18,31.63,19.84,2939,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,13.2,13.2,12.7,12.85,183.0,12.66,12.26,11.64,13.13,47.92,44.66,3002,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,90.5,93.4,90.0,92.7,3267.0,85.17,68.82,52.38,44.32,81.68,83.98,3003,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,59.4,59.5,58.8,59.5,79.0,59.49,59.57,62.46,52.64,58.58,59.59,3004,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,56.1,56.6,55.6,56.3,879.0,55.58,53.02,45.82,37.09,48.2,45.63,3005,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,185.0,191.0,182.5,183.0,29767.0,166.75,121.61,66.64,51.77,84.5,83.58,3006,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,2940.0,2950.0,2895.0,2920.0,413.0,2989.67,3191.95,3594.78,2994.03,37.41,37.86,3008,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,89.9,89.9,88.5,89.8,605.0,86.13,78.08,62.99,56.57,91.84,86.02,3010,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,9.02,9.04,8.82,8.91,452.0,8.62,7.81,7.4,8.41,59.48,58.41,3011,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,13.55,13.6,13.25,13.55,312.0,13.71,13.78,15.26,17.6,31.51,33.86,3013,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,127.5,128.5,126.0,127.0,2931.0,121.81,101.17,64.0,50.83,81.39,81.83,3014,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,41.1,41.15,40.3,40.7,432.0,42.67,40.9,30.71,29.1,32.46,46.06,3015,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,91.6,94.5,90.8,93.0,4886.0,84.69,74.96,56.57,44.82,63.5,54.45,3016,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,75.3,75.4,73.8,75.0,4134.0,74.92,68.82,48.9,37.01,71.96,75.13,3017,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,16.5,16.5,16.35,16.35,43.0,16.6,17.76,25.61,24.7,30.87,30.4,3018,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,86.1,86.9,85.2,86.6,1341.0,86.67,82.88,76.22,70.29,64.2,63.77,3019,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,26.6,27.55,25.9,27.55,3879.0,24.85,21.06,16.64,14.36,54.12,46.67,3021,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,53.0,53.3,52.2,52.8,176.0,52.61,51.17,45.69,44.13,39.18,42.61,3022,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,242.5,242.5,235.0,237.0,316.0,247.68,232.78,158.55,105.09,55.81,68.97,3023,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,12.75,13.5,12.7,13.05,1334.0,13.15,12.35,9.49,8.89,40.58,47.16,3024,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,22.0,22.2,21.65,21.9,368.0,24.1,26.02,22.35,19.18,13.58,24.24,3025,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,126.5,127.5,125.0,127.0,852.0,129.46,124.1,106.93,82.29,65.95,76.74,3026,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,23.05,23.15,22.75,23.0,680.0,23.52,21.63,15.34,15.0,33.16,38.33,3027,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,28.55,29.05,28.35,28.7,2007.0,28.33,25.91,22.31,20.76,78.02,79.58,3028,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,43.55,43.55,43.0,43.2,664.0,44.23,42.57,32.96,25.44,54.28,64.2,3029,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,57.7,58.0,57.4,57.8,259.0,58.34,57.73,53.34,49.27,39.86,43.1,3030,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,30.5,31.0,28.25,30.0,18442.0,26.0,20.62,16.23,18.77,86.41,75.82,3031,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,42.6,42.8,42.2,42.45,194.0,42.94,42.03,35.39,29.44,43.97,45.26,3032,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,24.4,24.8,24.3,24.65,6930.0,23.86,21.67,19.7,20.09,75.82,75.28,3033,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,534.0,562.0,522.0,541.0,30010.0,525.76,456.07,284.4,201.96,63.86,67.88,3034,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,114.5,116.0,109.0,112.0,11476.0,96.52,73.77,56.09,53.22,87.23,87.83,3035,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,148.0,148.5,144.0,145.5,18615.0,134.49,107.81,61.82,43.66,88.66,87.3,3037,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,18.75,19.3,18.7,19.05,2075.0,19.88,19.75,16.19,13.36,29.89,44.65,3038,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,52.5,52.5,51.9,52.2,367.0,50.99,46.0,38.83,33.08,86.51,84.0,3040,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,30.2,30.25,29.65,29.7,2047.0,29.3,27.77,21.86,26.08,53.38,50.88,3041,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,120.5,124.0,119.0,123.0,5272.0,119.53,102.63,67.5,54.54,72.31,75.32,3042,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,3.92,3.99,3.92,3.92,98.0,4.04,4.24,3.88,10.23,13.16,10.46,3043,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,121.5,122.5,120.0,121.5,1506.0,125.53,125.84,109.52,97.41,36.39,49.35,3044,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,104.5,105.0,104.0,105.0,3045.0,103.12,101.78,104.69,97.66,90.74,81.04,3045,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,23.3,23.5,22.95,22.95,56.0,23.07,20.8,17.19,14.02,47.72,55.73,3046,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,11.15,11.4,10.95,11.2,2059.0,11.47,11.93,11.21,12.78,27.78,30.41,3047,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,37.1,37.25,36.9,37.05,1142.0,35.61,30.09,21.73,18.8,81.46,81.32,3048,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,13.45,13.55,13.2,13.45,8121.0,13.04,12.12,10.97,10.59,59.84,59.46,3049,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,14.75,15.25,14.5,14.5,2127.0,15.05,15.01,12.42,10.69,29.31,38.44,3050,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,12.0,12.15,12.0,12.1,207.0,12.28,12.36,11.21,10.81,30.71,36.91,3052,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,22.8,22.8,21.5,21.55,376.0,22.27,22.95,22.94,22.23,48.06,50.13,3054,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,30.05,30.3,29.9,30.1,82.0,30.29,30.92,28.01,24.48,35.95,31.61,3055,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,44.0,44.2,42.8,43.2,4679.0,41.7,39.3,30.62,24.96,71.23,58.36,3056,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,13.95,14.1,13.95,14.0,78.0,14.02,12.39,11.23,15.62,41.01,52.31,3057,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,17.25,17.7,17.25,17.6,1294.0,17.08,14.34,10.63,12.01,56.79,56.71,3058,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,40.55,41.0,39.2,39.45,22334.0,38.82,35.27,29.67,30.97,57.53,56.13,3059,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,24.35,24.9,24.0,24.75,1261.0,24.73,21.32,24.45,42.62,49.61,54.61,3060,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,19.85,20.2,19.75,19.85,3035.0,19.38,18.31,17.78,23.9,58.6,55.36,3062,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,27.9,27.9,27.9,27.9,1.0,28.32,28.75,22.53,19.84,31.41,29.9,3067,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,25.6,25.9,25.6,25.9,80.0,26.29,25.44,20.52,16.23,40.89,48.69,3071,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,53.5,54.2,53.0,53.9,1649.0,54.09,49.43,36.31,29.68,53.45,56.57,3078,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,238.0,239.5,235.0,237.0,254.0,245.99,257.37,286.48,340.39,23.62,27.72,3081,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,52.0,52.2,51.1,51.6,515.0,53.44,56.61,57.03,69.07,41.51,48.21,3083,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,9.32,9.32,9.32,9.32,3.0,9.37,9.02,9.54,15.39,24.63,38.15,3085,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,54.7,55.0,54.6,54.6,763.0,54.85,54.28,55.14,53.22,64.37,66.18,3088,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,21.9,22.3,21.5,22.3,192.0,21.15,20.61,18.4,17.77,34.88,34.17,3089,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,56.8,57.4,56.6,57.3,662.0,57.0,54.17,49.13,43.13,72.76,72.46,3090,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,73.1,76.0,71.2,75.8,13165.0,72.58,64.74,50.07,41.46,72.39,70.53,3092,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,36.8,37.4,36.2,36.3,1935.0,35.63,31.33,24.75,29.23,60.11,61.44,3094,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,343.5,347.0,336.0,338.5,5429.0,348.98,343.67,264.96,175.56,40.14,40.56,3105,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,38.1,38.1,38.1,38.1,2262.0,32.33,27.21,24.57,20.87,86.4,76.14,3114,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,14.5,14.5,14.5,14.5,1.0,14.68,15.08,15.55,15.14,9.56,23.7,3115,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,30.8,30.8,30.2,30.4,38.0,30.62,30.49,30.59,32.83,48.33,55.41,3118,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,53.0,54.8,51.5,53.8,4382.0,47.18,34.67,21.56,20.35,72.41,65.16,3122,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,19.0,19.0,18.55,18.8,164.0,19.16,17.87,15.1,16.53,49.87,50.32,3128,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,412.0,425.0,405.5,422.5,475.0,403.14,367.14,266.07,206.26,74.64,61.45,3131,2021-08-31

Empty DataFrame
Columns: [o, h, l, c, v, ma4, ma12, ma48, ma120, K, D, stockId, date]
Index: []

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,161.5,166.5,159.5,160.5,7279.0,136.79,90.99,51.16,37.57,83.18,81.93,3141,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,39.5,39.5,39.35,39.4,141.0,38.7,35.9,29.82,25.38,44.18,47.94,3144,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,58.3,58.3,55.1,56.0,338.0,52.85,44.8,34.89,28.59,78.67,78.52,3147,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,42.5,42.75,41.85,42.45,1929.0,40.47,32.22,21.28,27.5,69.09,66.23,3149,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,469.0,479.0,465.0,471.5,307.0,481.71,463.29,356.88,269.01,44.46,51.81,3152,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,44.0,44.4,43.7,44.15,195.0,45.52,48.87,47.99,46.87,24.02,24.3,3163,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,24.35,24.4,24.35,24.4,26.0,24.35,24.0,25.17,28.58,50.18,54.18,3164,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,82.1,83.7,74.1,77.5,3315.0,72.68,61.07,47.18,41.02,74.55,65.25,3167,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,164.0,176.0,163.0,172.5,2834.0,163.21,124.89,67.2,49.33,75.15,68.66,3169,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,22.75,22.75,22.65,22.75,19.0,23.56,23.05,18.86,17.32,41.86,52.71,3171,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,65.5,66.2,63.9,65.2,649.0,64.85,63.79,64.94,72.43,42.43,46.18,3176,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,75.9,77.4,75.9,76.7,105.0,75.69,68.88,48.89,39.55,49.6,47.64,3178,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,14.55,14.55,14.45,14.5,46.0,14.43,14.45,15.67,18.26,42.56,42.16,3188,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,187.0,189.0,179.5,188.0,8212.0,161.19,120.49,80.72,80.08,83.24,82.65,3189,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,7.9,7.9,7.9,7.9,9.0,7.71,13.38,21.17,20.85,15.54,8.25,3191,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,14.45,14.55,14.0,14.15,820.0,14.73,16.77,17.12,16.46,20.57,17.13,3202,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,27.25,28.4,27.25,27.7,172.0,28.07,31.46,51.19,58.56,4.25,4.05,3205,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,34.0,34.4,33.85,34.0,43.0,34.0,33.68,29.36,26.51,24.79,26.08,3206,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,30.65,30.7,30.3,30.5,861.0,29.61,26.5,22.95,23.5,85.76,87.44,3209,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,101.5,102.0,99.9,100.5,955.0,104.39,98.98,74.72,71.52,41.96,49.42,3211,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,58.6,58.6,56.8,57.1,1187.0,59.06,55.5,49.28,52.01,74.5,83.87,3213,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,106.0,107.5,105.5,106.0,337.0,107.81,108.28,77.16,50.18,39.66,38.85,3217,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,361.5,361.5,345.5,354.0,345.0,340.73,288.61,156.16,91.97,58.19,62.0,3218,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,36.0,36.1,34.55,35.05,6540.0,31.39,26.93,23.38,23.44,80.1,67.43,3221,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,43.0,44.85,43.0,44.3,447.0,43.23,45.02,47.5,38.95,22.67,18.27,3224,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,196.0,198.0,192.5,197.0,3666.0,194.86,188.03,150.1,143.94,62.63,59.18,3227,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,410.0,439.5,405.5,437.0,3263.0,398.03,303.47,139.01,89.28,59.38,53.24,3228,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,6.72,6.72,6.31,6.36,61.0,6.41,7.12,11.79,15.95,33.89,32.0,3229,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,16.7,17.0,16.6,17.0,148.0,16.46,13.16,8.6,10.98,54.68,54.47,3230,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,27.75,27.85,27.4,27.6,15643.0,29.02,30.03,27.92,30.2,16.14,31.57,3231,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,21.15,21.15,20.75,20.8,139.0,20.44,19.26,20.2,21.41,45.09,55.49,3232,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,30.55,31.1,30.5,30.85,696.0,31.67,34.73,37.08,37.78,22.88,21.53,3234,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,30.95,31.2,29.65,30.7,1619.0,30.08,27.42,25.9,23.57,61.57,60.36,3236,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,17.2,17.6,17.2,17.4,137.0,17.58,17.44,18.41,19.38,53.66,56.64,3252,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,83.8,83.8,79.2,80.0,3217.0,80.28,78.23,65.96,58.0,45.88,43.74,3257,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,41.15,42.3,40.0,42.3,45.0,41.55,38.04,28.54,26.81,54.31,54.89,3259,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,111.0,117.0,110.0,115.5,11727.0,109.67,92.71,69.0,64.34,73.82,74.34,3260,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,60.0,63.9,59.9,63.0,48288.0,55.37,46.25,35.36,30.16,87.43,79.12,3264,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,30.0,31.4,29.65,31.05,1111.0,29.87,28.61,27.34,27.35,46.41,45.73,3265,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,12.95,12.95,12.7,12.75,17.0,12.86,13.29,13.38,15.34,18.11,17.95,3266,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,36.2,37.45,36.2,37.25,318.0,34.4,27.0,18.28,23.55,65.38,61.1,3268,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,44.1,45.55,43.6,44.15,1167.0,44.37,45.64,47.14,72.28,22.01,19.49,3272,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,13.95,14.35,13.9,14.15,151.0,14.3,13.11,11.67,12.0,39.5,42.72,3276,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,12.55,12.55,12.5,12.5,24.0,12.74,13.02,13.87,13.77,27.71,34.43,3284,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,22.65,22.85,22.45,22.7,62.0,22.55,21.54,20.27,20.07,50.46,52.97,3285,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,18.45,18.45,18.1,18.1,78.0,19.91,21.25,15.22,12.66,3.91,12.37,3287,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,50.9,51.5,50.7,50.8,166.0,51.42,52.45,58.31,62.66,46.85,43.88,3289,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,13.0,13.0,12.95,12.95,118.0,13.39,14.17,16.1,16.38,30.87,31.5,3290,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,879.0,881.0,861.0,863.0,482.0,854.68,793.36,525.76,354.82,67.23,64.95,3293,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,19.2,19.5,18.8,19.25,488.0,20.32,20.04,17.61,19.53,22.8,31.84,3294,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,24.3,24.6,23.25,24.0,1241.0,22.95,20.42,17.42,21.14,64.85,60.38,3296,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,15.45,15.45,15.15,15.25,82.0,15.79,15.77,15.5,20.3,22.16,26.47,3297,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,21.3,21.7,21.2,21.5,529.0,21.89,22.54,22.28,27.19,28.25,34.82,3303,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,55.8,56.2,53.7,54.0,3128.0,51.79,42.37,30.81,34.56,80.44,80.95,3305,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,24.65,25.35,23.9,25.2,583.0,23.41,21.44,21.12,26.7,56.0,53.32,3306,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,28.2,28.2,28.05,28.2,32.0,28.57,29.67,30.99,26.45,16.07,19.94,3310,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,33.85,33.9,33.45,33.75,121.0,34.55,33.62,26.92,38.37,25.48,32.64,3311,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,23.2,24.7,23.2,24.35,2060.0,22.74,19.72,14.82,12.97,72.83,68.13,3312,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,11.8,11.8,11.6,11.75,18.0,11.86,12.36,17.02,23.18,44.95,48.35,3313,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,81.7,85.0,81.7,82.5,3822.0,76.51,62.52,44.42,43.35,77.54,77.7,3317,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,13.45,14.6,13.45,14.2,970.0,13.95,14.02,14.91,19.34,50.9,42.84,3321,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,17.0,17.2,16.6,16.9,854.0,17.06,15.01,11.25,11.74,46.35,51.18,3322,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,47.35,49.9,46.2,49.7,3194.0,48.85,46.38,37.46,36.34,44.65,47.71,3323,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,180.0,182.0,178.0,181.5,361.0,184.32,193.42,156.77,105.6,37.9,32.84,3324,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,24.0,24.3,23.4,23.7,507.0,24.75,25.36,20.44,22.26,13.21,20.55,3325,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,48.75,49.5,48.7,49.1,315.0,51.45,58.41,56.09,46.25,32.93,31.61,3338,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,50.5,51.1,49.0,49.3,1418.0,49.45,45.99,45.73,53.06,44.7,48.28,3346,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,15.85,15.9,15.65,15.7,148.0,15.45,14.7,14.88,15.34,56.93,51.24,3354,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,38.75,39.95,37.45,39.65,1417.0,36.52,32.03,36.63,65.7,77.95,70.97,3356,2021-08-31

Empty DataFrame
Columns: [o, h, l, c, v, ma4, ma12, ma48, ma120, K, D, stockId, date]
Index: []

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,15.75,15.75,15.45,15.55,112.0,15.74,15.88,17.02,16.79,32.14,38.11,3360,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,78.1,79.9,77.1,79.8,972.0,81.8,69.47,52.03,41.52,48.24,51.27,3362,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,26.5,26.7,26.4,26.6,133.0,26.58,27.14,29.85,34.6,25.08,27.44,3363,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,30.4,30.9,28.4,28.7,10875.0,25.56,19.13,11.4,10.64,78.71,75.26,3372,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,64.7,69.8,64.7,67.9,1184.0,69.99,75.24,54.66,40.14,12.56,17.23,3373,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,169.0,173.5,169.0,172.0,3125.0,168.32,156.05,103.02,76.64,52.18,48.55,3374,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,107.0,109.0,107.0,109.0,1091.0,112.2,121.57,116.29,113.44,26.26,25.35,3376,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,13.15,13.2,13.0,13.2,95.0,13.37,12.79,12.6,21.88,21.84,29.4,3379,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,28.35,28.35,28.0,28.2,785.0,29.04,29.47,25.2,24.2,26.18,29.84,3380,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,5.99,5.99,5.9,5.91,37.0,5.45,4.76,4.89,16.42,62.42,53.22,3383,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,77.0,77.0,76.1,76.3,47.0,76.16,73.0,69.83,74.74,76.73,78.81,3388,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,19.25,19.25,19.0,19.25,119.0,18.52,17.35,19.29,22.89,75.95,66.56,3390,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,40.8,40.9,40.4,40.8,150.0,40.5,36.79,30.32,27.43,55.18,60.86,3402,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,526.0,527.0,515.0,526.0,936.0,524.58,527.01,436.68,311.1,55.94,49.97,3406,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,233.5,241.5,233.5,241.0,712.0,236.78,221.45,177.44,136.14,58.99,59.4,3413,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,74.9,75.8,74.9,75.8,167.0,75.54,73.32,63.11,62.46,51.23,50.82,3416,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,18.85,18.85,18.3,18.4,604.0,19.09,18.88,17.6,19.96,31.64,41.09,3419,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
171,40.4,40.65,39.05,40.15,102.0,39.94,39.76,45.04,48.1,25.29,29.0,3426,2021-07-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,15.1,15.4,14.9,15.0,188.0,14.43,13.72,13.58,16.13,57.37,48.83,3432,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,30.65,31.3,30.35,31.2,2958.0,30.82,28.91,26.97,41.29,41.64,43.99,3437,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,98.5,105.0,96.8,101.0,2182.0,91.27,72.33,44.13,51.99,72.26,73.91,3438,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,39.05,39.3,38.5,39.0,157.0,38.68,35.2,30.76,30.04,53.27,50.38,3441,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,406.0,413.5,399.0,408.5,2064.0,403.98,370.25,277.82,216.31,57.6,55.16,3443,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,38.65,38.65,38.05,38.2,68.0,38.22,37.56,31.46,26.77,33.85,34.26,3444,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,60.8,61.2,60.2,60.3,832.0,60.27,62.24,74.62,79.87,39.88,35.63,3450,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,80.0,81.3,80.0,80.5,41.0,80.55,81.25,87.31,92.3,39.86,38.46,3454,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,60.2,61.5,60.2,61.0,266.0,60.08,58.24,54.68,46.98,56.91,56.91,3455,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,12.2,12.25,12.2,12.2,21.0,12.38,12.92,15.59,24.69,42.73,45.48,3466,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,54.5,54.5,53.7,54.2,106.0,53.83,55.15,56.3,52.83,39.61,35.8,3479,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,18.55,19.15,18.15,19.1,167863.0,20.07,17.77,13.18,19.97,43.49,54.63,3481,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,93.3,93.9,91.9,92.0,528.0,94.13,90.11,62.03,53.15,39.42,43.5,3483,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,77.3,79.6,76.9,79.2,835.0,76.79,66.43,45.91,39.48,78.79,76.47,3484,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,11.05,11.05,10.95,10.95,35.0,11.13,11.33,10.95,14.63,13.41,19.43,3489,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,28.3,28.3,27.8,27.9,253.0,27.49,27.42,28.86,36.12,36.97,33.25,3490,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,68.4,68.9,68.1,68.7,145.0,68.8,71.64,76.03,74.34,40.2,37.84,3491,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,19.4,19.4,19.05,19.25,36.0,19.11,18.32,20.22,21.43,63.43,64.02,3492,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,3.54,3.67,3.54,3.6,68.0,3.66,4.05,6.41,11.66,14.3,14.96,3494,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,37.4,38.75,37.4,37.95,60.0,38.12,38.3,39.1,45.78,28.2,26.49,3498,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,13.9,13.95,13.75,13.85,64.0,13.65,13.07,13.99,19.53,42.56,44.37,3499,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,48.9,49.15,48.55,49.1,158.0,50.46,50.3,50.1,51.67,38.12,44.79,3501,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,84.3,87.4,84.3,86.8,1055.0,84.29,76.45,71.3,72.43,73.14,68.23,3504,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,22.0,22.25,21.85,22.2,234.0,22.59,22.81,27.15,42.38,30.96,37.53,3508,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,43.6,45.5,42.15,43.15,4318.0,40.24,34.73,29.64,28.68,66.78,72.87,3511,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,32.3,32.55,32.2,32.2,27.0,32.76,32.23,31.66,34.99,33.39,38.13,3512,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,171.0,177.0,170.5,171.5,1806.0,171.94,162.44,117.52,104.81,50.83,50.58,3515,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,23.8,24.3,23.8,24.2,137.0,25.62,27.92,28.65,45.94,12.66,18.61,3518,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,12.75,12.8,12.5,12.7,30.0,13.27,14.3,24.3,35.14,11.36,16.61,3520,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,11.95,12.0,11.85,11.85,27.0,12.36,13.25,14.32,18.53,16.97,23.76,3521,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,12.8,13.1,12.65,12.9,354.0,12.48,12.91,18.9,23.55,19.78,16.8,3522,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,8.96,8.99,8.95,8.99,29.0,9.39,10.71,12.71,24.77,4.65,5.68,3523,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,198.0,213.5,196.0,213.5,7758.0,183.61,143.41,94.23,73.5,87.85,77.61,3526,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,156.5,172.0,156.5,170.5,4091.0,144.98,120.53,101.91,113.91,82.64,71.88,3527,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,52.0,52.0,50.7,51.7,43.0,50.04,45.98,39.67,37.28,72.59,79.08,3528,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,1335.0,1370.0,1325.0,1350.0,349.0,1241.27,958.6,576.73,398.17,79.89,82.95,3529,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,195.5,202.0,191.0,200.0,4285.0,176.64,141.36,120.58,130.79,72.65,70.47,3530,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
171,22.95,24.35,22.8,23.2,180.0,23.03,22.61,22.48,25.58,31.78,40.84,3531,2021-07-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,189.5,193.0,186.0,191.5,610.0,184.08,162.5,127.51,105.15,75.08,76.02,3532,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,572.0,572.0,556.0,566.0,414.0,565.55,516.49,352.91,233.96,81.04,85.07,3533,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,17.55,17.75,17.4,17.55,277.0,17.54,18.18,18.25,18.45,23.91,25.14,3535,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,7.7,7.7,7.22,7.25,12.0,7.25,6.32,7.59,10.64,38.74,44.94,3536,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,36.2,36.3,35.55,36.2,337.0,37.1,36.46,32.18,29.45,45.82,58.81,3537,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,57.4,57.4,56.0,56.6,345.0,61.82,62.86,44.74,37.29,14.93,30.85,3540,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,50.6,51.8,50.6,51.8,160.0,51.33,55.64,73.17,75.25,51.25,40.25,3541,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,28.2,28.3,27.7,27.8,109.0,28.26,26.81,22.48,20.85,49.16,56.98,3543,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,286.0,298.0,279.0,280.0,71103.0,249.07,173.47,81.8,63.29,90.62,87.08,3545,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,93.5,93.5,92.1,92.2,166.0,91.32,89.41,82.8,85.36,48.46,47.58,3546,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,68.9,69.6,68.5,68.6,328.0,71.53,72.49,65.81,57.24,33.97,41.38,3548,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,22.55,22.55,21.85,22.2,1190.0,20.84,18.25,16.43,17.61,72.4,64.21,3550,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,57.5,58.0,57.1,57.6,107.0,56.05,53.06,45.85,45.33,57.58,51.8,3551,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,240.0,243.0,233.5,239.0,1056.0,240.44,213.6,158.5,145.03,47.08,48.14,3552,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,117.0,120.0,108.5,114.5,11614.0,96.46,76.25,60.33,62.72,75.31,58.15,3556,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,99.0,99.0,97.6,97.9,42.0,98.44,100.18,113.87,134.17,43.04,41.74,3558,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,262.5,285.5,262.5,276.5,1386.0,267.78,277.72,279.42,203.4,57.17,48.01,3563,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,23.8,24.0,23.5,23.5,32.0,23.58,24.55,30.24,45.77,41.03,38.88,3564,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,34.5,37.1,34.5,36.35,984.0,34.74,31.98,27.11,22.97,62.43,59.96,3567,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,69.9,70.5,69.8,70.5,22.0,73.49,78.76,75.19,66.5,3.24,18.05,3570,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
171,13.2,13.6,12.0,12.1,419886.0,12.96,12.57,12.42,18.81,22.54,36.76,3576,2021-07-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,43.65,45.9,43.65,45.7,163.0,41.54,36.12,34.3,34.05,90.56,81.84,3577,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,60.5,60.8,58.9,59.9,228.0,60.63,54.82,40.21,32.95,47.34,60.47,3580,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,25.8,26.6,25.7,26.5,198.0,25.8,23.74,20.1,20.28,42.25,45.24,3581,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,59.6,60.0,58.6,59.9,105.0,61.48,61.47,61.42,61.4,35.32,41.49,3583,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,152.0,153.0,147.0,148.5,1182.0,140.01,118.9,90.59,73.23,71.9,66.25,3587,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,121.5,123.5,117.0,120.0,3444.0,105.43,80.31,49.23,61.59,76.27,74.77,3588,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,28.0,28.8,27.5,28.8,3793.0,25.52,20.86,18.09,39.51,74.93,67.81,3591,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,23.55,23.65,23.35,23.65,156.0,24.45,24.61,24.84,26.58,18.15,30.02,3594,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,97.6,97.9,96.3,96.7,1486.0,99.57,98.12,83.39,69.51,37.31,42.63,3596,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,28.0,28.0,27.0,27.35,37.0,28.21,26.12,19.17,16.23,46.72,50.93,3597,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,55.5,58.3,55.5,58.1,2215.0,53.48,45.21,33.67,37.06,78.59,79.01,3605,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,15.4,15.6,15.2,15.45,329.0,15.36,14.91,20.19,34.54,39.66,42.11,3607,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,49.6,49.6,47.85,49.0,175.0,46.17,38.55,26.34,24.69,78.69,68.43,3609,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,231.0,232.0,228.0,232.0,77.0,226.14,213.97,218.02,196.44,78.29,77.23,3611,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,22.85,22.9,22.45,22.65,328.0,23.49,22.82,21.1,30.41,28.17,39.03,3615,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,80.0,80.0,78.5,79.0,16.0,81.48,83.11,86.92,90.27,41.21,51.01,3617,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,30.3,30.3,29.35,29.75,252.0,31.16,30.43,25.47,53.52,27.82,41.32,3622,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,15.85,15.85,15.65,15.8,13.0,16.2,16.69,24.05,33.83,19.19,25.42,3623,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,49.5,50.7,47.5,50.0,2341.0,44.0,36.04,30.81,33.5,83.16,80.67,3624,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,27.8,28.55,27.5,27.95,871.0,26.13,22.89,20.94,21.05,68.75,60.38,3625,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,37.2,37.2,35.9,35.9,12.0,36.64,36.91,39.75,81.68,28.43,32.05,3628,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,43.7,43.75,42.65,43.15,539.0,45.9,50.69,58.2,64.57,20.34,27.98,3630,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,46.8,47.0,46.7,46.7,11.0,48.46,48.31,39.29,37.9,24.03,32.0,3631,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,8.89,8.93,8.89,8.92,52.0,9.19,9.69,12.73,20.46,24.84,29.74,3632,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,12.35,12.35,12.35,12.35,4.0,12.85,14.26,16.97,21.24,7.57,11.26,3642,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,50.7,51.8,50.4,51.5,360.0,51.37,51.66,50.09,45.33,48.91,41.24,3645,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,30.45,31.65,30.45,30.9,170.0,28.85,25.19,21.1,22.89,75.5,70.98,3646,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,20.9,21.5,20.9,20.95,23.0,20.95,20.41,19.63,21.86,27.29,33.45,3652,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,331.5,336.5,323.5,328.0,1121.0,314.03,291.39,201.63,150.48,79.98,65.48,3653,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,640.0,647.0,613.0,620.0,2074.0,627.58,607.94,365.09,220.37,40.51,36.3,3661,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,42.0,42.0,39.05,40.6,2581.0,34.49,27.14,21.74,22.3,82.66,66.94,3663,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,9.96,9.96,9.6,9.86,27.0,10.41,11.22,13.25,19.31,5.25,19.72,3664,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,259.5,259.5,253.5,256.0,793.0,257.21,252.34,222.14,176.64,43.14,41.7,3665,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,39.3,39.65,38.95,39.3,298.0,42.59,45.28,33.83,36.51,9.78,19.87,3666,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,70.0,70.7,69.1,70.1,474.0,74.71,75.47,49.08,36.6,16.07,20.47,3669,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,16.6,18.1,16.6,16.6,1001.0,16.57,17.23,20.48,31.63,19.66,14.44,3672,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,43.45,43.45,42.65,43.0,1029.0,44.77,46.84,66.72,165.4,15.65,27.16,3673,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,160.0,164.0,155.0,157.5,2084.0,135.92,103.75,66.48,49.1,74.04,72.41,3675,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,103.0,103.5,99.1,102.0,591.0,113.92,113.32,85.39,70.81,16.95,35.25,3679,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,272.0,272.0,267.0,267.0,378.0,275.0,275.21,175.2,107.69,33.43,36.71,3680,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,37.0,37.2,36.9,36.9,15.0,37.85,37.25,37.54,42.77,46.07,50.7,3684,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,26.75,26.85,26.45,26.8,36.0,27.37,26.58,32.53,36.25,35.67,38.76,3685,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,19.8,20.1,19.6,19.85,1393.0,18.99,16.55,10.68,15.51,58.21,53.3,3686,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,109.5,112.0,103.5,111.0,767.0,105.38,80.57,56.1,71.5,73.82,81.62,3687,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,27.8,28.65,27.8,28.25,243.0,29.35,29.99,32.67,43.12,35.2,39.27,3689,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,233.0,234.0,218.5,222.0,2521.0,208.01,183.77,191.89,321.49,71.53,58.77,3691,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,43.45,44.2,43.4,43.6,45.0,43.5,45.69,52.54,79.54,24.9,22.64,3693,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,22.55,22.9,22.5,22.8,123.0,23.65,25.05,22.52,22.82,22.68,25.23,3694,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
164,20.7,23.95,20.3,22.25,139178.0,20.74,19.45,18.83,19.7,66.06,62.84,3698,2020-12-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,54.6,54.9,54.3,54.6,3962.0,53.0,48.46,42.41,39.37,76.53,85.45,3702,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,23.9,24.5,23.8,24.45,1044.0,24.84,23.0,17.54,14.6,58.22,64.47,3703,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,27.55,27.55,27.0,27.3,1011.0,29.12,29.33,22.52,19.29,20.28,31.48,3704,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,44.25,44.4,44.25,44.35,224.0,44.18,44.16,43.91,44.39,52.82,47.29,3705,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,28.5,28.55,28.25,28.4,1462.0,28.47,28.98,29.6,28.5,37.04,38.48,3706,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,103.5,107.0,102.0,106.5,14189.0,91.48,66.36,37.95,25.95,79.98,79.25,3707,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,104.0,105.0,103.0,104.5,267.0,113.12,122.09,110.35,118.11,9.74,18.9,3708,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,9.3,9.3,9.15,9.21,315.0,9.68,9.85,8.83,8.83,16.01,26.82,3710,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,124.0,126.0,120.5,125.5,20938.0,119.02,103.1,83.54,80.2,92.32,87.68,3711,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,36.35,37.25,36.0,36.6,1169.0,34.11,31.75,25.52,21.81,55.99,43.24,3712,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,37.4,38.55,37.4,37.85,20.0,39.89,41.42,29.67,22.48,5.07,7.98,3713,2021-08-31

Empty DataFrame
Columns: [o, h, l, c, v, ma4, ma12, ma48, ma120, K, D, stockId, date]
Index: []

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,20.25,20.6,20.15,20.2,133.0,21.03,22.71,21.4,22.85,5.02,5.5,4102,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,56.0,56.0,55.7,56.0,225.0,56.68,56.59,53.57,54.42,47.88,60.4,4104,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,80.6,81.2,79.5,80.5,1205.0,80.26,76.42,80.88,84.35,59.67,58.68,4105,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,32.85,35.0,32.6,33.65,1048.0,35.29,33.65,31.17,31.4,36.37,54.4,4106,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,109.5,110.0,108.5,109.0,47.0,113.41,121.55,118.33,97.17,12.42,16.33,4107,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,22.35,22.75,22.35,22.35,504.0,23.41,24.36,24.27,29.6,6.4,14.95,4108,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,13.5,13.5,13.3,13.45,98.0,14.03,15.25,17.01,19.01,1.93,12.32,4109,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,22.9,23.0,22.9,22.95,48.0,23.13,23.69,24.73,24.52,35.67,34.5,4111,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,13.95,14.15,13.95,14.05,811.0,13.9,13.81,13.18,13.72,56.9,48.05,4113,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,25.3,25.4,25.25,25.4,300.0,25.51,25.42,26.92,28.84,56.47,57.01,4114,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,30.35,30.45,30.25,30.45,18.0,31.4,32.62,37.19,50.12,11.88,25.3,4116,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,90.0,90.1,88.9,89.8,163.0,89.9,96.53,95.04,81.63,27.15,25.13,4119,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,42.7,42.7,41.0,41.2,13.0,42.71,45.7,53.56,56.78,29.17,29.47,4120,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,24.9,26.8,24.35,26.4,3287.0,25.53,22.76,17.36,16.62,47.15,62.45,4121,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,70.9,72.3,70.6,71.7,5080.0,70.1,68.06,66.45,61.84,72.46,58.51,4123,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,71.0,71.0,70.8,71.0,71.0,71.69,72.75,75.81,74.94,29.86,37.88,4126,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,10.65,10.75,10.55,10.7,118.0,10.69,10.85,12.13,15.31,23.85,23.35,4127,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,57.2,58.3,57.2,57.5,920.0,59.12,59.79,41.49,33.29,17.98,17.44,4128,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,34.15,34.2,34.05,34.1,73.0,33.94,34.55,42.82,46.26,45.72,45.7,4129,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,25.55,25.75,25.5,25.7,186.0,25.92,27.54,31.03,33.7,13.87,11.45,4130,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,51.7,53.5,51.0,52.5,611.0,55.13,56.82,47.98,51.69,27.38,32.71,4133,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,204.5,205.0,200.5,202.0,170.0,205.9,208.17,213.25,229.52,35.47,43.69,4137,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,50.6,51.1,50.6,50.6,83.0,52.52,51.68,52.9,67.64,65.39,76.75,4138,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,52.9,52.9,52.9,52.9,2.0,53.44,53.43,52.29,58.62,11.76,19.52,4139,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,12.35,12.35,12.15,12.3,45.0,12.22,12.47,19.12,35.87,24.92,26.7,4141,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,49.65,50.8,49.55,50.4,3275.0,51.45,52.59,40.24,34.58,17.38,19.02,4142,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
162,26.85,26.9,26.8,26.9,749.0,26.49,26.42,34.38,47.95,68.96,64.28,4144,2020-10-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,63.1,63.6,62.6,62.7,344.0,66.21,76.81,127.11,167.73,14.59,17.77,4147,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,33.6,33.8,33.15,33.8,12.0,34.23,35.66,50.65,61.05,16.3,22.23,4148,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,98.6,99.2,98.6,98.7,317.0,92.36,83.79,95.59,155.64,90.0,77.31,4152,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,22.2,22.4,21.95,22.25,42.0,23.0,24.45,31.83,41.54,26.92,33.14,4153,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,24.55,24.55,24.55,24.55,2.0,25.42,27.21,27.21,29.39,11.67,19.61,4154,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,23.7,24.0,23.7,24.0,117.0,24.6,26.09,28.48,29.73,21.27,22.98,4155,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,18.5,18.75,18.4,18.65,850.0,19.47,20.55,21.97,29.36,21.9,33.5,4157,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,24.2,24.25,24.0,24.05,34.0,24.19,24.71,26.96,31.52,40.35,34.38,4160,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,26.0,26.0,25.75,25.85,29.0,26.35,26.97,34.67,45.53,20.22,30.65,4161,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,64.0,64.3,63.2,63.5,211.0,64.61,65.54,97.14,140.82,45.07,47.79,4162,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,86.3,86.3,85.4,85.4,13.0,86.95,93.48,108.91,117.79,26.27,23.6,4163,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,34.9,35.1,34.9,35.05,187.0,35.82,37.18,40.94,59.13,28.32,34.33,4164,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,25.3,25.8,25.2,25.65,446.0,26.63,28.31,26.92,29.01,4.31,11.75,4167,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,29.55,30.05,29.5,29.85,128.0,30.63,29.49,30.92,57.37,38.27,43.9,4168,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,123.0,126.0,123.0,125.0,364.0,128.04,137.98,102.92,69.18,27.65,28.22,4171,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,21.4,21.7,21.15,21.2,255.0,22.04,22.37,22.48,32.17,21.28,29.97,4173,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,108.0,109.0,107.0,108.5,182.0,113.14,119.53,159.03,227.86,11.72,18.04,4174,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,75.0,76.3,74.8,76.0,45.0,74.33,72.41,71.54,78.69,75.08,62.93,4175,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,16.5,16.5,16.2,16.35,10.0,16.97,18.52,23.37,28.18,6.12,8.9,4188,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,76.0,77.4,76.0,77.1,41.0,78.8,83.81,92.19,103.17,19.98,25.96,4190,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,55.6,55.6,55.6,55.6,280.0,52.63,50.83,42.79,48.01,57.34,43.66,4192,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,5.9,6.0,5.9,6.0,13.0,6.26,6.74,10.11,21.66,11.27,9.14,4198,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,133.5,137.5,133.5,137.5,53.0,129.99,114.07,87.01,64.6,97.49,90.04,4205,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,13.2,13.25,13.1,13.1,1257.0,13.24,12.7,11.97,12.02,33.54,40.37,4207,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,17.95,18.0,17.8,17.85,77.0,18.46,20.18,30.01,27.54,16.59,15.58,4303,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,17.2,17.3,17.1,17.25,1837.0,17.53,16.46,14.8,16.19,59.93,71.82,4306,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,41.5,42.8,41.5,42.35,393.0,41.02,36.73,44.69,50.61,69.13,68.68,4401,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,7.43,7.43,7.13,7.34,84.0,7.41,6.75,6.73,6.81,50.37,51.34,4402,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,12.3,12.8,12.3,12.75,14.0,13.07,13.88,13.4,11.94,13.15,12.5,4413,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,8.9,8.98,8.85,8.9,1716.0,9.25,10.12,12.49,12.91,7.77,13.35,4414,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,37.7,37.7,37.55,37.7,90.0,37.64,35.94,34.45,31.39,65.26,70.88,4417,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,28.9,28.9,28.8,28.8,5.0,28.38,27.29,27.83,26.79,64.7,61.61,4420,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,22.7,22.7,21.95,22.3,202.0,23.45,26.77,44.06,50.21,14.43,22.22,4426,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,25.85,25.85,25.1,25.1,22.0,25.25,25.39,27.49,35.27,37.96,41.67,4430,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,14.6,14.8,14.3,14.8,34.0,15.18,15.88,25.58,38.16,27.01,28.55,4432,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,35.0,35.0,34.8,34.85,24.0,36.63,38.48,35.17,34.07,34.22,35.44,4433,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,116.5,116.5,114.5,114.5,25.0,119.77,121.09,131.69,144.09,53.24,71.83,4438,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,151.0,151.0,145.5,147.0,77.0,151.91,151.64,163.23,173.19,56.12,66.57,4439,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,39.6,40.8,39.4,40.15,50.0,41.01,44.25,49.09,39.13,14.76,22.71,4502,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,16.25,16.25,16.05,16.1,34.0,16.62,17.57,21.66,19.57,16.09,27.49,4503,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,59.1,59.1,58.5,59.1,60.0,58.92,58.21,53.97,41.88,81.7,82.22,4506,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,11.9,12.0,11.9,12.0,42.0,12.01,11.85,13.22,14.4,37.63,39.72,4510,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,10.25,10.5,10.25,10.35,34.0,10.25,9.7,9.87,11.51,49.46,53.59,4513,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,26.95,27.7,26.95,27.6,13.0,27.96,27.38,22.89,22.76,48.05,44.14,4523,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,17.9,18.0,17.65,17.9,256.0,17.51,16.38,17.58,22.3,64.64,60.56,4526,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,29.3,29.3,29.1,29.25,19.0,29.46,28.86,27.95,26.42,45.83,55.65,4527,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,43.3,43.5,43.2,43.4,59.0,44.88,46.16,48.84,44.3,26.56,32.43,4528,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,12.8,12.8,11.9,12.05,500.0,10.98,10.6,16.71,19.18,53.33,37.48,4529,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,9.15,9.39,9.15,9.29,40.0,9.85,11.14,9.6,8.14,13.88,13.57,4530,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,20.2,20.3,20.15,20.25,549.0,20.6,20.73,23.17,23.95,25.56,32.45,4532,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,13.9,14.3,13.8,14.25,133.0,14.14,12.35,12.25,13.38,68.5,69.03,4534,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,35.6,35.7,35.2,35.7,5.0,35.31,32.86,33.3,38.55,82.06,84.37,4535,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,149.5,149.5,148.5,148.5,66.0,153.91,155.18,138.4,138.82,29.47,41.65,4536,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,19.4,19.9,19.3,19.7,102.0,19.67,18.57,18.1,18.8,81.16,82.97,4538,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,54.3,54.5,53.5,53.9,180.0,54.05,54.31,67.74,85.57,34.22,34.02,4540,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,26.95,27.25,25.95,26.2,642.0,24.66,22.35,25.9,38.24,78.69,72.73,4541,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,27.6,28.55,27.6,28.5,84.0,28.39,29.05,33.12,46.64,21.86,23.64,4545,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,86.8,89.0,86.8,88.8,14.0,87.6,83.6,83.77,92.57,61.37,59.6,4549,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,24.5,24.6,24.45,24.55,39.0,24.52,24.24,22.84,23.01,44.44,44.02,4550,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,176.0,176.0,173.0,173.5,85.0,176.38,175.55,153.1,121.0,54.15,50.79,4551,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,30.0,30.1,29.9,30.0,57.0,30.79,33.24,53.19,78.86,28.45,29.69,4552,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,26.0,26.2,26.0,26.0,12.0,26.16,25.51,29.11,46.1,29.13,32.87,4554,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,60.0,60.1,58.5,58.8,90.0,57.45,54.58,56.85,63.8,54.77,47.75,4555,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,66.6,66.6,66.2,66.5,85.0,66.14,65.25,67.65,69.75,77.48,70.32,4557,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,42.7,42.9,40.85,42.85,163.0,42.81,43.21,45.6,43.58,60.98,63.06,4560,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,28.3,28.5,27.5,28.3,48.0,28.78,28.38,31.72,38.74,35.36,43.14,4561,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,19.95,20.2,19.6,20.0,78.0,20.25,20.48,27.17,34.35,23.37,30.13,4562,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,30.7,30.7,30.7,30.7,5.0,30.9,32.66,45.11,55.63,48.98,44.52,4563,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,49.15,49.65,47.85,49.5,2552.0,47.62,42.62,49.66,59.2,78.17,76.0,4564,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,49.05,49.55,48.95,49.1,66.0,50.08,50.27,51.52,58.24,28.56,31.52,4566,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,70.6,71.5,70.4,71.5,14.0,70.7,69.46,70.33,74.31,43.82,36.71,4568,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,131.5,140.0,131.5,135.0,206.0,133.25,117.73,92.25,86.27,46.42,48.98,4571,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,111.0,112.0,110.5,112.0,75.0,106.69,99.12,117.92,134.84,70.79,69.84,4572,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,119.5,119.5,116.5,118.5,102.0,122.05,116.18,96.42,90.04,42.97,48.22,4576,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,90.0,90.0,89.6,89.8,23.0,90.8,93.78,97.78,99.47,24.37,24.03,4580,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,38.8,39.8,38.8,38.9,6.0,38.4,37.99,37.28,36.83,40.56,34.16,4581,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
171,8.31,8.86,7.72,8.0,253.0,8.2,8.35,9.85,11.38,58.19,64.56,4609,2021-07-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,14.25,14.45,14.15,14.4,155.0,14.29,13.03,9.85,10.39,37.36,42.99,4702,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,18.9,19.0,18.9,19.0,9.0,18.81,18.13,18.25,17.38,53.54,55.7,4706,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,13.45,13.55,13.3,13.35,592.0,13.3,12.56,11.2,11.11,55.65,58.19,4707,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,7.8,7.8,7.8,7.8,89.0,7.39,7.65,10.61,14.02,51.46,33.68,4712,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,13.6,13.65,13.45,13.45,645.0,13.52,13.34,13.58,13.61,58.49,55.25,4714,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,15.15,15.3,15.1,15.15,162.0,15.49,15.43,16.11,19.01,33.33,44.95,4716,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,14.5,14.6,14.35,14.5,189.0,14.95,15.12,14.6,14.65,22.36,31.84,4720,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,80.3,85.9,79.6,84.2,5797.0,77.35,69.93,65.43,53.65,66.22,57.12,4721,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,35.75,35.75,35.2,35.45,153.0,35.0,32.91,30.38,27.75,65.54,68.24,4722,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,46.1,46.8,45.25,46.2,6881.0,43.74,39.68,34.45,42.27,61.41,55.01,4726,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,72.0,72.0,69.5,70.2,49.0,71.88,73.74,63.78,51.63,26.14,33.32,4728,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,12.65,12.65,12.5,12.65,186.0,12.93,13.27,14.3,16.86,37.53,44.47,4729,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,65.9,65.9,63.8,64.7,151.0,72.02,82.67,66.28,46.44,3.14,3.3,4735,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,216.0,219.0,214.0,218.5,605.0,213.42,205.09,171.86,134.02,76.25,66.71,4736,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,70.5,71.0,70.2,71.0,23.0,71.32,71.84,65.66,67.74,29.95,35.76,4737,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,108.5,118.0,107.0,118.0,8288.0,103.96,85.87,76.24,61.94,78.55,76.72,4739,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,195.0,198.0,192.0,195.0,1169.0,207.27,213.89,131.82,80.16,18.2,20.34,4743,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,27.6,28.1,27.6,28.05,49.0,27.69,29.0,31.79,33.43,43.64,33.67,4744,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,27.05,27.2,26.8,27.0,19.0,27.4,29.46,39.59,55.71,9.04,10.9,4745,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,69.4,70.4,67.5,70.1,1717.0,71.05,63.14,56.62,63.69,45.62,57.27,4746,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,36.5,36.5,36.15,36.3,8.0,36.72,37.59,40.69,53.0,18.41,40.56,4747,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,61.0,61.0,60.4,61.0,40.0,62.29,62.32,52.54,42.89,36.45,40.23,4755,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,128.5,131.5,124.0,129.5,2166.0,126.3,110.5,69.06,49.06,65.75,68.53,4760,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,100.0,101.0,99.1,101.0,103.0,105.63,115.49,125.1,123.05,4.49,8.92,4763,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,61.7,61.9,61.3,61.9,6.0,61.61,62.62,67.01,68.27,54.12,46.17,4764,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,150.5,150.5,148.5,150.0,47.0,151.9,150.8,138.37,126.55,60.29,66.44,4766,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,26.9,26.9,26.0,26.1,89.0,28.37,40.2,91.3,122.2,5.39,7.72,4803,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,9.9,9.98,9.82,9.86,45.0,10.47,11.65,27.18,65.26,10.5,17.47,4804,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,11.2,11.4,11.0,11.35,45.0,10.98,10.49,21.79,46.18,79.16,71.02,4806,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,27.95,27.95,27.8,27.8,4.0,26.98,27.12,38.16,50.79,46.38,34.37,4807,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,7.7,7.7,7.61,7.62,9.0,7.66,8.36,13.29,14.87,28.03,27.38,4903,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,60.7,61.5,60.6,61.5,3324.0,62.24,63.08,67.42,65.35,34.76,51.11,4904,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,33.0,33.1,32.6,32.75,4054.0,32.49,30.64,27.05,31.2,64.09,61.36,4906,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,24.2,24.2,24.05,24.1,13.0,24.33,25.33,23.98,19.13,23.25,21.61,4907,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,28.6,29.2,28.6,28.9,126.0,29.43,30.8,29.25,32.47,24.32,28.44,4908,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,24.35,25.0,24.25,24.6,219.0,25.04,23.38,21.34,26.81,43.56,52.11,4909,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,191.0,197.0,188.0,195.5,562.0,188.91,165.89,138.89,111.89,73.83,73.68,4912,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,61.3,62.2,60.0,60.5,6392.0,59.44,56.2,53.34,46.5,68.0,63.33,4915,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,25.6,26.5,25.35,25.85,429.0,25.03,24.82,29.07,34.29,60.71,52.5,4916,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,138.0,141.0,132.0,135.0,30886.0,112.52,80.25,56.27,49.58,78.53,80.99,4919,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,13.65,14.3,13.65,14.3,16.0,15.1,15.12,12.88,17.7,20.56,30.85,4924,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,57.8,58.5,57.1,58.5,855.0,59.7,63.07,53.2,44.22,35.56,33.36,4927,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,25.3,25.3,24.9,25.25,360.0,25.06,22.19,16.38,17.4,44.23,48.23,4930,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,22.3,22.3,21.7,22.0,167.0,21.44,22.57,27.22,29.38,32.39,25.04,4931,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,40.1,40.2,39.45,40.15,267.0,40.63,38.53,32.89,44.07,43.04,51.68,4933,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,90.7,91.3,90.5,91.1,158.0,94.47,100.82,85.61,69.99,29.44,30.85,4935,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,67.3,67.3,66.7,67.1,4547.0,68.73,68.87,66.36,61.09,26.24,38.45,4938,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,26.0,26.0,25.5,25.75,628.0,24.99,22.53,18.88,18.22,78.27,74.64,4939,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,50.2,50.6,49.35,50.4,1123.0,48.16,43.7,37.08,36.58,77.28,74.84,4942,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,71.2,74.2,70.9,73.0,778.0,72.22,82.14,120.76,111.97,45.28,37.5,4943,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
171,27.8,31.0,25.45,29.5,573.0,30.46,28.84,20.45,25.81,26.78,47.38,4944,2021-07-31

Empty DataFrame
Columns: [o, h, l, c, v, ma4, ma12, ma48, ma120, K, D, stockId, date]
Index: []

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,35.2,35.2,34.8,34.8,7.0,36.41,33.94,33.78,58.35,50.17,62.11,4946,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,86.2,87.4,82.1,82.8,6011.0,72.73,56.76,42.79,37.02,80.92,80.83,4952,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,100.5,100.5,99.5,100.0,184.0,99.12,96.53,80.99,61.61,44.52,46.95,4953,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,27.6,28.5,27.3,27.9,6012.0,26.01,23.17,19.79,21.44,53.03,49.61,4956,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,105.5,106.0,104.5,104.5,2104.0,105.15,110.35,103.08,88.33,42.6,33.58,4958,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,13.0,13.2,12.75,13.15,30766.0,12.76,11.66,11.66,15.39,48.45,52.4,4960,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,291.0,308.0,287.0,308.0,18881.0,296.17,224.87,107.4,68.32,73.07,76.36,4961,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,1735.0,1770.0,1725.0,1760.0,705.0,1609.62,1353.27,877.71,612.52,83.65,84.86,4966,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,72.8,73.8,72.1,73.0,4518.0,69.1,57.56,39.95,32.61,88.56,84.33,4967,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,405.0,420.0,402.5,408.0,2024.0,444.22,425.59,251.01,162.98,40.07,52.06,4968,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,57.9,59.8,57.2,59.7,213.0,57.17,55.44,62.96,72.02,57.05,52.95,4971,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,30.7,31.0,30.7,30.9,79.0,31.88,31.49,31.78,32.41,35.95,48.48,4972,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,28.0,28.4,27.65,27.85,442.0,27.81,26.75,23.66,25.27,44.61,46.39,4973,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,59.0,60.1,57.8,59.5,2038.0,57.82,56.1,50.38,43.43,70.69,66.43,4974,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,79.0,81.6,77.8,78.8,4309.0,81.4,74.15,49.69,40.94,42.61,48.19,4976,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,89.5,89.9,87.2,87.9,188.0,92.03,100.37,97.77,92.14,19.48,25.34,4977,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,19.2,19.4,19.0,19.15,313.0,19.71,21.72,26.43,32.36,22.08,21.22,4979,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,58.0,59.0,57.6,58.2,148.0,56.98,54.41,56.2,57.7,88.63,81.74,4987,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,48.5,50.4,48.0,50.1,2020.0,46.19,36.7,29.75,31.46,75.56,74.27,4989,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,48.8,48.85,47.95,48.7,70.0,48.01,49.47,56.35,58.7,41.09,35.79,4991,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,61.5,62.0,61.5,62.0,35.0,64.09,67.92,72.99,98.32,12.85,22.15,4994,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,34.45,34.45,33.9,34.0,4.0,34.41,36.82,39.36,35.73,26.76,25.33,4995,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,45.25,45.7,45.2,45.3,88.0,47.67,48.59,47.96,51.94,13.83,27.82,4999,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,58.1,58.1,57.2,57.8,85.0,58.58,55.86,53.99,52.6,65.57,73.7,5007,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,27.75,29.65,27.3,29.3,48015.0,26.33,21.81,19.36,22.06,93.45,83.02,5009,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,26.7,27.15,26.05,27.1,7260.0,24.64,19.41,13.47,12.69,88.17,84.29,5014,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,33.4,33.45,32.55,33.1,38.0,33.58,33.5,33.63,29.83,52.81,53.1,5015,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,37.1,37.6,37.0,37.6,28.0,37.67,34.9,32.31,30.17,63.6,67.91,5016,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,18.65,18.65,18.55,18.6,24.0,18.37,17.35,16.09,15.47,29.11,28.16,5102,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,28.5,28.55,28.35,28.55,7.0,29.99,31.64,29.06,24.15,3.4,15.82,5201,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,77.5,78.6,77.1,78.0,155.0,81.48,91.17,89.83,90.12,7.52,9.14,5203,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,17.55,17.6,17.5,17.55,67.0,17.75,17.71,15.77,13.22,30.14,35.44,5206,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,68.8,69.1,68.6,69.1,37.0,68.67,66.45,56.3,51.36,72.59,67.03,5209,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,10.9,11.0,10.75,10.85,203.0,10.47,9.49,8.2,8.29,68.61,66.45,5210,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,16.2,16.35,15.9,16.1,31.0,16.16,15.82,17.31,23.24,40.0,43.08,5211,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,56.0,57.1,55.0,57.1,3.0,57.61,55.49,41.65,31.83,29.79,36.96,5212,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,20.7,20.95,20.5,20.85,474.0,21.32,20.05,18.02,19.16,55.01,64.33,5213,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,96.6,96.6,94.5,94.5,176.0,103.72,114.09,82.84,59.41,11.87,16.13,5215,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,40.05,40.35,40.0,40.35,94.0,40.76,40.87,36.06,32.73,35.66,30.9,5220,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,59.9,59.9,58.7,59.2,167.0,63.56,67.33,51.38,41.01,7.54,13.89,5223,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,20.1,20.2,20.0,20.0,25.0,20.67,23.7,31.45,41.39,18.87,17.74,5225,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,31.3,31.6,30.95,31.25,207.0,30.48,28.54,31.41,43.52,59.42,56.83,5230,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,89.5,90.1,89.5,89.8,112.0,89.56,88.36,80.23,66.11,46.74,50.01,5234,2021-08-31

Empty DataFrame
Columns: [o, h, l, c, v, ma4, ma12, ma48, ma120, K, D, stockId, date]
Index: []

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,66.1,67.5,66.1,67.2,897.0,66.7,59.75,45.87,43.98,65.86,64.94,5243,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,42.8,44.35,42.8,43.4,133.0,42.79,40.75,51.6,60.81,36.0,40.15,5245,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,13.9,13.9,13.9,13.9,5.0,13.93,13.69,17.8,29.87,50.46,50.05,5251,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,23.5,23.5,23.0,23.3,227.0,22.84,22.74,25.08,31.05,29.17,28.45,5258,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,130.5,131.0,125.0,126.0,434.0,129.27,126.9,159.53,174.74,57.83,60.72,5263,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
165,87.1,87.4,87.0,87.1,1256.0,85.59,74.16,77.15,104.93,99.27,99.46,5264,2021-01-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,39.5,41.3,38.2,41.3,12546.0,36.86,31.02,29.31,35.28,65.54,57.32,5272,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,2190.0,2235.0,2165.0,2190.0,164.0,2139.15,1864.93,1207.85,776.6,71.97,75.94,5274,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,164.5,164.5,164.5,164.5,8.0,162.44,152.36,128.66,117.28,75.53,75.42,5278,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,23.35,23.6,23.35,23.6,9.0,23.67,24.35,31.1,34.2,22.11,23.59,5281,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,114.0,115.0,114.0,115.0,40.0,117.95,117.69,107.91,103.99,30.74,38.68,5283,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,44.3,44.6,44.0,44.45,20.0,44.17,42.1,47.58,52.29,69.4,68.9,5284,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,112.5,119.0,112.5,115.5,3230.0,103.27,83.15,65.86,55.86,75.66,79.59,5285,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,246.5,254.0,246.0,252.5,225.0,243.31,233.23,241.49,264.58,80.69,70.46,5287,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,154.5,159.5,154.5,159.0,32.0,154.75,138.7,116.08,97.74,78.68,78.58,5288,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,241.5,244.0,236.5,242.5,726.0,218.95,190.7,153.11,120.65,92.34,83.57,5289,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,47.75,51.7,47.75,51.7,1247.0,44.43,34.4,25.52,26.57,89.31,82.07,5291,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,244.0,253.0,241.0,248.0,2995.0,214.44,169.32,127.36,111.64,82.94,77.1,5299,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,10.1,10.1,9.88,10.0,21.0,9.95,10.48,17.04,20.9,34.53,26.72,5301,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,15.7,15.8,15.2,15.55,1028.0,14.97,12.18,8.5,9.57,54.08,55.39,5302,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
163,42.2,42.35,42.15,42.3,7401.0,41.75,40.58,35.59,29.84,97.91,86.69,5305,2020-11-30

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,242.0,248.5,241.0,248.5,425.0,238.46,211.55,156.55,119.3,84.05,81.49,5306,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,37.7,39.4,37.6,39.2,11732.0,37.25,35.54,23.32,16.93,41.98,34.32,5309,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,13.4,13.55,13.4,13.5,42.0,13.63,14.25,22.27,26.28,19.97,24.79,5310,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,63.0,63.0,62.8,63.0,29.0,62.92,62.25,64.58,67.45,66.67,63.77,5312,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,7.09,7.09,6.2,6.43,57.0,6.37,6.15,5.8,6.87,44.0,38.55,5314,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,19.7,19.7,19.25,19.55,821.0,19.15,17.67,17.21,15.23,68.63,69.51,5315,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,55.5,58.9,55.5,58.9,1326.0,48.36,40.48,35.8,28.02,71.86,48.53,5321,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,9.9,9.97,9.83,9.95,61.0,10.04,10.15,11.19,14.26,23.28,24.97,5324,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,16.95,18.15,16.45,17.85,8979.0,16.49,14.09,10.8,9.34,74.54,70.39,5328,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,45.85,47.1,45.3,46.5,402.0,42.41,39.66,31.38,20.53,62.36,51.99,5340,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,23.4,23.4,21.7,22.0,1020.0,20.06,16.79,11.66,10.33,66.97,52.9,5344,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,6.29,6.39,6.11,6.11,6.0,6.29,6.92,7.38,7.48,12.47,13.37,5345,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,116.5,120.0,116.0,120.0,4829.0,117.64,109.77,83.97,62.45,62.71,65.21,5347,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
162,24.9,27.55,24.7,25.4,13067.0,24.8,24.64,28.02,27.02,73.79,76.09,5349,2020-10-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,51.1,52.1,49.8,51.2,50793.0,42.06,29.92,17.96,16.94,85.31,80.9,5351,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,17.5,17.55,17.4,17.5,106.0,17.39,17.2,16.09,14.35,50.0,47.69,5353,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,27.4,27.45,27.15,27.25,159.0,28.23,28.45,31.36,34.06,36.59,50.83,5356,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,55.4,55.5,54.1,55.0,1358.0,55.92,50.36,42.53,40.05,73.3,79.52,5371,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,24.7,24.95,24.4,24.6,37.0,24.36,23.42,18.1,15.31,48.96,47.74,5383,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,46.95,48.5,46.5,47.15,320.0,50.32,51.65,43.05,34.6,24.46,33.75,5386,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,65.5,65.6,64.9,65.5,499.0,67.05,70.53,71.72,64.66,30.54,32.12,5388,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,26.65,26.85,26.4,26.8,195.0,27.47,27.3,34.32,52.61,51.33,59.64,5392,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,72.0,72.6,71.5,72.6,91.0,70.68,64.48,48.96,37.17,59.13,55.99,5403,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,24.2,24.3,24.1,24.2,132.0,23.81,22.7,19.37,16.94,77.39,72.88,5410,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,80.6,81.9,79.4,80.0,11926.0,72.46,61.16,52.24,44.12,72.79,68.67,5425,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,10.45,10.55,10.45,10.45,83.0,10.55,10.72,11.84,13.33,39.25,42.98,5426,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,31.85,33.0,31.8,31.8,16.0,28.33,23.62,21.52,19.36,60.96,59.5,5432,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,132.0,135.0,131.5,134.5,1351.0,131.19,125.19,102.74,83.75,57.42,59.73,5434,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,20.35,20.55,20.35,20.5,4453.0,18.03,15.14,14.24,17.34,95.31,77.56,5438,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,72.3,72.5,70.5,71.1,2201.0,67.68,60.19,46.42,37.1,81.62,74.29,5439,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,39.1,39.95,39.0,39.6,990.0,39.5,36.9,27.82,23.03,48.2,52.83,5443,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,17.9,17.9,17.5,17.9,15.0,18.14,18.07,16.06,15.07,46.42,45.59,5450,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,23.8,24.1,23.45,23.8,613.0,24.48,20.11,12.6,11.6,50.4,55.76,5452,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,77.2,78.6,76.0,77.0,995.0,78.75,83.42,70.77,49.95,38.73,31.35,5457,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,11.3,11.4,11.3,11.4,23.0,11.59,11.58,11.66,12.89,27.8,45.89,5460,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,32.25,32.7,31.45,32.1,571.0,30.26,23.13,17.67,19.3,72.17,79.48,5464,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,16.1,16.15,16.05,16.1,60.0,16.94,17.63,17.19,15.02,15.63,26.91,5465,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,47.75,48.3,47.35,48.3,2819.0,47.52,45.38,35.58,27.32,60.82,57.37,5469,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,108.0,109.5,107.5,108.0,3415.0,102.96,87.69,57.65,51.31,72.38,69.79,5471,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,168.0,170.5,167.5,168.5,66.0,173.85,181.59,132.61,90.99,14.28,12.99,5474,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,105.0,105.0,102.5,103.5,174.0,104.72,102.06,88.34,84.01,41.69,48.52,5478,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,12.5,12.6,12.4,12.55,48.0,12.96,13.8,15.86,16.57,22.71,26.46,5481,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,191.0,195.0,189.0,192.5,4382.0,187.28,164.2,113.07,93.46,75.27,77.39,5483,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,17.45,17.8,17.0,17.6,139.0,16.74,14.62,10.24,12.01,80.84,71.09,5484,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,41.1,41.8,40.65,41.4,41.0,39.86,38.19,33.7,28.54,46.53,39.42,5487,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,8.25,8.29,8.15,8.22,79.0,8.16,7.67,7.53,8.88,39.44,43.09,5488,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,33.5,33.6,33.5,33.6,15.0,33.1,32.06,35.15,39.31,79.1,71.28,5489,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,29.0,29.45,28.95,29.2,224.0,28.82,28.19,32.81,38.39,47.64,47.48,5490,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,42.3,42.3,41.5,41.5,16.0,41.52,41.29,36.45,31.69,33.77,39.81,5493,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,19.6,19.6,18.9,18.9,2211.0,18.41,16.5,12.85,11.41,61.38,59.7,5498,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,51.9,52.7,51.9,52.6,302.0,50.67,45.92,38.83,40.4,79.93,78.14,5508,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,28.6,28.9,28.6,28.9,32.0,29.63,30.03,27.86,25.31,23.46,41.36,5511,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,9.41,9.45,9.33,9.39,967.0,9.6,9.85,9.99,11.54,19.84,28.31,5512,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,22.4,22.4,22.4,22.4,3.0,22.08,20.9,17.72,16.92,65.05,65.56,5514,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,14.3,14.5,14.25,14.5,389.0,14.27,13.37,11.67,12.41,59.99,56.71,5515,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,22.2,22.35,22.05,22.35,677.0,21.93,19.7,16.57,19.23,68.83,70.41,5519,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,9.73,9.81,9.67,9.75,821.0,9.91,10.09,10.01,11.05,24.9,28.63,5521,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,56.4,56.9,56.0,56.7,395.0,55.72,52.9,44.76,45.03,70.65,71.49,5522,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,33.9,34.0,30.45,30.95,1467.0,30.66,24.76,16.07,14.4,80.46,81.65,5523,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,25.05,25.05,24.85,25.0,89.0,24.86,23.79,21.71,21.36,67.88,69.31,5525,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,18.75,18.75,18.4,18.5,124.0,18.32,14.98,10.88,13.17,75.36,77.93,5529,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,48.45,48.6,48.25,48.5,194.0,50.03,52.37,58.25,60.29,12.28,26.63,5530,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,11.95,12.15,11.9,12.1,1271.0,12.34,12.59,12.18,18.39,18.64,23.42,5531,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,80.6,80.7,80.2,80.5,233.0,80.35,81.03,79.95,75.56,49.57,44.51,5534,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,190.0,193.0,187.0,191.5,285.0,192.87,193.3,179.66,156.48,52.2,52.58,5536,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,46.7,47.9,46.7,47.9,165.0,46.8,41.61,35.91,32.56,72.96,74.76,5538,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,75.2,75.3,74.7,75.1,67.0,76.33,76.34,69.79,66.44,30.0,39.0,5546,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,93.6,94.2,92.1,92.9,244.0,91.51,81.16,55.91,42.58,66.97,73.44,5604,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,37.15,38.0,36.4,37.75,1546.0,35.99,32.06,24.94,22.29,61.35,63.76,5607,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,50.4,52.4,47.85,51.0,33470.0,47.19,31.36,16.53,18.76,71.9,78.73,5608,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,101.5,106.5,98.8,105.0,2886.0,102.55,83.25,48.3,34.72,55.54,69.29,5609,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,45.0,45.0,42.9,43.2,369.0,41.89,38.33,36.83,43.35,71.0,65.11,5706,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,18.65,18.85,18.3,18.6,602.0,19.66,17.22,12.79,11.75,49.67,63.72,5864,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,232.0,237.0,230.5,237.0,3734.0,221.63,190.22,137.35,99.66,95.29,93.51,5871,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,42.05,42.55,41.95,42.5,3331.0,42.85,42.59,42.86,41.26,70.45,82.19,5876,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,47.0,47.25,47.0,47.1,4.0,47.56,47.33,46.31,46.09,52.2,68.45,5878,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,21.95,22.1,21.9,22.1,18627.0,21.65,20.97,19.46,18.24,92.19,84.23,5880,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,269.0,272.0,269.0,271.0,37.0,267.81,261.29,233.75,196.54,67.82,57.19,5903,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,580.0,589.0,573.0,574.0,182.0,575.73,570.39,472.73,345.24,36.68,27.62,5904,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,18.0,18.45,17.5,18.0,4034.0,16.11,13.46,10.81,11.37,73.42,76.4,5905,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,33.85,34.0,33.6,34.0,14.0,36.24,36.82,24.23,18.32,6.78,27.51,5906,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,20.75,21.0,20.35,20.8,289.0,21.25,21.82,27.16,44.57,53.91,55.33,5907,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,16.1,16.15,15.75,15.9,5738.0,16.26,14.96,12.01,11.61,60.5,70.47,6005,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,22.75,22.9,22.2,22.65,2853.0,22.43,17.53,10.75,8.9,75.51,82.4,6015,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,16.15,16.2,15.95,16.15,3852.0,16.31,14.57,10.45,9.08,68.32,74.95,6016,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,21.5,21.5,21.4,21.45,18.0,21.84,19.73,15.86,15.29,55.76,63.58,6020,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,22.95,22.95,22.35,22.35,33.0,22.14,20.26,15.42,13.57,55.89,60.68,6021,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,49.2,49.4,49.2,49.3,56.0,50.02,51.25,48.76,44.32,16.78,23.65,6023,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,39.8,39.95,39.8,39.95,121.0,40.4,40.24,41.05,39.01,37.74,54.31,6024,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,17.55,17.7,17.2,17.65,1926.0,17.28,14.66,11.32,10.37,68.51,70.77,6026,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,19.75,19.75,19.75,19.75,1.0,20.07,22.93,31.88,29.02,27.66,21.95,6101,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,137.0,144.0,136.0,142.0,5847.0,113.03,85.64,56.61,48.27,83.53,65.79,6104,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,21.9,21.9,21.2,21.55,383.0,21.19,21.32,23.15,23.11,63.64,54.12,6108,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,12.2,12.3,12.15,12.25,42.0,12.35,12.52,11.98,12.06,36.67,35.46,6109,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,74.9,75.4,73.0,74.4,289.0,72.38,72.54,84.46,75.5,70.07,55.32,6111,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,39.95,39.95,39.65,39.7,214.0,40.77,41.05,36.74,32.29,27.5,42.51,6112,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,13.55,13.65,13.25,13.35,173.0,13.42,12.1,9.49,9.38,51.24,58.03,6113,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,25.65,25.9,25.6,25.65,46.0,25.43,25.42,32.73,32.6,32.77,35.61,6114,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,45.25,45.4,44.8,45.15,704.0,44.82,43.95,43.09,43.22,70.69,68.07,6115,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,19.05,19.65,18.85,19.5,32124.0,20.1,16.97,11.08,8.9,50.67,60.98,6116,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,16.75,16.75,16.75,16.75,1.0,16.79,16.65,15.86,15.99,40.0,41.84,6117,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,14.35,14.35,14.0,14.25,626.0,14.14,13.14,11.31,12.26,51.49,52.05,6118,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,13.45,13.6,13.3,13.55,1128.0,13.78,13.82,15.63,18.38,32.12,39.38,6120,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,373.0,373.0,367.0,370.0,492.0,367.4,353.87,279.19,218.43,64.56,66.78,6121,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,10.8,10.8,10.7,10.8,101.0,10.9,11.41,11.3,11.77,26.78,26.52,6122,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,49.5,49.5,49.0,49.3,118.0,49.38,46.98,42.51,37.97,65.09,70.25,6123,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,26.8,26.95,26.7,26.95,13.0,27.69,29.27,29.88,29.33,34.96,33.09,6124,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,27.5,28.7,26.7,28.1,20906.0,26.45,25.33,19.2,18.63,44.47,32.43,6125,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,23.1,23.1,22.4,22.65,351.0,24.01,23.94,18.16,19.06,16.3,27.64,6126,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,30.4,30.6,29.5,29.8,3572.0,29.75,26.34,20.4,17.56,64.6,66.29,6127,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,24.85,25.2,24.85,25.2,71.0,25.3,26.41,30.48,32.38,18.47,16.89,6128,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,38.4,39.45,37.75,38.4,9172.0,36.19,27.62,15.3,13.73,59.77,56.55,6129,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,28.75,28.8,27.5,27.75,24.0,26.45,25.05,31.07,39.48,78.37,56.97,6130,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,18.25,18.9,18.1,18.65,124.0,18.64,17.04,12.59,15.28,35.42,38.99,6134,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,17.9,18.0,17.85,18.0,107.0,18.0,18.0,19.74,22.14,54.4,56.08,6136,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,177.0,178.0,168.0,175.0,2291.0,164.67,132.32,84.86,60.55,81.28,82.7,6138,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,31.15,31.5,30.85,31.05,333.0,30.8,30.11,29.27,30.79,55.65,54.45,6139,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,14.3,14.45,14.05,14.35,21.0,15.07,16.68,14.63,13.25,15.99,15.78,6140,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,26.8,27.0,26.5,26.8,163.0,27.88,27.64,22.41,20.9,30.53,38.86,6141,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,13.35,13.85,13.25,13.45,808.0,12.77,11.28,9.11,10.58,41.59,41.13,6142,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,62.4,63.5,58.3,60.0,4222.0,55.84,48.57,45.55,50.15,70.31,62.71,6143,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,242.0,243.0,240.0,243.0,43.0,243.29,241.59,207.01,164.6,29.62,31.59,6146,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,76.5,76.6,74.1,75.3,10591.0,74.05,70.72,63.45,56.37,68.78,65.75,6147,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,13.25,13.4,13.25,13.3,116.0,13.82,14.1,11.37,9.25,16.05,24.18,6148,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,157.5,164.0,155.0,160.0,4784.0,155.63,132.49,89.88,62.87,49.21,54.55,6150,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,40.0,40.5,39.5,40.5,176.0,40.55,35.01,26.46,24.46,64.3,67.97,6151,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,9.63,9.63,9.52,9.58,422.0,10.0,9.98,9.09,13.74,16.4,29.94,6152,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,29.25,29.5,29.0,29.25,1427.0,30.29,31.54,32.27,31.96,30.18,34.11,6153,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,20.0,20.45,19.65,19.85,423.0,17.87,15.4,15.31,21.16,62.76,57.06,6154,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,30.1,30.8,29.65,29.85,776.0,29.33,27.39,24.64,24.72,73.68,68.8,6155,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,17.15,17.2,17.0,17.2,98.0,17.82,18.15,17.12,15.68,26.1,34.2,6156,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,34.65,36.65,34.65,35.85,3317.0,33.83,32.18,27.76,26.07,57.14,47.07,6158,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,21.8,22.3,21.6,22.2,299.0,21.89,19.25,19.0,25.98,65.18,65.66,6160,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,27.3,27.45,26.2,26.4,1420.0,25.4,22.37,18.58,16.47,69.14,72.94,6161,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,18.4,19.15,18.2,19.15,1736.0,18.55,17.68,15.83,15.57,44.89,47.63,6163,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,14.75,15.2,14.6,15.05,3201.0,13.63,11.47,10.12,13.0,72.34,68.32,6164,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,35.0,35.0,34.05,34.5,157.0,35.69,38.13,28.94,21.91,16.81,12.95,6165,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,65.5,66.0,65.1,65.6,63.0,64.04,63.37,59.84,56.64,54.33,47.17,6166,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,9.52,9.52,9.25,9.41,364.0,9.18,8.5,7.49,6.96,52.65,51.05,6167,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,29.1,30.2,28.65,30.2,8003.0,26.89,21.7,16.81,18.12,77.65,78.47,6168,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,22.8,23.0,22.8,22.8,23.0,23.89,26.25,27.74,30.59,20.94,28.42,6169,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,38.5,39.7,37.7,39.1,2335.0,35.4,27.77,18.81,17.63,79.74,81.41,6170,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,26.4,26.5,26.35,26.4,39.0,26.28,24.95,19.65,16.28,74.45,76.71,6171,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,43.45,43.55,42.0,43.35,124.0,40.75,34.73,23.1,15.86,78.66,80.11,6172,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,68.1,68.8,67.3,68.7,1471.0,67.87,65.03,56.46,41.68,60.82,60.06,6173,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,51.5,53.4,50.8,53.2,2830.0,47.65,38.87,29.34,23.53,84.95,81.94,6175,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,105.5,105.5,103.0,104.0,4671.0,110.65,114.0,102.26,90.8,20.08,39.64,6176,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,31.2,31.85,31.2,31.65,1300.0,30.92,30.27,29.59,28.75,65.32,57.88,6177,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,30.05,30.25,30.05,30.1,85.0,31.11,32.54,34.38,31.15,22.11,28.04,6179,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,64.1,64.4,63.6,64.1,310.0,64.1,64.2,61.4,52.42,48.9,47.8,6180,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,70.5,71.0,68.5,68.7,20757.0,63.73,52.41,39.65,38.86,85.16,82.4,6182,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,50.4,50.7,50.3,50.7,30.0,50.19,48.39,40.47,32.69,70.28,62.05,6183,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,44.0,44.2,43.9,44.2,40.0,44.48,43.64,41.29,42.89,57.53,69.21,6184,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,13.25,13.25,13.05,13.15,30.0,13.25,13.79,16.32,19.69,32.3,36.62,6185,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,28.9,29.0,28.9,29.0,228.0,28.75,28.6,25.8,24.22,58.21,53.25,6186,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,140.0,145.0,140.0,145.0,921.0,137.21,114.78,75.52,57.78,69.41,72.11,6187,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,36.9,37.45,36.8,37.35,530.0,39.27,39.93,36.96,35.22,14.65,27.57,6188,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,42.5,42.65,42.3,42.6,602.0,41.65,38.94,34.43,32.37,91.84,87.11,6189,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,25.9,25.95,25.1,25.2,1219.0,25.45,22.49,17.73,15.26,68.23,71.53,6190,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,35.75,36.7,35.65,36.4,12752.0,34.85,29.73,20.24,19.11,76.09,77.36,6191,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,68.6,69.4,68.6,69.1,28.0,69.94,69.79,67.29,63.98,38.71,46.86,6192,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,29.4,29.4,29.15,29.25,20.0,30.27,30.85,25.73,26.1,9.77,19.62,6194,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,52.5,53.2,52.5,53.2,108.0,53.46,50.01,47.18,47.74,61.81,68.94,6195,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,111.0,113.5,111.0,112.5,512.0,111.12,107.36,79.19,54.45,50.18,46.88,6196,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,37.05,37.05,36.65,36.9,68.0,37.36,37.03,33.57,38.99,32.28,41.62,6197,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,137.5,139.5,133.5,136.5,6024.0,121.27,98.97,76.36,64.44,78.94,77.32,6202,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,34.0,34.35,33.5,33.6,788.0,34.78,34.6,31.5,31.22,38.7,40.87,6209,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,42.6,43.2,42.6,42.75,104.0,42.39,41.84,41.19,39.11,37.46,38.37,6210,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,137.5,137.5,134.5,136.0,1113.0,137.04,135.83,109.37,76.57,61.51,60.51,6213,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,87.5,87.6,86.6,87.2,218.0,87.92,86.31,75.85,63.31,62.48,70.4,6214,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,32.35,34.8,32.35,34.7,4135.0,29.88,23.97,18.9,20.36,76.5,72.81,6215,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,25.85,25.95,25.8,25.9,46.0,25.77,25.92,27.06,27.45,50.86,42.14,6216,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,41.65,44.75,41.5,42.6,8618.0,40.54,37.83,34.45,32.9,56.66,51.3,6217,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,21.8,21.8,21.4,21.75,1408.0,22.18,20.85,16.61,15.16,53.82,61.83,6219,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,24.7,24.7,24.3,24.3,131.0,24.74,25.22,27.77,26.69,34.55,36.02,6220,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,15.6,15.7,15.6,15.7,62.0,15.29,14.81,12.57,11.07,77.78,62.02,6222,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,159.5,171.0,158.5,169.0,29636.0,149.69,127.44,95.36,86.6,86.29,70.19,6223,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,148.5,153.0,146.0,151.5,1745.0,140.68,119.03,84.77,70.02,69.6,71.21,6224,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,19.2,19.95,18.0,18.9,9796.0,15.64,12.07,9.52,9.67,77.17,62.44,6226,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,29.1,29.5,28.7,29.5,132.0,29.6,28.83,25.25,22.13,34.57,33.62,6227,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,50.1,51.4,48.65,51.2,1855.0,43.64,34.32,22.27,19.05,69.68,57.2,6229,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,206.5,209.5,206.5,208.0,20.0,208.21,215.99,188.82,138.87,44.72,36.47,6230,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,103.0,105.5,99.6,100.5,2210.0,94.29,90.09,70.33,64.32,62.67,45.25,6231,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,48.6,50.9,48.35,50.4,7350.0,45.25,37.07,22.08,19.43,67.39,59.86,6233,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,21.4,21.45,21.3,21.4,141.0,21.98,22.9,22.87,23.87,34.17,41.17,6234,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,19.15,19.3,19.0,19.1,492.0,19.3,18.65,16.28,15.57,40.78,43.44,6235,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
171,8.58,9.64,8.26,9.27,45.0,9.01,9.28,14.37,18.09,37.55,33.84,6236,2021-07-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,144.0,148.0,143.0,147.0,2944.0,137.74,105.21,54.72,51.51,75.15,70.31,6237,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
158,164.5,183.0,163.0,179.5,6218.0,164.19,160.36,165.98,124.49,67.29,54.4,6238,2020-06-30

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,112.0,113.0,110.0,111.5,4560.0,109.41,103.71,92.06,86.4,77.51,76.42,6239,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,14.5,14.5,14.3,14.3,36.0,14.75,14.84,20.15,20.49,24.65,34.91,6240,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,23.85,24.45,23.6,23.75,1264.0,21.41,17.94,14.87,24.02,59.25,49.51,6243,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,32.9,33.1,32.45,33.1,2521.0,33.22,30.68,24.16,57.17,41.59,46.76,6244,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,58.6,59.0,58.5,58.9,110.0,59.89,61.74,58.17,49.72,29.84,32.92,6245,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,24.8,25.2,24.8,25.15,473.0,25.81,26.18,24.16,20.6,46.28,45.89,6248,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,22.2,22.5,22.1,22.45,2260.0,21.96,20.41,15.81,14.32,72.61,66.17,6251,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,65.2,66.6,64.2,65.5,14845.0,60.66,52.6,39.98,32.7,93.65,85.51,6257,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,17.2,17.7,17.2,17.6,27.0,17.1,14.72,8.58,7.9,38.75,46.78,6259,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,92.9,94.4,92.5,93.6,3559.0,88.33,76.1,60.12,60.95,77.6,78.3,6261,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,68.0,68.2,67.9,68.1,111.0,67.12,65.25,61.13,54.21,90.66,78.95,6263,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,10.5,10.8,10.4,10.65,3219.0,9.99,8.73,7.42,8.71,61.01,56.74,6265,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,22.6,22.8,22.4,22.5,221.0,21.91,21.01,19.45,16.6,73.56,67.79,6266,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,132.0,134.0,130.5,132.5,6382.0,129.7,124.51,110.41,94.09,75.0,64.25,6269,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,21.65,22.2,21.6,21.85,661.0,21.7,20.74,16.89,16.86,43.66,49.69,6270,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,243.5,249.0,233.0,239.5,6919.0,226.27,198.69,151.7,128.22,75.12,67.61,6271,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,117.0,117.0,112.0,113.5,1551.0,114.44,116.38,105.72,74.97,55.96,51.94,6274,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,28.6,31.4,28.6,31.25,4396.0,30.33,27.54,21.54,19.03,57.38,62.73,6275,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,36.55,36.75,36.3,36.65,88.0,37.3,35.43,23.89,18.76,37.68,49.11,6276,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,83.5,84.0,83.3,84.0,77.0,84.39,85.08,84.82,82.62,29.27,35.06,6277,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,128.0,131.5,126.5,128.5,12543.0,124.32,118.49,86.89,67.92,70.42,63.04,6278,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,136.0,139.5,135.5,138.0,589.0,130.66,115.41,106.25,101.08,81.15,72.79,6279,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,83.0,83.3,82.7,83.3,32.0,82.74,78.66,70.25,64.94,86.69,86.77,6281,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,27.0,27.2,26.65,27.1,2565.0,27.08,26.75,24.4,23.51,44.98,46.28,6282,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,56.3,56.7,54.1,54.9,1664.0,54.03,47.18,37.04,29.77,51.27,51.49,6283,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,67.3,68.0,66.5,67.1,1168.0,66.14,60.71,43.75,37.52,45.58,47.32,6284,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,74.6,74.8,73.6,74.0,1467.0,73.82,73.8,75.03,74.6,60.49,52.29,6285,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,26.65,26.9,26.55,26.7,411.0,27.68,28.73,25.73,24.61,33.42,37.33,6288,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,3.17,3.19,3.17,3.19,54.0,3.16,3.02,2.36,5.55,26.63,22.28,6289,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,66.2,67.5,63.3,63.5,18775.0,65.66,62.41,53.98,44.46,54.21,59.15,6290,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,39.5,39.5,39.35,39.5,20.0,39.69,38.23,34.41,31.33,69.73,76.51,6292,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,156.5,157.5,154.5,155.0,102.0,151.48,137.89,116.63,91.3,93.71,91.89,6294,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,7.1,7.1,7.0,7.0,14.0,6.99,6.4,17.67,79.39,57.2,63.06,6404,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,32.4,33.0,31.2,32.95,806.0,33.17,27.58,22.48,31.3,60.26,73.39,6405,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,1365.0,1400.0,1345.0,1355.0,58.0,1321.95,1182.47,837.29,584.89,86.83,80.62,6409,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,149.0,152.5,147.0,148.5,3631.0,146.75,128.39,97.74,77.28,71.87,69.85,6411,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,69.5,70.4,69.5,70.4,104.0,71.03,70.61,61.58,54.46,26.61,27.87,6412,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,224.0,227.0,221.5,227.0,208.0,225.53,231.98,268.63,272.66,43.1,35.48,6414,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,3765.0,3840.0,3735.0,3765.0,157.0,3611.56,2936.81,1641.29,974.87,86.16,89.59,6415,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,117.0,117.0,114.5,115.5,261.0,119.92,124.78,120.41,123.69,19.93,25.97,6416,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,74.5,75.0,73.9,74.8,8.0,75.02,71.78,58.82,53.1,93.48,96.16,6417,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,70.6,71.2,69.4,70.0,63.0,76.79,93.02,96.26,80.55,11.01,15.28,6426,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,36.3,36.3,34.55,35.05,31.0,34.64,32.67,25.57,23.51,63.71,58.44,6431,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,45.65,47.05,45.1,46.5,747.0,44.48,40.2,33.3,35.52,76.22,66.05,6432,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,132.5,137.0,131.5,136.5,902.0,129.77,120.77,103.81,78.61,64.34,57.22,6435,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,107.0,108.5,106.5,108.0,376.0,104.37,93.56,74.46,65.27,57.35,56.5,6438,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,66.4,67.4,59.6,59.6,2499.0,76.65,95.17,80.56,71.86,5.18,11.72,6441,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,34.4,34.4,33.85,34.15,29.0,33.85,33.31,37.91,48.38,55.86,55.0,6442,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,32.6,32.85,32.3,32.4,5512.0,33.84,32.28,20.22,16.84,24.88,36.78,6443,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,91.4,96.5,90.3,96.2,1407.0,92.23,94.73,121.32,147.86,34.62,29.57,6446,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,58.4,59.3,58.4,58.9,81.0,60.16,56.81,45.81,42.41,40.54,51.52,6449,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,107.5,107.5,105.0,106.0,232.0,109.63,113.22,117.22,129.65,33.8,35.79,6451,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
160,131.5,132.0,56.6,56.6,14471.0,113.79,163.71,251.1,246.36,9.05,14.73,6452,2020-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,115.0,116.0,112.5,113.5,3186.0,115.24,115.43,124.56,128.87,61.44,53.34,6456,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,180.5,183.0,173.5,177.5,1486.0,168.14,134.93,75.05,52.92,69.81,68.62,6457,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,20.6,20.9,20.1,20.6,233.0,21.0,20.83,25.45,33.2,46.35,50.4,6461,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,153.5,153.5,151.0,151.5,313.0,156.19,165.14,183.65,176.54,32.3,41.01,6462,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,23.0,23.0,21.7,21.9,133.0,22.17,27.13,44.22,58.11,35.48,25.16,6465,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,241.0,245.0,232.0,244.5,347.0,211.84,157.59,107.28,92.11,90.62,84.69,6469,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,46.75,47.2,46.3,46.3,102.0,48.55,50.13,47.77,49.87,13.96,27.68,6470,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,280.0,280.5,275.0,278.0,224.0,267.79,231.11,159.61,108.06,66.07,63.27,6472,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,44.8,45.65,44.8,45.45,720.0,48.14,49.41,35.57,28.37,23.99,31.25,6477,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,46.25,46.25,46.25,46.25,1.0,46.4,41.48,38.0,46.19,45.08,42.25,6482,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,169.5,179.0,166.0,179.0,27526.0,152.53,107.34,63.67,58.59,92.72,82.48,6485,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,80.0,80.0,78.0,79.2,109.0,79.22,78.67,67.53,56.45,29.46,32.93,6486,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,858.0,877.0,848.0,860.0,1027.0,850.41,731.64,477.48,306.81,81.05,86.01,6488,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,448.0,460.0,436.0,457.5,624.0,469.45,385.65,248.76,203.13,61.26,76.94,6491,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,124.0,125.0,120.0,123.5,482.0,140.59,155.34,128.92,128.09,12.91,17.43,6492,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,169.5,174.0,165.0,174.0,6535.0,147.57,104.14,59.53,45.37,88.74,85.72,6494,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,28.4,28.4,28.2,28.2,4.0,28.38,29.26,41.29,55.71,42.59,42.92,6496,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
160,4.43,5.9,4.22,5.66,12685.0,5.07,8.04,24.13,34.15,25.11,19.71,6497,2020-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,61.7,62.1,61.2,62.1,39.0,60.84,59.57,80.25,114.11,69.34,58.75,6499,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,132.0,136.5,130.5,135.5,437.0,144.12,167.76,172.0,150.71,3.22,2.55,6504,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,97.8,99.7,97.3,99.7,3559.0,99.97,97.11,98.08,94.2,57.09,69.72,6505,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,16.65,16.65,16.55,16.65,61.0,16.76,16.74,18.04,18.84,63.03,71.48,6506,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,30.35,31.1,30.35,30.75,544.0,30.49,30.35,29.43,28.91,47.21,46.33,6508,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,53.9,55.9,52.5,54.0,12450.0,46.77,35.67,25.11,22.53,74.56,78.42,6509,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,663.0,687.0,663.0,674.0,363.0,688.71,732.83,758.22,752.62,15.69,17.53,6510,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,42.65,43.5,42.6,43.5,16.0,45.09,47.81,50.88,56.42,36.0,40.31,6514,2021-08-31

Empty DataFrame
Columns: [o, h, l, c, v, ma4, ma12, ma48, ma120, K, D, stockId, date]
Index: []

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,122.0,123.5,120.0,121.0,139.0,118.16,109.23,119.78,134.81,43.32,38.52,6516,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,76.5,76.6,75.3,75.5,52.0,75.75,73.63,94.8,148.56,50.74,54.13,6523,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,123.5,126.5,119.0,122.5,5520.0,105.84,86.08,71.98,67.91,81.29,74.22,6525,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,49.8,50.2,49.5,49.75,49.0,50.31,51.99,63.38,70.99,18.78,24.38,6527,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,19.0,19.3,18.7,19.1,49.0,19.06,18.93,18.17,18.34,40.0,40.86,6530,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,749.0,799.0,744.0,778.0,7337.0,733.31,618.83,320.83,194.81,64.15,63.69,6531,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,40.65,41.1,40.65,40.85,55.0,43.25,48.35,43.17,37.34,19.23,20.5,6532,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,575.0,598.0,575.0,588.0,945.0,546.34,436.43,249.82,194.38,81.04,74.71,6533,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,35.1,35.85,34.6,35.3,317.0,35.54,35.19,37.38,46.76,35.37,36.21,6535,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,126.5,128.5,119.0,120.0,1074.0,125.83,151.76,134.19,105.43,16.79,12.28,6538,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,54.0,54.2,50.9,52.6,518.0,55.74,54.51,61.79,73.19,31.26,35.56,6541,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,72.0,73.0,71.8,71.8,15.0,71.12,66.09,66.31,73.76,72.67,69.91,6542,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,277.0,297.0,276.5,293.0,4820.0,279.53,219.98,112.4,71.61,56.36,63.62,6547,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,77.1,79.9,76.2,79.9,9397.0,69.75,64.61,64.25,52.6,68.12,48.87,6552,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,44.2,46.1,44.0,46.1,4.0,44.84,43.8,42.25,42.77,74.6,64.7,6556,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,38.75,39.05,38.05,38.6,348.0,39.85,43.42,48.13,47.66,21.98,25.82,6558,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,103.5,106.0,103.5,105.5,18.0,105.51,93.67,67.77,64.77,61.15,67.23,6560,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,297.0,298.5,297.0,298.0,8.0,301.18,309.27,264.25,226.13,23.9,23.49,6561,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,210.0,226.5,210.0,226.5,793.0,190.49,163.33,156.09,154.83,76.54,60.47,6568,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,130.5,131.0,130.5,131.0,9.0,132.46,136.9,157.76,180.99,55.32,54.15,6569,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,31.5,31.65,31.45,31.45,8.0,30.46,30.81,32.14,30.64,68.24,48.09,6570,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,26.1,27.3,24.6,25.5,1158.0,23.1,20.21,26.37,34.34,56.84,52.8,6573,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,90.3,90.3,88.0,89.9,283.0,93.36,90.89,76.27,67.68,30.81,43.27,6576,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,67.8,67.8,67.4,67.7,57.0,67.81,68.17,67.29,67.67,60.66,58.16,6577,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,19.85,19.85,19.65,19.65,32.0,20.14,20.63,22.89,24.63,33.86,43.63,6578,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,66.5,67.5,66.3,67.3,19.0,67.64,69.05,78.34,92.55,35.71,36.62,6579,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,74.1,74.4,73.2,74.2,86.0,73.61,73.03,90.85,114.97,52.86,52.4,6581,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,268.0,274.5,265.0,273.5,565.0,268.87,224.19,132.04,96.21,60.34,62.93,6582,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,49.3,49.3,49.3,49.3,3.0,52.81,65.17,89.27,98.95,13.01,13.65,6588,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,131.5,139.0,128.0,137.0,2304.0,132.84,104.46,60.46,44.37,63.47,66.95,6589,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,60.4,60.4,59.5,60.2,94.0,62.32,61.62,62.99,73.39,33.09,43.48,6591,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,86.1,88.0,86.1,87.8,673.0,86.33,84.26,85.07,86.85,68.47,61.05,6592,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,50.0,50.3,50.0,50.2,21.0,50.9,52.0,55.66,58.06,30.68,37.9,6596,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,44.2,44.2,43.25,43.95,102.0,45.67,64.77,120.05,144.32,5.1,5.03,6598,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,15.7,15.8,15.4,15.55,1231.0,14.91,13.42,12.32,12.67,67.37,64.0,6603,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,60.6,61.0,60.0,60.7,340.0,60.31,58.84,65.88,77.18,49.95,49.51,6605,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,36.95,36.95,35.05,35.9,103.0,33.77,30.2,28.97,28.9,81.76,77.91,6609,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,62.6,64.3,61.0,61.7,58.0,63.12,64.37,68.82,72.86,25.32,30.42,6612,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,153.5,154.0,152.0,153.0,84.0,146.84,143.19,153.97,165.39,75.64,57.46,6613,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,50.0,50.0,49.7,49.7,9.0,49.31,52.78,70.34,78.77,25.22,21.83,6615,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,31.0,31.0,31.0,31.0,2.0,31.37,33.41,45.2,53.36,24.71,21.08,6624,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,68.0,68.2,67.8,67.8,32.0,68.22,67.35,68.39,71.41,35.45,40.74,6641,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,84.9,85.8,81.5,83.0,394.0,79.2,66.38,48.05,42.33,59.83,57.53,6642,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,399.0,403.0,394.0,399.0,312.0,387.96,361.19,321.59,300.93,43.65,40.25,6643,2021-08-31

Empty DataFrame
Columns: [o, h, l, c, v, ma4, ma12, ma48, ma120, K, D, stockId, date]
Index: []

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,85.4,85.8,84.4,85.0,91.0,78.46,68.32,63.3,65.6,74.86,77.15,6654,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,65.3,66.0,65.0,65.0,24.0,66.41,60.28,54.44,56.38,63.15,72.32,6655,2021-08-31

Empty DataFrame
Columns: [o, h, l, c, v, ma4, ma12, ma48, ma120, K, D, stockId, date]
Index: []

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,32.9,33.15,32.9,33.15,4.0,33.31,34.55,40.15,44.42,31.24,32.16,6662,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,68.4,69.0,68.4,68.9,93.0,69.31,67.16,62.02,59.28,66.04,71.44,6664,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,80.2,80.2,79.0,79.0,7.0,80.38,92.35,134.41,157.5,23.2,21.6,6666,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,66.6,67.3,65.2,66.6,93.0,66.62,65.7,55.12,46.69,28.23,30.0,6667,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,64.8,66.9,64.8,65.5,302.0,67.26,65.6,71.35,78.58,33.93,38.0,6668,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,943.0,943.0,920.0,930.0,292.0,930.62,856.73,642.43,516.11,63.54,74.73,6669,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,216.5,218.0,212.0,213.0,187.0,213.78,202.68,180.53,169.9,50.84,54.22,6670,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,51.0,51.4,50.9,51.0,41.0,49.73,45.8,42.89,43.0,93.77,89.47,6671,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,172.5,175.5,167.0,174.0,2731.0,151.97,117.94,95.2,90.5,83.81,87.97,6672,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
171,28.05,32.2,27.65,28.95,1686.0,30.42,31.17,33.88,37.86,24.69,40.6,6674,2021-07-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,369.0,372.5,367.0,370.0,126.0,355.65,298.93,188.15,134.39,74.95,75.71,6679,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,351.0,358.0,348.0,356.5,201.0,346.88,321.29,228.02,171.35,69.92,61.18,6683,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,112.0,118.0,112.0,118.0,10.0,115.08,124.87,134.07,136.46,17.5,11.16,6690,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,40.9,40.9,40.7,40.8,8.0,40.8,40.65,41.59,42.33,68.45,67.79,6697,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,45.0,46.3,45.0,45.45,131.0,44.71,46.1,57.73,64.72,45.24,41.86,6698,2021-08-31

Empty DataFrame
Columns: [o, h, l, c, v, ma4, ma12, ma48, ma120, K, D, stockId, date]
Index: []

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,211.5,213.5,203.0,204.5,6959.0,193.26,173.29,141.08,128.41,63.45,51.93,6706,2021-08-31

Empty DataFrame
Columns: [o, h, l, c, v, ma4, ma12, ma48, ma120, K, D, stockId, date]
Index: []

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,118.0,123.0,117.0,123.0,100.0,118.8,118.95,107.22,98.95,47.24,32.88,6715,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,252.0,253.5,231.5,241.0,502.0,201.33,144.38,83.68,63.17,79.78,66.39,6716,2021-08-31

Empty DataFrame
Columns: [o, h, l, c, v, ma4, ma12, ma48, ma120, K, D, stockId, date]
Index: []

Empty DataFrame
Columns: [o, h, l, c, v, ma4, ma12, ma48, ma120, K, D, stockId, date]
Index: []

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,853.0,864.0,820.0,832.0,1205.0,782.39,771.99,851.0,891.45,79.15,57.05,6732,2021-08-31

Empty DataFrame
Columns: [o, h, l, c, v, ma4, ma12, ma48, ma120, K, D, stockId, date]
Index: []

Empty DataFrame
Columns: [o, h, l, c, v, ma4, ma12, ma48, ma120, K, D, stockId, date]
Index: []

Empty DataFrame
Columns: [o, h, l, c, v, ma4, ma12, ma48, ma120, K, D, stockId, date]
Index: []

Empty DataFrame
Columns: [o, h, l, c, v, ma4, ma12, ma48, ma120, K, D, stockId, date]
Index: []

Empty DataFrame
Columns: [o, h, l, c, v, ma4, ma12, ma48, ma120, K, D, stockId, date]
Index: []

Empty DataFrame
Columns: [o, h, l, c, v, ma4, ma12, ma48, ma120, K, D, stockId, date]
Index: []

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,47.1,47.2,45.3,46.9,100.0,46.42,46.08,48.77,50.26,71.49,61.05,6754,2021-08-31

Empty DataFrame
Columns: [o, h, l, c, v, ma4, ma12, ma48, ma120, K, D, stockId, date]
Index: []

Empty DataFrame
Columns: [o, h, l, c, v, ma4, ma12, ma48, ma120, K, D, stockId, date]
Index: []

Empty DataFrame
Columns: [o, h, l, c, v, ma4, ma12, ma48, ma120, K, D, stockId, date]
Index: []

Empty DataFrame
Columns: [o, h, l, c, v, ma4, ma12, ma48, ma120, K, D, stockId, date]
Index: []

Empty DataFrame
Columns: [o, h, l, c, v, ma4, ma12, ma48, ma120, K, D, stockId, date]
Index: []

Empty DataFrame
Columns: [o, h, l, c, v, ma4, ma12, ma48, ma120, K, D, stockId, date]
Index: []

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,237.0,238.0,236.5,238.0,23.0,233.38,225.02,203.45,178.87,86.17,81.5,6803,2021-08-31

Empty DataFrame
Columns: [o, h, l, c, v, ma4, ma12, ma48, ma120, K, D, stockId, date]
Index: []

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,17.3,17.45,17.05,17.3,771.0,17.99,18.69,19.41,24.26,23.39,28.32,8011,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,400.0,416.5,390.0,398.5,13397.0,353.18,269.94,172.52,125.55,91.64,87.22,8016,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,47.25,47.25,45.5,45.6,2902.0,43.02,35.63,26.46,27.82,80.57,75.61,8021,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,30.65,32.7,30.35,31.45,7005.0,29.02,24.06,16.01,17.99,55.08,49.51,8024,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,69.2,69.7,68.2,69.0,366.0,71.18,70.99,51.33,41.29,16.91,25.73,8027,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,51.9,51.9,50.2,50.7,787.0,49.98,51.05,51.79,50.92,40.14,36.39,8028,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,23.85,23.9,23.8,23.9,11.0,23.81,23.34,24.31,24.93,56.86,60.16,8032,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,14.25,14.4,14.2,14.3,229.0,15.07,14.81,12.18,13.02,30.56,39.23,8033,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,16.2,16.5,16.2,16.5,35.0,17.3,18.2,15.34,12.63,32.62,36.06,8034,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,36.0,36.0,35.45,35.75,124.0,35.72,35.46,40.99,50.04,54.41,50.42,8038,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,55.8,56.3,55.0,55.3,2032.0,54.48,52.8,47.42,45.56,67.59,61.8,8039,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,67.5,69.5,64.1,68.0,2659.0,63.36,46.49,24.49,21.39,83.02,73.84,8040,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,48.8,49.0,48.6,48.85,55.0,49.12,46.09,43.83,43.86,49.06,53.29,8042,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,31.15,31.35,30.6,30.9,198.0,31.24,30.28,29.86,27.35,66.8,67.33,8043,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,131.5,136.5,127.0,135.0,5128.0,120.86,107.24,135.72,161.3,71.93,58.16,8044,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,405.5,406.0,387.5,389.5,3639.0,373.97,291.13,142.73,100.19,85.61,86.58,8046,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,12.2,12.2,11.85,12.05,62.0,11.94,11.52,11.16,11.41,47.72,57.98,8047,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,39.55,39.65,39.2,39.45,116.0,37.81,34.91,33.05,30.18,72.74,66.42,8048,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,24.4,24.5,24.35,24.4,199.0,24.25,23.18,20.45,16.96,55.97,58.59,8049,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,39.3,39.3,38.9,38.95,167.0,39.47,39.65,43.34,49.82,62.66,58.22,8050,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,58.0,58.6,53.9,55.9,7310.0,51.5,40.16,26.37,36.45,62.29,58.02,8054,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,10.35,10.35,10.15,10.3,23.0,10.58,11.44,11.76,13.35,30.62,30.28,8059,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,20.9,21.1,20.5,20.65,2637.0,19.65,17.6,16.65,19.97,75.94,73.45,8064,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,47.5,47.5,47.0,47.1,47.0,48.33,52.8,73.25,68.36,15.97,22.05,8066,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,20.95,20.95,19.8,19.95,36.0,20.99,23.48,24.35,27.24,18.72,18.39,8068,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,81.9,84.5,81.1,83.1,12939.0,76.02,61.45,42.96,35.54,83.04,82.49,8069,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,38.1,38.4,37.4,37.95,3162.0,36.97,49.47,97.92,110.2,58.57,52.47,8070,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,12.95,12.95,12.8,12.85,35.0,12.89,12.72,13.7,15.41,41.06,44.31,8071,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,20.8,20.85,20.65,20.85,26.0,20.73,19.65,20.47,21.6,54.73,58.84,8074,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,31.9,32.7,31.9,32.65,620.0,32.82,31.89,40.66,84.84,50.53,52.32,8076,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
171,12.45,13.45,11.25,11.7,1165.0,11.5,11.09,15.58,17.67,51.79,50.82,8077,2021-07-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,276.5,286.5,276.5,279.5,1587.0,255.72,212.34,141.39,127.34,82.97,77.15,8081,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,187.5,187.5,185.5,186.0,58.0,188.83,186.37,162.97,131.97,36.19,43.79,8083,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,77.5,77.5,74.9,75.1,137.0,76.69,71.23,49.34,36.25,45.66,51.3,8084,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,14.2,14.25,14.1,14.1,461.0,13.62,11.32,7.5,7.85,49.24,50.6,8085,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,167.0,168.0,160.0,161.5,4820.0,158.12,142.2,99.71,71.31,66.86,67.94,8086,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,27.9,28.2,27.55,27.8,418.0,28.3,28.3,24.44,22.57,33.43,37.12,8088,2021-08-31

Empty DataFrame
Columns: [o, h, l, c, v, ma4, ma12, ma48, ma120, K, D, stockId, date]
Index: []

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,59.8,60.2,59.7,59.9,78.0,62.05,65.22,69.36,64.95,24.33,29.73,8091,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,9.45,9.61,9.37,9.54,36.0,9.37,9.16,9.12,10.28,49.13,44.61,8092,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,9.55,9.68,9.52,9.55,100.0,9.98,10.06,8.52,10.4,10.48,19.91,8093,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,15.1,15.95,15.0,15.35,6901.0,14.63,13.56,13.17,16.67,74.36,64.27,8096,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,26.0,27.6,26.0,26.95,353.0,26.25,21.17,15.33,13.12,74.11,80.03,8097,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,38.0,38.2,36.2,36.3,315.0,36.77,32.94,24.48,23.15,42.05,45.29,8099,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,2.85,2.85,2.6,2.7,112.0,2.79,3.28,4.31,8.39,12.02,10.24,8101,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,46.7,47.2,46.0,46.75,1490.0,44.76,39.57,32.48,34.94,69.09,64.74,8103,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,52.7,54.2,52.7,53.8,306.0,52.9,51.64,57.93,65.71,43.96,43.11,8104,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,13.3,13.45,13.05,13.35,1639.0,13.55,12.99,13.03,15.43,35.12,44.68,8105,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,20.7,20.7,20.1,20.65,36.0,20.53,20.07,22.05,22.18,36.74,40.24,8107,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,77.2,77.2,76.0,77.0,47.0,74.9,72.32,71.44,64.9,68.1,65.65,8109,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,22.3,23.7,22.1,22.8,38780.0,20.47,16.56,13.04,12.69,75.23,72.91,8110,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,22.25,22.7,22.1,22.7,1133.0,21.62,19.02,13.47,13.62,58.29,58.61,8111,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,44.55,44.7,43.7,44.15,3690.0,42.68,38.9,32.15,26.39,66.31,61.46,8112,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,78.5,78.5,76.0,77.5,16.0,75.98,78.43,99.19,108.51,40.67,29.94,8114,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,20.7,20.75,20.1,20.4,944.0,19.61,17.9,16.79,24.1,62.2,55.95,8121,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,41.4,41.9,41.4,41.9,1184.0,41.15,39.47,35.17,33.25,60.53,59.83,8131,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,57.1,57.7,52.8,55.0,2068.0,50.62,44.81,37.72,35.42,76.75,57.69,8147,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,53.7,54.1,52.6,53.0,10172.0,50.25,43.1,34.17,33.58,87.49,83.79,8150,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,121.5,122.5,119.0,120.0,404.0,118.6,118.22,98.84,72.69,51.77,42.5,8155,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,47.35,47.65,47.1,47.5,1305.0,46.71,44.67,39.8,38.57,59.57,56.94,8163,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,62.5,65.2,61.5,64.0,1530.0,60.13,50.57,28.6,21.21,65.54,65.0,8171,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,8.83,8.87,8.83,8.87,14.0,8.96,9.14,10.33,12.73,43.64,43.6,8176,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,48.4,49.0,47.6,48.7,827.0,46.32,38.74,27.29,22.97,73.03,77.29,8182,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,50.3,50.9,49.1,49.45,1876.0,47.73,37.83,24.26,17.74,74.22,69.19,8183,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,75.4,75.4,74.6,74.7,120.0,75.84,79.58,71.21,56.99,21.93,24.03,8210,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,46.6,46.7,46.3,46.7,744.0,47.21,45.71,39.22,41.18,40.17,51.48,8213,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,41.95,43.0,39.8,41.4,40335.0,36.45,30.54,23.78,22.13,75.18,63.03,8215,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,15.85,16.7,15.55,15.7,958.0,15.04,14.52,16.97,19.04,69.65,63.1,8222,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,23.2,23.2,22.6,22.75,69.0,23.32,24.07,25.97,31.53,24.94,32.75,8234,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,35.15,35.15,34.45,34.95,53.0,34.93,33.38,28.06,36.44,42.23,46.86,8240,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,28.6,28.85,28.6,28.75,803.0,27.29,23.86,21.93,23.2,91.47,84.04,8249,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,212.5,223.5,205.5,217.5,5257.0,186.29,144.17,114.2,116.3,80.13,76.85,8255,2021-08-31

,o,h,l,c,v,ma4,ma12,ma48,ma120,K,D,stockId,date
172,124.0,131.5,122.0,129.0,21576.0,106.23,75.34,44.92,35.43,85.57,80.58,8261,2021-08-31

In [ ]:
# 除權參考價
# otc_cap_reduction -- 減資源因
# otc_cap_reduction -- 詳細資料
# otc_cap_reduction -- otc_cap_divide_ratio
# otc_divide_ratio -- 除權息日期
# otc_divide_ratio -- 代號
# otc_divide_ratio -- 名稱
# otc_divide_ratio -- 除權息前收盤價
# otc_divide_ratio -- 除權息參考價
# crawl_otc_cap_reduction

### 一口氣補回過去的資料
# for stockId in stockIds:
#     i=0
#     print(stockId)
#     while i <= 22:
#         getStockVolumns(stockId, i)
#         i+=1

from collections import Counter
# stockIds = getAllStockIds(False) #取得所有有效能夠計算的股票代號

# for stockId in stockIds:
#     getStockVolumns(stockId, 0)
new_stockIds = set(stockIds)
result = Counter(new_stockIds)
print(len(stockIds), len(result))
# print(Counter(stockIds), stockIds)

In [2]:
### 如何排列均線
wd="www"
md="mmm"
qd="qqq"
yd="yyy"
dict = { wd :45, md :330, qd :422, yd: 15 }
s=""
dict2 = {k: v for k, v in sorted(dict.items(), key=lambda item: item[1] , reverse = True )}
for k in dict2.keys():
   s+=k+"," 
# print(s[:-1])

import _beowSet as bs
print(bs.remove_stocks)

['0050', '0051', '0052', '0053', '0054', '0055', '0056', '0057', '1213', '1258', '1262', '1324', '1333', '1417', '1418', '1438', '1470', '1472', '1475', '5227', '1538', '1566', '1603', '1704', '1787', '2008', '2012', '2035', '2061', '2064', '2066', '2067', '2104', '2230', '2424', '2475', '2543', '2611', '2712', '2718', '2722', '2724', '2734', '2740', '2910', '2924', '2936', '2937', '3036', '3064', '3066', '3073', '3086', '3093', '3095', '3130', '3162', '3207', '3219', '3219', '3226', '3288', '3308', '3332', '3339', '3434', '3452', '3465', '3516', '3519', '3555', '3557', '3562', '3579', '3629', '3682', '3701', '3709', '4131', '4180', '4183', '4304', '4305', '4406', '4415', '4416', '4419', '4429', '4533', '4542', '4543', '4556', '4711', '4725', '4741', '4754', '4767', '4905', '4911', '4934', '4947', '4950', '5011', '5013', '5202', '5205', '5259', '5269', '5276', '5304', '5317', '5348', '5364', '5381', '5398', '5455', '5468', '5480', '5516', '5520', '5543', '5601', '5603', '5703', '5704', '5820', '5902', '6103', '6144', '6174', '6198', '6199', '6204', '6212', '6218', '6221', '6228', '6241', '6242', '6246', '6247', '6287', '6291', '6418', '6419', '6425', '6464', '6512', '6574', '6590', '6593', '6594', '6616', '6625', '6629', '6640', '6649', '6680', '7402', '8067', '8080', '8080', '8087', '8291', '8342', '8354', '8409', '8418', '8420', '8423', '8426', '8455', '8472', '8481', '8488', '8913', '8917', '8921', '8923', '8927', '8934', '8937', '8941', '9157', '9918', '9926', '9928', '9931', '9950', '9960', '1454', '1468', '1525', '1726', '1799', '1808', '6264', '2302', '2364', '2476', '3051', '5533', '5355', '5475', '5701', '6131', '6133', '6225', '6548', '8072', '9949', '3593', '1902', '2311', '2325', '1902', '2499', '3514', '3561', '2856', '4984', '6145', '6422', '8287', '6201', '6203', '6205', '6206', '6207', '6208', '8201']