### Daniel's Pandas PlayGround

In [1]:
import pandas as pd
import numpy as np

df = pd.DataFrame({"B": [0, 1, 2, np.nan, 4]})
print(df)
df.rolling(2, win_type="triang").sum()
df.rolling(2).sum()
#df.rolling(2, min_periods =1).sum()

     B
0  0.0
1  1.0
2  2.0
3  NaN
4  4.0

     B
0  NaN
1  1.0
2  3.0
3  NaN
4  NaN