In [36]:
import datetime
import requests
import pandas as pd
import pickle
import time
import urllib
import os
from io import StringIO
import numpy as np
import warnings
import os
import datetime
import time
from tqdm import tnrange, tqdm_notebook
from requests.exceptions import ConnectionError
from requests.exceptions import ReadTimeout
import ipywidgets as widgets
import pip
import pandas
import gc
import shutil

pd.set_option('display.expand_frame_repr', False)  # 別折行

# res = requests.get("https://github.com/pandas-dev/pandas/blob/master/doc/data/titanic.csv")
# res = requests.get("https://fubon-ebrokerdj.fbs.com.tw/Z/ZG/ZG_BD.djhtm")
# res.encoding = 'utf-8'
res = requests.get("https://histock.tw/stock/2357/每股盈餘")
dfs = pd.read_html(StringIO(res.text))
df = dfs[0]
df = df.rename(columns={"季別/年度": "QQ" })
df.set_index("QQ")
df.head(4)
qqyy = df.head(4).melt("QQ")
qqyy

   QQ  2013  2014  2015  2016  2017  2018  2019   2020   2021
0  Q1  8.04  5.87  4.96  5.60  4.92   3.2  2.94   1.20  13.18
1  Q2  6.33  6.45  6.27  5.55  2.70   1.8  2.27   7.15  15.31
2  Q3  6.63  7.82  5.67  8.05  7.86   4.5  7.58  14.15  15.25
3  Q4  7.66  6.07  6.12  6.65  5.45  -3.8  3.55  13.26      -