In [2]:
import datetime
import requests
import pandas as pd
from io import StringIO
import pandas
pd.set_option('display.expand_frame_repr', False)  # 別折行

res = requests.get(
    "https://github.com/pandas-dev/pandas/blob/master/doc/data/titanic.csv")
# res = requests.get("https://histock.tw/stock/2357/每股盈餘")
dfs = pd.read_html(StringIO(res.text))

titanic = dfs[0]

# 查找單行資料
ages = titanic["Age"]
# 萃取出subtable
age_sex = titanic[["Age", "Sex"]]

# print(ages, type(ages))
# print(ages.shape)
# print(age_sex)

# 年紀大於35歲以上的旅客，Shape是用來查看有多少欄位 多少筆資料。
above_35 = titanic["Age"] > 35
above_35 = titanic[titanic["Age"] > 35]
above_35 = above_35[["Age", "Sex"]]
above_35.shape

# 找出包廂2與3的乘客
class_23 = titanic[(titanic["Pclass"] == 2) | (titanic["Pclass"] == 3)]
class_23.head(20)

# 找出有填寫年紀的乘客。
age_no_na = titanic[titanic["Age"].notna()]
age_no_na.head(10)
age_no_na.shape

# 找出年紀大於35歲的乘客。
adults_names = titanic.loc[titanic["Age"] > 35, "Name"]
adults_names.head(30)

# 用iloc指定欄列資料..
titanic.iloc[12:33, 3:5]

# 改變指定某列資料
titanic.iloc[4:8, 5] = "隱藏姓名"
titanic.head(10)

   Unnamed: 0  PassengerId  Survived  Pclass                                               Name     Sex   Age  SibSp  Parch            Ticket     Fare Cabin Embarked
0         NaN            1         0       3                            Braund, Mr. Owen Harris    male  22.0      1      0         A/5 21171   7.2500   NaN        S
1         NaN            2         1       1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1      0          PC 17599  71.2833   C85        C
2         NaN            3         1       3                             Heikkinen, Miss. Laina  female  26.0      0      0  STON/O2. 3101282   7.9250   NaN        S
3         NaN            4         1       1       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1      0            113803  53.1000  C123        S
4         NaN            5         0       3                           Allen, Mr. William Henry    隱藏姓名  35.0      0      0            373450   8.0500   NaN        S
5         NaN            6         0       3                                   Moran, Mr. James    隱藏姓名   NaN      0      0            330877   8.4583   NaN        Q
6         NaN            7         0       1                            McCarthy, Mr. Timothy J    隱藏姓名  54.0      0      0             17463  51.8625   E46        S
7         NaN            8         0       3                     Palsson, Master. Gosta Leonard    隱藏姓名   2.0      3      1            349909  21.0750   NaN        S
8         NaN            9         1       3  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0      2            347742  11.1333   NaN        S
9         NaN           10         1       2                Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1      0            237736  30.0708   NaN        C