In [1]:
import datetime
import requests
import pandas as pd
from io import StringIO
import pandas
pd.set_option('display.expand_frame_repr', False)  # 別折行

res = requests.get(
    "https://github.com/pandas-dev/pandas/blob/master/doc/data/titanic.csv")
# res = requests.get("https://histock.tw/stock/2357/每股盈餘")
dfs = pd.read_html(StringIO(res.text))

titanic = dfs[0]

# 查找單行資料
ages = titanic["Age"]
# 萃取出subtable
age_sex = titanic[["Age", "Sex"]]

# 年紀大於35歲以上的旅客，Shape是用來查看有多少欄位 多少筆資料。
above_35 = titanic["Age"] > 35
above_35 = titanic[titanic["Age"] > 35]
above_35 = above_35[["Age", "Sex"]]
above_35.shape

# 找出包廂2與3的乘客
class_23 = titanic[(titanic["Pclass"] == 2) | (titanic["Pclass"] == 3)]
class_23.head(20)

# 找出有填寫年紀的乘客。
age_no_na = titanic[titanic["Age"].notna()]
age_no_na.head(10)
age_no_na.shape

# 找出年紀大於35歲的乘客。
adults_names = titanic.loc[titanic["Age"] > 35, "Name"]
adults_names.head(30)

# 用iloc指定欄列資料..
titanic.iloc[12:33, 3:5]

# 改變指定某列資料
titanic.iloc[4:8, 5] = "隱藏姓名"
titanic.head(10)

### ===========================================================================================
# 平均值計算
titanic["Age"].mean()

# 中位數計算：對於年紀與票價。
titanic[["Age", "Fare"]].median()

# aggregation 
titanic.agg(
    {
        "Age": ["min", "max", "median", "skew"],
        "Fare": ["min", "max", "median", "mean"],
    }
)

# 針對某欄位統計運算
#  The groupby method is used to support this type of operations. 
#  More general, this fits in the more general "split-apply-combine" pattern: Split the data into groups
#  Apply a function to each group independently Combine the results into a data structure
titanic[["Sex", "Age"]].mean()                          #只會算出不區分男女的
titanic[["Sex", "Age"]].groupby("Sex").mean()           #先選擇欄位，
titanic.groupby("Sex").mean()                           #區分男女之後 作所有欄位的統計
titanic.groupby("Sex")["Age"].mean()
titanic.groupby(["Sex", "Pclass"])["Fare"].mean()       #不同男女的各艙位等級的票價。

# 統計筆數
titanic["Pclass"].dropna().value_counts()                        #簡潔寫法，不會排序
# titanic.groupby("Pclass")["Pclass"].count()             #正統寫法

3    491
1    216
2    184
Name: Pclass, dtype: int64