In [16]:
import datetime
import requests
import pandas as pd
from io import StringIO
import pandas
pd.set_option('display.expand_frame_repr', False)  # 別折行

# refs:https://pandas.pydata.org/docs/getting_started/intro_tutorials/05_add_columns.html
# 資料來源：倫敦的空氣品質資料
data_url = "https://raw.githubusercontent.com/pandas-dev/pandas/master/doc/data/air_quality_no2.csv"
air_quality = pd.read_csv(data_url, index_col=0, parse_dates=True)
air_quality.head(20)

# 如何衍生出新一欄的資料? 不需要for-loop就可以產生。
# 如果要將C02的單位轉換為mg/M3
air_quality["london_mg_per_cubic"] = air_quality["station_london"] * 1.882
air_quality.head(20)

# 衍生計算出巴黎與安普頓的比率
air_quality["ratio_paris_antwerp"] = (
    air_quality["station_paris"] / air_quality["station_antwerp"]
)
air_quality.head(20)

# 更改欄位名稱
air_quality_renamed = air_quality.rename(
    columns={
        "station_antwerp": "BETR801",
        "station_paris": "FR04014",
        "station_london": "London Westminster",
    }
)
air_quality_renamed.head()

# 全部更改小寫
air_quality_renamed = air_quality_renamed.rename(columns=str.lower)
air_quality_renamed.head()

                     BETR801  FR04014  London Westminster  london_mg_per_cubic  ratio_paris_antwerp
datetime
2019-05-07 02:00:00      NaN      NaN                23.0               43.286                  NaN
2019-05-07 03:00:00     50.5     25.0                19.0               35.758             0.495050
2019-05-07 04:00:00     45.0     27.7                19.0               35.758             0.615556
2019-05-07 05:00:00      NaN     50.4                16.0               30.112                  NaN
2019-05-07 06:00:00      NaN     61.9                 NaN                  NaN                  NaN